/*=============== BREAKPOINTS ===============*/
/* For medium devices <> */
@media (width >= 540px){
   .login{
      grid-template-columns: 400px;
      justify-content: center;
   }
}

/* For large devices <> */
@media (width >= 1150px){
   .login{
      grid-template-columns: initial;

      &__image{
         overflow: hidden;
         border-radius: 3rem;
      }
      &__img{
         display: block;
         width: 480px;
         border-radius: 3rem;
      }
      &__content{
         display: grid;
         grid-template-columns: 360px 480px;
         column-gap: 7rem;
         align-items: center;
         padding: 1.5rem 1.5rem 1.5rem 7rem;
         border-radius: 4rem;
         overflow: hidden;
      }
   }
}
