/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
   /*========== Colors ==========*/
   /*Color mode HSL(hue, saturation, lightness)*/
   --first-color: hsl(150, 62%, 48%);
   --white-color: hsl(150, 62%, 96%);
   --body-color: hsl(150, 100%, 98%);

   /*========== Font and typography ==========*/
   /*.5rem = 8px | 1rem = 16px ...*/
   --body-font: "Unbounded", sans-serif;

   --h3-font-size: 1.25rem;
   --small-font-size: .875rem;
}
