:root {
	--table-color: #f6e2d8;

	--lambFill: #b94e27;
	--beefFill: #ca2427;
	--chickenFill: #cc813c;
	--salmonFill: #f26f63;
	--pepperFill: #82a545;
	--onionFill: #fcf9d4;
	--falafelFill: #603e20;
	--tofuFill: #ffe0a0;
	--tomatoFill: #d64f45;
	--mushroomFill: #ea9b65;
	--zucchiniFill: #d0e0af;
	--eggplantFill: #a480a0;

	--tilePattern: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="10vmin" height="10vmin" viewBox="0 0 100 100"><rect width="50" height="50" fill="%23edb5ac80"/><rect x="50" y="50" width="50" height="50" fill="%23edb5ac80"/><rect x="50" y="0" width="50" height="50" fill="%23f8e5db80"/><rect x="0" y="50" width="50" height="50" fill="%23f8e5db80"/></svg>');

	/* SVGs encoded with https://cdpn.io/rrOZQQ */
	--lambSVG: url("data:image/svg+xml;charset=utf-8, %3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 92.15 97.27'%3E %3Cdefs%3E %3Cstyle%3E .cls-1 %7B fill: %23b94e27%3B stroke: %2370321e%3B stroke-miterlimit: 10%3B %7D %3C/style%3E %3C/defs%3E %3Crect class='cls-1' x='.5' y='9.34' width='40' height='30' rx='10' ry='10'/%3E %3Crect class='cls-1' x='50.41' y='10.59' width='40' height='30' rx='10' ry='10'/%3E %3Crect class='cls-1' x='1.47' y='33.25' width='40' height='30' rx='10' ry='10' transform='translate(11.19 -3.55) rotate(12.77)'/%3E %3Crect class='cls-1' x='23.14' y='3.2' width='40' height='30' rx='10' ry='10' transform='translate(-3.43 13.34) rotate(-16.92)'/%3E %3Crect class='cls-1' x='51.65' y='49.49' width='40' height='30' rx='10' ry='10'/%3E %3Crect class='cls-1' x='21.77' y='30.76' width='40' height='30' rx='10' ry='10' transform='translate(-14.74 20.36) rotate(-23.41)'/%3E %3Crect class='cls-1' x='50.12' y='22.29' width='40' height='30' rx='10' ry='10' transform='translate(46.91 -38.66) rotate(45)'/%3E %3Crect class='cls-1' x='.78' y='61.4' width='40' height='30' rx='10' ry='10'/%3E %3Crect class='cls-1' x='19.77' y='58.22' width='40' height='30' rx='10' ry='10' transform='translate(122.92 67.88) rotate(114.83)'/%3E %3Crect class='cls-1' x='48.29' y='63.05' width='40' height='30' rx='10' ry='10' transform='translate(38.74 -21.36) rotate(24.63)'/%3E %3C/svg%3E");
	--beefSVG: url("data:image/svg+xml;charset=utf-8, %3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 92.15 97.27'%3E %3Cdefs%3E %3Cstyle%3E .cls-1 %7B fill: %23ca2427%3B stroke: %2387171a%3B stroke-miterlimit: 10%3B %7D %3C/style%3E %3C/defs%3E %3Crect class='cls-1' x='.5' y='9.34' width='40' height='30' rx='10' ry='10'/%3E %3Crect class='cls-1' x='50.41' y='10.59' width='40' height='30' rx='10' ry='10'/%3E %3Crect class='cls-1' x='1.47' y='33.25' width='40' height='30' rx='10' ry='10' transform='translate(11.19 -3.55) rotate(12.77)'/%3E %3Crect class='cls-1' x='23.14' y='3.2' width='40' height='30' rx='10' ry='10' transform='translate(-3.43 13.34) rotate(-16.92)'/%3E %3Crect class='cls-1' x='51.65' y='49.49' width='40' height='30' rx='10' ry='10'/%3E %3Crect class='cls-1' x='21.77' y='30.76' width='40' height='30' rx='10' ry='10' transform='translate(-14.74 20.36) rotate(-23.41)'/%3E %3Crect class='cls-1' x='50.12' y='22.29' width='40' height='30' rx='10' ry='10' transform='translate(46.91 -38.66) rotate(45)'/%3E %3Crect class='cls-1' x='.78' y='61.4' width='40' height='30' rx='10' ry='10'/%3E %3Crect class='cls-1' x='19.77' y='58.22' width='40' height='30' rx='10' ry='10' transform='translate(122.92 67.88) rotate(114.83)'/%3E %3Crect class='cls-1' x='48.29' y='63.05' width='40' height='30' rx='10' ry='10' transform='translate(38.74 -21.36) rotate(24.63)'/%3E %3C/svg%3E");
	--chickenSVG: url("data:image/svg+xml;charset=utf-8, %3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 92.15 97.27'%3E %3Cdefs%3E %3Cstyle%3E .cls-1 %7B fill: %23cc813c%3B stroke: %23844d20%3B stroke-miterlimit: 10%3B %7D %3C/style%3E %3C/defs%3E %3Crect class='cls-1' x='.5' y='9.34' width='40' height='30' rx='10' ry='10'/%3E %3Crect class='cls-1' x='50.41' y='10.59' width='40' height='30' rx='10' ry='10'/%3E %3Crect class='cls-1' x='1.47' y='33.25' width='40' height='30' rx='10' ry='10' transform='translate(11.19 -3.55) rotate(12.77)'/%3E %3Crect class='cls-1' x='23.14' y='3.2' width='40' height='30' rx='10' ry='10' transform='translate(-3.43 13.34) rotate(-16.92)'/%3E %3Crect class='cls-1' x='51.65' y='49.49' width='40' height='30' rx='10' ry='10'/%3E %3Crect class='cls-1' x='21.77' y='30.76' width='40' height='30' rx='10' ry='10' transform='translate(-14.74 20.36) rotate(-23.41)'/%3E %3Crect class='cls-1' x='50.12' y='22.29' width='40' height='30' rx='10' ry='10' transform='translate(46.91 -38.66) rotate(45)'/%3E %3Crect class='cls-1' x='.78' y='61.4' width='40' height='30' rx='10' ry='10'/%3E %3Crect class='cls-1' x='19.77' y='58.22' width='40' height='30' rx='10' ry='10' transform='translate(122.92 67.88) rotate(114.83)'/%3E %3Crect class='cls-1' x='48.29' y='63.05' width='40' height='30' rx='10' ry='10' transform='translate(38.74 -21.36) rotate(24.63)'/%3E %3C/svg%3E");
	--salmonSVG: url("data:image/svg+xml;charset=utf-8, %3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 92.15 97.27'%3E %3Cdefs%3E %3Cstyle%3E .cls-1 %7B fill: %23f26f63%3B stroke: %23a0322b%3B stroke-miterlimit: 10%3B %7D %3C/style%3E %3C/defs%3E %3Crect class='cls-1' x='.5' y='9.34' width='40' height='30' rx='10' ry='10'/%3E %3Crect class='cls-1' x='50.41' y='10.59' width='40' height='30' rx='10' ry='10'/%3E %3Crect class='cls-1' x='1.47' y='33.25' width='40' height='30' rx='10' ry='10' transform='translate(11.19 -3.55) rotate(12.77)'/%3E %3Crect class='cls-1' x='23.14' y='3.2' width='40' height='30' rx='10' ry='10' transform='translate(-3.43 13.34) rotate(-16.92)'/%3E %3Crect class='cls-1' x='51.65' y='49.49' width='40' height='30' rx='10' ry='10'/%3E %3Crect class='cls-1' x='21.77' y='30.76' width='40' height='30' rx='10' ry='10' transform='translate(-14.74 20.36) rotate(-23.41)'/%3E %3Crect class='cls-1' x='50.12' y='22.29' width='40' height='30' rx='10' ry='10' transform='translate(46.91 -38.66) rotate(45)'/%3E %3Crect class='cls-1' x='.78' y='61.4' width='40' height='30' rx='10' ry='10'/%3E %3Crect class='cls-1' x='19.77' y='58.22' width='40' height='30' rx='10' ry='10' transform='translate(122.92 67.88) rotate(114.83)'/%3E %3Crect class='cls-1' x='48.29' y='63.05' width='40' height='30' rx='10' ry='10' transform='translate(38.74 -21.36) rotate(24.63)'/%3E %3C/svg%3E");
	--pepperSVG: url("data:image/svg+xml;charset=utf-8, %3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 94.36 87.64'%3E %3Cdefs%3E %3Cstyle%3E .cls-1 %7B fill: %2382a545%3B stroke: %23587132%3B stroke-miterlimit: 10%3B %7D %3C/style%3E %3C/defs%3E %3Cpolygon class='cls-1' points='44.83 82.13 24.83 87.13 4.83 82.13 4.83 72.13 24.83 67.13 44.83 72.13 44.83 82.13'/%3E %3Cpolygon class='cls-1' points='38.86 51.33 25.63 67.14 6.52 74.87 .63 66.79 13.86 50.97 32.97 43.24 38.86 51.33'/%3E %3Cpolygon class='cls-1' points='45.07 31.98 27.67 43.03 7.12 44.6 3.96 35.11 21.36 24.05 41.92 22.49 45.07 31.98'/%3E %3Cpolygon class='cls-1' points='93.86 55.57 73.86 60.57 53.86 55.57 53.86 45.57 73.86 40.57 93.86 45.57 93.86 55.57'/%3E %3Cpolygon class='cls-1' points='89.63 73.01 69.63 78.01 49.63 73.01 49.63 63.01 69.63 58.01 89.63 63.01 89.63 73.01'/%3E %3Cpolygon class='cls-1' points='70.7 29.72 50.7 34.72 30.7 29.72 30.7 19.72 50.7 14.72 70.7 19.72 70.7 29.72'/%3E %3Cpolygon class='cls-1' points='43.14 17.97 24.39 26.54 3.82 25.27 1.99 15.44 20.74 6.87 41.32 8.14 43.14 17.97'/%3E %3Cpolygon class='cls-1' points='67 19.56 46.39 20.01 27.99 10.7 30.21 .95 50.82 .5 69.21 9.81 67 19.56'/%3E %3Cpolygon class='cls-1' points='92.63 19.96 73.52 27.69 53.02 25.51 51.63 15.61 70.74 7.88 91.24 10.05 92.63 19.96'/%3E %3Cpolygon class='cls-1' points='42.25 52.82 22.25 57.82 2.25 52.82 2.25 42.82 22.25 37.82 42.25 42.82 42.25 52.82'/%3E %3Cpolygon class='cls-1' points='90.44 41.9 70.44 46.9 50.44 41.9 50.44 31.9 70.44 26.9 90.44 31.9 90.44 41.9'/%3E %3Cpolygon class='cls-1' points='71.61 86.97 51.01 86.16 33.22 75.76 36.02 66.16 56.62 66.97 74.41 77.37 71.61 86.97'/%3E %3Cpolygon class='cls-1' points='65.06 58.21 47.38 68.81 26.79 69.86 23.88 60.29 41.56 49.68 62.15 48.64 65.06 58.21'/%3E %3Cpolygon class='cls-1' points='63.51 50.47 42.91 49.66 25.11 39.26 27.92 29.66 48.52 30.47 66.31 40.87 63.51 50.47'/%3E %3C/svg%3E");
	--onionSVG: url("data:image/svg+xml;charset=utf-8, %3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 94.36 87.64'%3E %3Cdefs%3E %3Cstyle%3E .cls-1 %7B fill: %23fcf9d4%3B stroke: %23b6b290%3B stroke-miterlimit: 10%3B %7D %3C/style%3E %3C/defs%3E %3Cpolygon class='cls-1' points='44.83 82.13 24.83 87.13 4.83 82.13 4.83 72.13 24.83 67.13 44.83 72.13 44.83 82.13'/%3E %3Cpolygon class='cls-1' points='38.86 51.33 25.63 67.14 6.52 74.87 .63 66.79 13.86 50.97 32.97 43.24 38.86 51.33'/%3E %3Cpolygon class='cls-1' points='45.07 31.98 27.67 43.03 7.12 44.6 3.96 35.11 21.36 24.05 41.92 22.49 45.07 31.98'/%3E %3Cpolygon class='cls-1' points='93.86 55.57 73.86 60.57 53.86 55.57 53.86 45.57 73.86 40.57 93.86 45.57 93.86 55.57'/%3E %3Cpolygon class='cls-1' points='89.63 73.01 69.63 78.01 49.63 73.01 49.63 63.01 69.63 58.01 89.63 63.01 89.63 73.01'/%3E %3Cpolygon class='cls-1' points='70.7 29.72 50.7 34.72 30.7 29.72 30.7 19.72 50.7 14.72 70.7 19.72 70.7 29.72'/%3E %3Cpolygon class='cls-1' points='43.14 17.97 24.39 26.54 3.82 25.27 1.99 15.44 20.74 6.87 41.32 8.14 43.14 17.97'/%3E %3Cpolygon class='cls-1' points='67 19.56 46.39 20.01 27.99 10.7 30.21 .95 50.82 .5 69.21 9.81 67 19.56'/%3E %3Cpolygon class='cls-1' points='92.63 19.96 73.52 27.69 53.02 25.51 51.63 15.61 70.74 7.88 91.24 10.05 92.63 19.96'/%3E %3Cpolygon class='cls-1' points='42.25 52.82 22.25 57.82 2.25 52.82 2.25 42.82 22.25 37.82 42.25 42.82 42.25 52.82'/%3E %3Cpolygon class='cls-1' points='90.44 41.9 70.44 46.9 50.44 41.9 50.44 31.9 70.44 26.9 90.44 31.9 90.44 41.9'/%3E %3Cpolygon class='cls-1' points='71.61 86.97 51.01 86.16 33.22 75.76 36.02 66.16 56.62 66.97 74.41 77.37 71.61 86.97'/%3E %3Cpolygon class='cls-1' points='65.06 58.21 47.38 68.81 26.79 69.86 23.88 60.29 41.56 49.68 62.15 48.64 65.06 58.21'/%3E %3Cpolygon class='cls-1' points='63.51 50.47 42.91 49.66 25.11 39.26 27.92 29.66 48.52 30.47 66.31 40.87 63.51 50.47'/%3E %3C/svg%3E");
	--falafelSVG: url("data:image/svg+xml;charset=utf-8, %3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 97.17 94.41'%3E %3Cdefs%3E %3Cstyle%3E .cls-1 %7B fill: %23603e20%3B stroke: %23442a18%3B stroke-miterlimit: 10%3B %7D %3C/style%3E %3C/defs%3E %3Ccircle class='cls-1' cx='26.93' cy='20.5' r='20'/%3E %3Ccircle class='cls-1' cx='62.95' cy='20.86' r='20'/%3E %3Ccircle class='cls-1' cx='20.5' cy='50.31' r='20'/%3E %3Ccircle class='cls-1' cx='76.67' cy='44.55' r='20'/%3E %3Ccircle class='cls-1' cx='39.11' cy='34.38' r='20'/%3E %3Ccircle class='cls-1' cx='30.92' cy='72.78' r='20'/%3E %3Ccircle class='cls-1' cx='68.48' cy='73.91' r='20'/%3E %3Ccircle class='cls-1' cx='55.77' cy='55.28' r='20'/%3E %3C/svg%3E");
	--tofuSVG: url("data:image/svg+xml;charset=utf-8, %3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 92.69 89.27'%3E %3Cdefs%3E %3Cstyle%3E .cls-1 %7B fill: %23ffe0a0%3B stroke: %23f4c676%3B stroke-miterlimit: 10%3B %7D %3C/style%3E %3C/defs%3E %3Crect class='cls-1' x='8.68' y='5.77' width='30' height='30' transform='translate(-6.75 12.65) rotate(-26.32)'/%3E %3Crect class='cls-1' x='35.78' y='3.22' width='30' height='30' transform='translate(4.51 -9.53) rotate(11.21)'/%3E %3Crect class='cls-1' x='3.6' y='26.94' width='30' height='30' transform='translate(9.94 -3.11) rotate(13.04)'/%3E %3Crect class='cls-1' x='57.81' y='39.65' width='30' height='30' transform='translate(23.26 -21.72) rotate(20.13)'/%3E %3Crect class='cls-1' x='27.88' y='32.59' width='30' height='30' transform='translate(25.48 -14.06) rotate(26.26)'/%3E %3Crect class='cls-1' x='51.74' y='16.21' width='30' height='30' transform='translate(-6.91 29.14) rotate(-23.46)'/%3E %3Crect class='cls-1' x='3.6' y='57.43' width='30' height='30'/%3E %3Crect class='cls-1' x='27.86' y='54.46' width='30' height='30' transform='translate(-20.88 18.49) rotate(-19.68)'/%3E %3Crect class='cls-1' x='51.88' y='56.59' width='30' height='30'/%3E %3C/svg%3E");
	--tomatoSVG: url("data:image/svg+xml;charset=utf-8, %3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 94.58 92.78'%3E %3Cdefs%3E %3Cstyle%3E .cls-1 %7B fill: %23d64f45%3B stroke: %239d3742%3B stroke-miterlimit: 10%3B %7D %3C/style%3E %3C/defs%3E %3Ccircle class='cls-1' cx='25.4' cy='16.35' r='15'/%3E %3Ccircle class='cls-1' cx='15.8' cy='43.45' r='15'/%3E %3Ccircle class='cls-1' cx='53.64' cy='15.5' r='15'/%3E %3Ccircle class='cls-1' cx='54.76' cy='35.27' r='15'/%3E %3Ccircle class='cls-1' cx='79.08' cy='22.22' r='15'/%3E %3Ccircle class='cls-1' cx='78.2' cy='46.56' r='15'/%3E %3Ccircle class='cls-1' cx='15.5' cy='75.23' r='15'/%3E %3Ccircle class='cls-1' cx='56.06' cy='52.71' r='15'/%3E %3Ccircle class='cls-1' cx='77.23' cy='70.74' r='15'/%3E %3Ccircle class='cls-1' cx='49.28' cy='77.27' r='15'/%3E %3Ccircle class='cls-1' cx='34.88' cy='60.33' r='15'/%3E %3Ccircle class='cls-1' cx='33.61' cy='35.77' r='15'/%3E %3C/svg%3E");
	--mushroomSVG: url("data:image/svg+xml;charset=utf-8, %3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 97.88 94.05'%3E %3Cdefs%3E %3Cstyle%3E .cls-1 %7B fill: %23ea9b65%3B stroke: %23b7662c%3B stroke-miterlimit: 10%3B %7D %3C/style%3E %3C/defs%3E %3Cpath class='cls-1' d='M41.06%2C19.14C42.5%2C8.18%2C52.55.47%2C63.5%2C1.91c10.95%2C1.44%2C18.66%2C11.48%2C17.22%2C22.44l-39.66-5.21Z'/%3E %3Cpath class='cls-1' d='M62.92%2C49.34c-5.7-9.46-2.64-21.75%2C6.82-27.45%2C9.46-5.7%2C21.75-2.64%2C27.45%2C6.82l-34.27%2C20.63Z'/%3E %3Cpath class='cls-1' d='M.6%2C37.21c2.58-10.74%2C13.37-17.36%2C24.12-14.78s17.36%2C13.37%2C14.78%2C24.12L.6%2C37.21Z'/%3E %3Cpath class='cls-1' d='M4.56%2C80.12c-3.47-10.49%2C2.23-21.8%2C12.72-25.26%2C10.49-3.47%2C21.8%2C2.23%2C25.26%2C12.72l-37.98%2C12.55Z'/%3E %3Cpath class='cls-1' d='M53.98%2C67.31c-1.81-10.9%2C5.57-21.19%2C16.46-23%2C10.9-1.81%2C21.19%2C5.57%2C23%2C16.46l-39.46%2C6.54Z'/%3E %3Cpath class='cls-1' d='M43.83.61c2.71%2C10.71-3.76%2C21.59-14.47%2C24.3S7.77%2C21.14%2C5.06%2C10.44L43.83.61Z'/%3E %3Cpath class='cls-1' d='M6.34%2C55.15c0-11.05%2C8.95-20%2C20-20s20%2C8.95%2C20%2C20H6.34Z'/%3E %3Cpath class='cls-1' d='M40.32%2C49.7c-.11-11.05%2C8.75-20.09%2C19.8-20.2s20.09%2C8.75%2C20.2%2C19.8l-40%2C.4Z'/%3E %3Cpath class='cls-1' d='M28.85%2C82.09c-3.28-10.55%2C2.61-21.76%2C13.16-25.04%2C10.55-3.28%2C21.76%2C2.61%2C25.04%2C13.16l-38.2%2C11.88Z'/%3E %3Cpath class='cls-1' d='M50.32%2C70.67c4.38-10.14%2C16.15-14.81%2C26.29-10.43%2C10.14%2C4.38%2C14.81%2C16.15%2C10.43%2C26.29l-36.72-15.87Z'/%3E %3Cpath class='cls-1' d='M44.74%2C93.55c0-11.05%2C8.95-20%2C20-20s20%2C8.95%2C20%2C20h-40Z'/%3E %3Cpath class='cls-1' d='M47.64%2C77.93c-3.07%2C10.61-14.16%2C16.72-24.77%2C13.65-10.61-3.07-16.72-14.16-13.65-24.77l38.42%2C11.12Z'/%3E %3Cpath class='cls-1' d='M19.64%2C30.05c2.89-10.66%2C13.88-16.96%2C24.54-14.06%2C10.66%2C2.89%2C16.96%2C13.88%2C14.06%2C24.54l-38.6-10.48Z'/%3E %3C/svg%3E");
	--zucchiniSVG: url("data:image/svg+xml;charset=utf-8, %3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 94.36 87.64'%3E %3Cdefs%3E %3Cstyle%3E .cls-1 %7B fill: %23d0e0af%3B stroke: %234d7335%3B stroke-miterlimit: 10%3B %7D %3C/style%3E %3C/defs%3E %3Cpolygon class='cls-1' points='44.83 82.13 24.83 87.13 4.83 82.13 4.83 72.13 24.83 67.13 44.83 72.13 44.83 82.13'/%3E %3Cpolygon class='cls-1' points='38.86 51.33 25.63 67.14 6.52 74.87 .63 66.79 13.86 50.97 32.97 43.24 38.86 51.33'/%3E %3Cpolygon class='cls-1' points='45.07 31.98 27.67 43.03 7.12 44.6 3.96 35.11 21.36 24.05 41.92 22.49 45.07 31.98'/%3E %3Cpolygon class='cls-1' points='93.86 55.57 73.86 60.57 53.86 55.57 53.86 45.57 73.86 40.57 93.86 45.57 93.86 55.57'/%3E %3Cpolygon class='cls-1' points='89.63 73.01 69.63 78.01 49.63 73.01 49.63 63.01 69.63 58.01 89.63 63.01 89.63 73.01'/%3E %3Cpolygon class='cls-1' points='70.7 29.72 50.7 34.72 30.7 29.72 30.7 19.72 50.7 14.72 70.7 19.72 70.7 29.72'/%3E %3Cpolygon class='cls-1' points='43.14 17.97 24.39 26.54 3.82 25.27 1.99 15.44 20.74 6.87 41.32 8.14 43.14 17.97'/%3E %3Cpolygon class='cls-1' points='67 19.56 46.39 20.01 27.99 10.7 30.21 .95 50.82 .5 69.21 9.81 67 19.56'/%3E %3Cpolygon class='cls-1' points='92.63 19.96 73.52 27.69 53.02 25.51 51.63 15.61 70.74 7.88 91.24 10.05 92.63 19.96'/%3E %3Cpolygon class='cls-1' points='42.25 52.82 22.25 57.82 2.25 52.82 2.25 42.82 22.25 37.82 42.25 42.82 42.25 52.82'/%3E %3Cpolygon class='cls-1' points='90.44 41.9 70.44 46.9 50.44 41.9 50.44 31.9 70.44 26.9 90.44 31.9 90.44 41.9'/%3E %3Cpolygon class='cls-1' points='71.61 86.97 51.01 86.16 33.22 75.76 36.02 66.16 56.62 66.97 74.41 77.37 71.61 86.97'/%3E %3Cpolygon class='cls-1' points='65.06 58.21 47.38 68.81 26.79 69.86 23.88 60.29 41.56 49.68 62.15 48.64 65.06 58.21'/%3E %3Cpolygon class='cls-1' points='63.51 50.47 42.91 49.66 25.11 39.26 27.92 29.66 48.52 30.47 66.31 40.87 63.51 50.47'/%3E %3C/svg%3E");
	--eggplantSVG: url("data:image/svg+xml;charset=utf-8, %3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 94.36 87.64'%3E %3Cdefs%3E %3Cstyle%3E .cls-1 %7B fill: %23a480a0%3B stroke: %23521f5b%3B stroke-miterlimit: 10%3B %7D %3C/style%3E %3C/defs%3E %3Cpolygon class='cls-1' points='44.83 82.13 24.83 87.13 4.83 82.13 4.83 72.13 24.83 67.13 44.83 72.13 44.83 82.13'/%3E %3Cpolygon class='cls-1' points='38.86 51.33 25.63 67.14 6.52 74.87 .63 66.79 13.86 50.97 32.97 43.24 38.86 51.33'/%3E %3Cpolygon class='cls-1' points='45.07 31.98 27.67 43.03 7.12 44.6 3.96 35.11 21.36 24.05 41.92 22.49 45.07 31.98'/%3E %3Cpolygon class='cls-1' points='93.86 55.57 73.86 60.57 53.86 55.57 53.86 45.57 73.86 40.57 93.86 45.57 93.86 55.57'/%3E %3Cpolygon class='cls-1' points='89.63 73.01 69.63 78.01 49.63 73.01 49.63 63.01 69.63 58.01 89.63 63.01 89.63 73.01'/%3E %3Cpolygon class='cls-1' points='70.7 29.72 50.7 34.72 30.7 29.72 30.7 19.72 50.7 14.72 70.7 19.72 70.7 29.72'/%3E %3Cpolygon class='cls-1' points='43.14 17.97 24.39 26.54 3.82 25.27 1.99 15.44 20.74 6.87 41.32 8.14 43.14 17.97'/%3E %3Cpolygon class='cls-1' points='67 19.56 46.39 20.01 27.99 10.7 30.21 .95 50.82 .5 69.21 9.81 67 19.56'/%3E %3Cpolygon class='cls-1' points='92.63 19.96 73.52 27.69 53.02 25.51 51.63 15.61 70.74 7.88 91.24 10.05 92.63 19.96'/%3E %3Cpolygon class='cls-1' points='42.25 52.82 22.25 57.82 2.25 52.82 2.25 42.82 22.25 37.82 42.25 42.82 42.25 52.82'/%3E %3Cpolygon class='cls-1' points='90.44 41.9 70.44 46.9 50.44 41.9 50.44 31.9 70.44 26.9 90.44 31.9 90.44 41.9'/%3E %3Cpolygon class='cls-1' points='71.61 86.97 51.01 86.16 33.22 75.76 36.02 66.16 56.62 66.97 74.41 77.37 71.61 86.97'/%3E %3Cpolygon class='cls-1' points='65.06 58.21 47.38 68.81 26.79 69.86 23.88 60.29 41.56 49.68 62.15 48.64 65.06 58.21'/%3E %3Cpolygon class='cls-1' points='63.51 50.47 42.91 49.66 25.11 39.26 27.92 29.66 48.52 30.47 66.31 40.87 63.51 50.47'/%3E %3C/svg%3E");
	--coldSVG: url("data:image/svg+xml;charset=utf-8, %3Csvg width='70' height='70' id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E %3Cdefs%3E %3Cstyle%3E .cls-1 %7B fill: %237c7c7c%3B %7D .cls-2 %7B fill: %231e1f21%3B %7D .cls-3 %7B fill: %230b0c04%3B %7D .cls-4 %7B fill: %231e1f21%3B %7D %3C/style%3E %3C/defs%3E %3Cpath class='cls-1' d='M38.58%2C89.81c1.65.51%2C3.99%2C1.24%2C6.42%2C2.34-.04-1.72.23-3.31.79-4.55-2.3%2C1.07-4.77%2C1.79-7.31%2C2.18.03%2C0%2C.06.02.09.03Z'/%3E %3Cpath class='cls-1' d='M58.85%2C64.92c.36%2C2.24.22%2C4.5-.26%2C6.65%2C2.2-2.24%2C5.22-4.21%2C8.46-6.04-3.6.45-5.98.55-8.2-.6Z'/%3E %3Cpath class='cls-1' d='M71.18.85c6.7-1.07%2C12.4%2C3%2C15.11%2C7.56.53.89.98%2C1.86%2C1.33%2C2.86%2C3.05-2.11%2C6.66-4%2C10.16-5.82.76-.4%2C1.5-.78%2C2.23-1.16V0h-29.17c-.08.34-.18.68-.31.99.22-.05.44-.1.66-.14Z'/%3E %3Cpath class='cls-1' d='M52.7%2C50.34c-1.09-.02-2.2-.21-3.3-.53-.23.63-.57%2C1.46-1.05%2C2.36%2C1.59.75%2C3.07%2C1.64%2C4.39%2C2.68-.24-1.59-.26-3.14-.04-4.51Z'/%3E %3Cpath class='cls-1' d='M33.83%2C29.92c-.53-5.02.37-10.42%2C2.5-14.19-1.9-.65-3.3-1.81-6.54-4.1%2C1.3%2C2.77%2C1.82%2C5.65%2C1.22%2C8.18-.44%2C1.88-2.93%2C4.27-7.68%2C8.13%2C3.63.29%2C7.36%2C1.21%2C10.17%2C1.9.1.03.22.05.32.08Z'/%3E %3Cpath class='cls-1' d='M87.25%2C93.67c-2.43%2C1.84-3.98%2C2.86-5.04%2C3.15-3.5.99-7.62.51-11.59-.93.4%2C1.43.49%2C2.85.21%2C4.1h29.17v-.09c-4.46-.45-9.38-2.81-12.75-6.24Z'/%3E %3Cpath class='cls-1' d='M59.23%2C21.9c2.96%2C3.32%2C7.62%2C8.56%2C7.97%2C14.24%2C2.11-2.82%2C4.65-5.52%2C7.21-7.32-7.55-1.44-15.8-7.91-15.33-15.5.2-3.22%2C1.97-6.52%2C4.72-8.95-.73.11-1.5.22-2.35.33-2.32.31-4.17.56-5.77.57.09%2C1.87-.16%2C4.29-1.61%2C6.44-.71%2C1.05-1.6%2C1.87-2.59%2C2.52%2C3%2C2.33%2C5.73%2C5.39%2C7.76%2C7.66Z'/%3E %3Cpath class='cls-1' d='M12.04%2C0H0v4.29C4.4%2C2.03%2C8.2.3%2C12.08.04c-.01-.01-.03-.03-.04-.04Z'/%3E %3Cpath class='cls-1' d='M17.43%2C90.56c1.97-1.08%2C4-1.74%2C5.99-2.13-2.65-.91-5.11-2.15-7.24-3.72-1.81-1.33-7.61-5.61-8.31-12.47-.78-7.67%2C5.24-14.65%2C11.94-18.7-4.73-4-8.28-10.55-8.7-16.02-1.79%2C1.3-3.01%2C2.05-3.89%2C2.3-2.22.63-4.69.66-7.22.23v.6c.82.16%2C1.7.34%2C2.68.53%2C4.45.9%2C6.67%2C1.35%2C8.69%2C3.02%2C3.67%2C3.04%2C5.99%2C9.09%2C3.78%2C12.47-1.33%2C2.03-4.17%2C2.41-8.69%2C3.02-2.67.36-4.71.62-6.45.55v1.89c3.78%2C3.52%2C6.27%2C8.29%2C6.24%2C12.52%2C1.73%2C1.32%2C3.15%2C2.94%2C4.16%2C4.63%2C2.77%2C4.65%2C3.23%2C11.16%2C0%2C15.87-.51.74-2.1%2C3.06-4.91%2C4.16-1.61.63-3.5.8-5.49.59v.09h12.04c-.65-.7-1-1.41-1.04-2.26-.18-3.56%2C5.05-6.43%2C6.42-7.18Z'/%3E %3Cpath class='cls-1' d='M87.03%2C36.7c2.3%2C8.15%2C1.11%2C15.04.38%2C18.13-.18.77-.39%2C1.51-.61%2C2.23%2C1.71-.15%2C3.44-.03%2C5.24.47%2C2.95.81%2C5.68%2C2.48%2C7.96%2C4.6v-1.89c-1.39-.05-2.59-.31-3.75-.93-6.36-3.38-8.1-15.34-4.16-18.51%2C1.46-1.17%2C3.76-.95%2C7.9-.15v-.6c-4.99-.84-10.17-3.47-14.02-6.92.34%2C1.08.68%2C2.27%2C1.04%2C3.56Z'/%3E %3Cpath class='cls-1' d='M53.58%2C81.69c-1.04%2C1.25-2.21%2C2.35-3.47%2C3.31%2C1.73.02%2C4.07.48%2C7.32%2C1.14-1.4-2.05-2.27-4.22-2.4-6.38-.47.7-.95%2C1.34-1.44%2C1.93Z'/%3E %3Cpath class='cls-3' d='M45%2C92.14c-2.43-1.1-4.77-1.83-6.42-2.34-.03%2C0-.06-.02-.09-.03-5.05.78-10.36.27-15.08-1.34-1.99.38-4.01%2C1.04-5.99%2C2.13-1.37.75-6.6%2C3.62-6.42%2C7.18.04.85.39%2C1.56%2C1.04%2C2.26h35.08c-1.33-2.4-2.06-5.26-2.12-7.86Z'/%3E %3Cpath class='cls-3' d='M17.04.54c5.57%2C1.53%2C10.43%2C6.12%2C12.75%2C11.09%2C3.24%2C2.29%2C4.64%2C3.45%2C6.54%2C4.1%2C1.28-2.26%2C2.99-3.95%2C5.11-4.61%2C3.3-1.04%2C6.82.63%2C10.04%2C3.13.99-.65%2C1.89-1.47%2C2.59-2.52%2C1.45-2.15%2C1.71-4.58%2C1.61-6.44-1.69.01-3.09-.23-4.43-.95-1.73-.92-3.11-2.49-4.13-4.33H12.04s.03.03.04.04c1.62-.11%2C3.25.03%2C4.95.5Z'/%3E %3Cpath class='cls-3' d='M60.96%2C58.23c-1.73-3.55-1.19-7.37.04-10.81-1.32.93-3.77%2C2.42-6.49%2C2.83-.6.09-1.2.11-1.81.1-.22%2C1.37-.2%2C2.93.04%2C4.51%2C2.42%2C1.91%2C4.31%2C4.31%2C5.37%2C7.19.35.95.59%2C1.91.74%2C2.87%2C2.22%2C1.16%2C4.6%2C1.05%2C8.2.6.45-.26.91-.51%2C1.37-.76-3.41-1.41-6.07-3.66-7.47-6.52Z'/%3E %3Cpath class='cls-3' d='M48.35%2C52.17c.47-.9.82-1.74%2C1.05-2.36-6.45-1.89-12.73-8.52-14.82-15.93-.36-1.27-.6-2.6-.75-3.96-.11-.03-.22-.05-.32-.08-2.8-.7-6.54-1.62-10.17-1.9-1.69%2C1.37-3.65%2C2.93-5.92%2C4.72-2.67%2C2.11-4.72%2C3.71-6.31%2C4.88.42%2C5.47%2C3.97%2C12.02%2C8.7%2C16.02%2C1.68-1.01%2C3.39-1.84%2C5.06-2.45%2C7.25-2.65%2C16.45-2.23%2C23.49%2C1.08Z'/%3E %3Cpath class='cls-3' d='M86.79%2C57.07c-1.05%2C3.45-2.48%2C6.37-3.92%2C8.72-5.34%2C1.12-10.42.63-14.45-1.03-.46.25-.92.51-1.37.76-3.24%2C1.84-6.26%2C3.81-8.46%2C6.04-.67%2C3.05-2.02%2C5.89-3.57%2C8.2.13%2C2.16%2C1.01%2C4.34%2C2.4%2C6.38.08.02.16.03.25.05%2C4.45.9%2C6.67%2C1.35%2C8.69%2C3.02%2C1.98%2C1.65%2C3.57%2C4.17%2C4.26%2C6.68%2C3.97%2C1.44%2C8.1%2C1.92%2C11.59.93%2C1.06-.3%2C2.61-1.31%2C5.04-3.15-2.6-2.65-4.27-5.94-4.06-9.47.34-5.57%2C5.35-11.39%2C12.09-12.47%2C1.64-.26%2C3.22-.21%2C4.71.07v-9.67c-2.28-2.12-5.02-3.8-7.96-4.6-1.8-.49-3.53-.62-5.24-.47Z'/%3E %3Cpath class='cls-2' d='M6.45%2C59.71c4.52-.61%2C7.36-.99%2C8.69-3.02%2C2.21-3.37-.11-9.42-3.78-12.47-2.02-1.68-4.24-2.13-8.69-3.02-.97-.2-1.86-.37-2.68-.53v19.59c1.75.07%2C3.79-.19%2C6.45-.55Z'/%3E %3Cpath class='cls-2' d='M53.58%2C81.69c.49-.59.98-1.24%2C1.44-1.93%2C1.55-2.31%2C2.9-5.15%2C3.57-8.2.48-2.15.61-4.4.26-6.65-.15-.96-.39-1.92-.74-2.87-1.06-2.88-2.95-5.28-5.37-7.19-1.32-1.04-2.8-1.93-4.39-2.68-7.03-3.31-16.23-3.73-23.49-1.08-1.67.61-3.39%2C1.44-5.06%2C2.45-6.7%2C4.05-12.72%2C11.03-11.94%2C18.7.7%2C6.85%2C6.5%2C11.13%2C8.31%2C12.47%2C2.13%2C1.57%2C4.59%2C2.82%2C7.24%2C3.72%2C4.72%2C1.62%2C10.03%2C2.13%2C15.08%2C1.34%2C2.54-.39%2C5.01-1.11%2C7.31-2.18.33-.73.76-1.34%2C1.3-1.78.74-.6%2C1.7-.83%2C3.01-.81%2C1.26-.96%2C2.43-2.06%2C3.47-3.31ZM51.93%2C76.12c-1.56%2C8.22-15.98%2C10.41-23.71%2C10.1-4.19-.17-14.39-.57-17.24-7.7-2.24-5.58%2C1.37-11.91%2C1.72-12.51%2C5.48-9.33%2C20.02-11.66%2C29.74-5.29%2C4.43%2C2.9%2C10.62%2C9.41%2C9.48%2C15.4Z'/%3E %3Cpath class='cls-4' d='M42.45%2C60.72c-9.72-6.36-24.26-4.03-29.74%2C5.29-.35.6-3.96%2C6.93-1.72%2C12.51%2C2.86%2C7.13%2C13.05%2C7.53%2C17.24%2C7.7%2C7.73.3%2C22.15-1.88%2C23.71-10.1%2C1.14-5.99-5.06-12.5-9.48-15.4Z'/%3E %3Cpath class='cls-2' d='M33.83%2C29.92c.14%2C1.36.39%2C2.7.75%2C3.96%2C2.09%2C7.41%2C8.37%2C14.04%2C14.82%2C15.93%2C1.1.32%2C2.21.51%2C3.3.53.61.01%2C1.21%2C0%2C1.81-.1%2C2.72-.41%2C5.17-1.9%2C6.49-2.83.94-2.64%2C2.3-5.05%2C3.36-6.94.79-1.41%2C1.76-2.89%2C2.84-4.34-.35-5.68-5.01-10.92-7.97-14.24-2.02-2.27-4.75-5.33-7.76-7.66-3.21-2.5-6.74-4.17-10.04-3.13-2.11.67-3.83%2C2.35-5.11%2C4.61-2.13%2C3.77-3.03%2C9.17-2.5%2C14.19Z'/%3E %3Cpath class='cls-2' d='M74.41%2C28.82c-2.56%2C1.81-5.1%2C4.5-7.21%2C7.32-1.08%2C1.45-2.05%2C2.93-2.84%2C4.34-1.06%2C1.89-2.42%2C4.31-3.36%2C6.94-1.23%2C3.44-1.77%2C7.26-.04%2C10.81%2C1.39%2C2.86%2C4.05%2C5.11%2C7.47%2C6.52%2C4.03%2C1.66%2C9.11%2C2.15%2C14.45%2C1.03%2C1.45-2.36%2C2.88-5.28%2C3.92-8.72.22-.72.43-1.46.61-2.23.73-3.1%2C1.92-9.98-.38-18.13-.36-1.29-.7-2.48-1.04-3.56-1.68-1.51-3.11-3.18-4.15-4.92-.15.07-.3.15-.46.21-2.01.78-4.45.86-6.96.38ZM82.87%2C59.74c-4.34%2C4.49-11.03%2C4.16-15.11%2C2.27-1.15-.53-3.28-1.52-4.53-3.78-2.46-4.44.05-10.96%2C4.16-14.36%2C4.1-3.39%2C11.68-5.21%2C16.25-.76%2C4.48%2C4.37%2C3.46%2C12.26-.76%2C16.62Z'/%3E %3Cpath class='cls-4' d='M67.38%2C43.88c-4.11%2C3.39-6.61%2C9.92-4.16%2C14.36%2C1.25%2C2.26%2C3.38%2C3.24%2C4.53%2C3.78%2C4.08%2C1.89%2C10.77%2C2.22%2C15.11-2.27%2C4.21-4.36%2C5.23-12.25.76-16.62-4.56-4.45-12.14-2.63-16.25.76Z'/%3E %3Cpath class='cls-2' d='M70.62%2C95.9c-.69-2.51-2.27-5.03-4.26-6.68-2.02-1.68-4.24-2.13-8.69-3.02-.09-.02-.16-.03-.25-.05-3.26-.66-5.6-1.12-7.32-1.14-1.31-.02-2.27.22-3.01.81-.54.44-.97%2C1.05-1.3%2C1.78-.56%2C1.24-.83%2C2.82-.79%2C4.55.05%2C2.59.78%2C5.46%2C2.12%2C7.86h23.71c.29-1.25.19-2.67-.21-4.1Z'/%3E %3Cpath class='cls-2' d='M51.25%2C4.33c1.34.71%2C2.74.96%2C4.43.95%2C1.6-.01%2C3.45-.26%2C5.77-.57.85-.11%2C1.62-.22%2C2.35-.33%2C1.85-1.63%2C4.14-2.85%2C6.71-3.38.14-.31.24-.65.31-.99h-23.71c1.02%2C1.84%2C2.4%2C3.41%2C4.13%2C4.33Z'/%3E %3Cpath class='cls-3' d='M0%2C62.14v9.67c2.34.45%2C4.45%2C1.48%2C6.24%2C2.85.03-4.23-2.46-9-6.24-12.52Z'/%3E %3Cpath class='cls-2' d='M7.22%2C39.83c.88-.25%2C2.1-1%2C3.89-2.3%2C1.59-1.16%2C3.64-2.77%2C6.31-4.88%2C2.27-1.79%2C4.24-3.34%2C5.92-4.72%2C4.75-3.86%2C7.23-6.24%2C7.68-8.13.6-2.53.07-5.41-1.22-8.18-2.33-4.97-7.18-9.56-12.75-11.09C15.34.07%2C13.7-.07%2C12.08.04%2C8.2.3%2C4.4%2C2.03%2C0%2C4.29v35.77c2.52.42%2C5%2C.39%2C7.22-.23Z'/%3E %3Cpath class='cls-2' d='M87.62%2C11.27c1.48%2C4.22%2C1.28%2C9.2-1.33%2C13.01-.48.7-1.93%2C2.79-4.45%2C3.94%2C1.04%2C1.74%2C2.46%2C3.41%2C4.15%2C4.92%2C3.84%2C3.45%2C9.03%2C6.08%2C14.02%2C6.92V4.29c-.73.37-1.47.76-2.23%2C1.16-3.49%2C1.82-7.1%2C3.71-10.16%2C5.82Z'/%3E %3Cpath class='cls-2' d='M59.09%2C13.32c-.47%2C7.59%2C7.78%2C14.06%2C15.33%2C15.5%2C2.51.48%2C4.95.4%2C6.96-.38.16-.06.31-.14.46-.21%2C2.52-1.16%2C3.97-3.25%2C4.45-3.94%2C2.61-3.81%2C2.81-8.78%2C1.33-13.01-.35-1-.8-1.97-1.33-2.86-2.71-4.56-8.41-8.62-15.11-7.56-.22.04-.44.09-.66.14-2.57.54-4.86%2C1.76-6.71%2C3.38-2.75%2C2.42-4.52%2C5.73-4.72%2C8.95ZM69.67%2C5.76c4.83-1.45%2C11.61-.22%2C13.98%2C4.53%2C1.3%2C2.62%2C1.34%2C6.44-.76%2C9.07-1.82%2C2.29-4.53%2C2.77-6.04%2C3.02-6.33%2C1.04-15.3-2.01-15.87-7.18-.44-4%2C4.29-8.12%2C8.69-9.44Z'/%3E %3Cpath class='cls-4' d='M60.98%2C15.21c.56%2C5.16%2C9.54%2C8.21%2C15.87%2C7.18%2C1.52-.25%2C4.22-.73%2C6.04-3.02%2C2.09-2.63%2C2.06-6.45.76-9.07-2.37-4.75-9.15-5.98-13.98-4.53-4.4%2C1.32-9.13%2C5.45-8.69%2C9.44Z'/%3E %3Cpath class='cls-2' d='M95.29%2C71.74c-6.74%2C1.07-11.75%2C6.9-12.09%2C12.47-.22%2C3.53%2C1.45%2C6.81%2C4.06%2C9.47%2C3.37%2C3.43%2C8.29%2C5.79%2C12.75%2C6.24v-6.52c-6.24.61-14.38-2.38-14.92-7.29-.44-4%2C4.29-8.12%2C8.69-9.44%2C1.9-.57%2C4.11-.72%2C6.23-.41v-4.43c-1.49-.29-3.07-.34-4.71-.07Z'/%3E %3Cpath class='cls-4' d='M93.77%2C76.65c-4.4%2C1.32-9.13%2C5.45-8.69%2C9.44.54%2C4.91%2C8.67%2C7.9%2C14.92%2C7.29v-17.14c-2.12-.31-4.32-.16-6.23.41Z'/%3E %3Cpath class='cls-2' d='M5.49%2C99.32c2.82-1.1%2C4.4-3.42%2C4.91-4.16%2C3.23-4.71%2C2.77-11.22%2C0-15.87-1.01-1.69-2.43-3.32-4.16-4.63-1.79-1.36-3.9-2.4-6.24-2.85v4.43c3.26.48%2C6.32%2C2.06%2C7.75%2C4.94%2C1.3%2C2.62%2C1.34%2C6.44-.76%2C9.07-1.82%2C2.29-4.53%2C2.77-6.04%2C3.02-.31.05-.63.08-.95.12v6.52c1.98.2%2C3.87.03%2C5.49-.59Z'/%3E %3Cpath class='cls-4' d='M7%2C90.25c2.09-2.63%2C2.06-6.45.76-9.07-1.43-2.88-4.49-4.46-7.75-4.94v17.14c.32-.03.64-.06.95-.12%2C1.52-.25%2C4.22-.73%2C6.04-3.02Z'/%3E %3Cpath class='cls-2' d='M92.1%2C40.82c-3.94%2C3.17-2.2%2C15.13%2C4.16%2C18.51%2C1.16.61%2C2.36.87%2C3.75.93v-19.59c-4.14-.8-6.44-1.02-7.9.15Z'/%3E %3C/svg%3E");
	--heatSVG: url("data:image/svg+xml;charset=utf-8, %3Csvg width='70' height='70' id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E %3Cdefs%3E %3Cstyle%3E .cls-1 %7B fill: %23a32a04%3B %7D .cls-2 %7B fill: %231e1f21%3B %7D .cls-3 %7B fill: %2354180d%3B %7D .cls-4 %7B fill: %237f756b%3B %7D %3C/style%3E %3C/defs%3E %3Cpath class='cls-1' d='M38.58%2C89.81c1.65.51%2C3.99%2C1.24%2C6.42%2C2.34-.04-1.72.23-3.31.79-4.55-2.3%2C1.07-4.77%2C1.79-7.31%2C2.18.03%2C0%2C.06.02.09.03Z'/%3E %3Cpath class='cls-1' d='M58.85%2C64.92c.36%2C2.24.22%2C4.5-.26%2C6.65%2C2.2-2.24%2C5.22-4.21%2C8.46-6.04-3.6.45-5.98.55-8.2-.6Z'/%3E %3Cpath class='cls-1' d='M71.18.85c6.7-1.07%2C12.4%2C3%2C15.11%2C7.56.53.89.98%2C1.86%2C1.33%2C2.86%2C3.05-2.11%2C6.66-4%2C10.16-5.82.76-.4%2C1.5-.78%2C2.23-1.16V0h-29.17c-.08.34-.18.68-.31.99.22-.05.44-.1.66-.14Z'/%3E %3Cpath class='cls-1' d='M52.7%2C50.34c-1.09-.02-2.2-.21-3.3-.53-.23.63-.57%2C1.46-1.05%2C2.36%2C1.59.75%2C3.07%2C1.64%2C4.39%2C2.68-.24-1.59-.26-3.14-.04-4.51Z'/%3E %3Cpath class='cls-1' d='M33.83%2C29.92c-.53-5.02.37-10.42%2C2.5-14.19-1.9-.65-3.3-1.81-6.54-4.1%2C1.3%2C2.77%2C1.82%2C5.65%2C1.22%2C8.18-.44%2C1.88-2.93%2C4.27-7.68%2C8.13%2C3.63.29%2C7.36%2C1.21%2C10.17%2C1.9.1.03.22.05.32.08Z'/%3E %3Cpath class='cls-1' d='M87.25%2C93.67c-2.43%2C1.84-3.98%2C2.86-5.04%2C3.15-3.5.99-7.62.51-11.59-.93.4%2C1.43.49%2C2.85.21%2C4.1h29.17v-.09c-4.46-.45-9.38-2.81-12.75-6.24Z'/%3E %3Cpath class='cls-1' d='M59.23%2C21.9c2.96%2C3.32%2C7.62%2C8.56%2C7.97%2C14.24%2C2.11-2.82%2C4.65-5.52%2C7.21-7.32-7.55-1.44-15.8-7.91-15.33-15.5.2-3.22%2C1.97-6.52%2C4.72-8.95-.73.11-1.5.22-2.35.33-2.32.31-4.17.56-5.77.57.09%2C1.87-.16%2C4.29-1.61%2C6.44-.71%2C1.05-1.6%2C1.87-2.59%2C2.52%2C3%2C2.33%2C5.73%2C5.39%2C7.76%2C7.66Z'/%3E %3Cpath class='cls-1' d='M12.04%2C0H0v4.29C4.4%2C2.03%2C8.2.3%2C12.08.04c-.01-.01-.03-.03-.04-.04Z'/%3E %3Cpath class='cls-1' d='M17.43%2C90.56c1.97-1.08%2C4-1.74%2C5.99-2.13-2.65-.91-5.11-2.15-7.24-3.72-1.81-1.33-7.61-5.61-8.31-12.47-.78-7.67%2C5.24-14.65%2C11.94-18.7-4.73-4-8.28-10.55-8.7-16.02-1.79%2C1.3-3.01%2C2.05-3.89%2C2.3-2.22.63-4.69.66-7.22.23v.6c.82.16%2C1.7.34%2C2.68.53%2C4.45.9%2C6.67%2C1.35%2C8.69%2C3.02%2C3.67%2C3.04%2C5.99%2C9.09%2C3.78%2C12.47-1.33%2C2.03-4.17%2C2.41-8.69%2C3.02-2.67.36-4.71.62-6.45.55v1.89c3.78%2C3.52%2C6.27%2C8.29%2C6.24%2C12.52%2C1.73%2C1.32%2C3.15%2C2.94%2C4.16%2C4.63%2C2.77%2C4.65%2C3.23%2C11.16%2C0%2C15.87-.51.74-2.1%2C3.06-4.91%2C4.16-1.61.63-3.5.8-5.49.59v.09h12.04c-.65-.7-1-1.41-1.04-2.26-.18-3.56%2C5.05-6.43%2C6.42-7.18Z'/%3E %3Cpath class='cls-1' d='M87.03%2C36.7c2.3%2C8.15%2C1.11%2C15.04.38%2C18.13-.18.77-.39%2C1.51-.61%2C2.23%2C1.71-.15%2C3.44-.03%2C5.24.47%2C2.95.81%2C5.68%2C2.48%2C7.96%2C4.6v-1.89c-1.39-.05-2.59-.31-3.75-.93-6.36-3.38-8.1-15.34-4.16-18.51%2C1.46-1.17%2C3.76-.95%2C7.9-.15v-.6c-4.99-.84-10.17-3.47-14.02-6.92.34%2C1.08.68%2C2.27%2C1.04%2C3.56Z'/%3E %3Cpath class='cls-1' d='M53.58%2C81.69c-1.04%2C1.25-2.21%2C2.35-3.47%2C3.31%2C1.73.02%2C4.07.48%2C7.32%2C1.14-1.4-2.05-2.27-4.22-2.4-6.38-.47.7-.95%2C1.34-1.44%2C1.93Z'/%3E %3Cpath class='cls-3' d='M45%2C92.14c-2.43-1.1-4.77-1.83-6.42-2.34-.03%2C0-.06-.02-.09-.03-5.05.78-10.36.27-15.08-1.34-1.99.38-4.01%2C1.04-5.99%2C2.13-1.37.75-6.6%2C3.62-6.42%2C7.18.04.85.39%2C1.56%2C1.04%2C2.26h35.08c-1.33-2.4-2.06-5.26-2.12-7.86Z'/%3E %3Cpath class='cls-3' d='M17.04.54c5.57%2C1.53%2C10.43%2C6.12%2C12.75%2C11.09%2C3.24%2C2.29%2C4.64%2C3.45%2C6.54%2C4.1%2C1.28-2.26%2C2.99-3.95%2C5.11-4.61%2C3.3-1.04%2C6.82.63%2C10.04%2C3.13.99-.65%2C1.89-1.47%2C2.59-2.52%2C1.45-2.15%2C1.71-4.58%2C1.61-6.44-1.69.01-3.09-.23-4.43-.95-1.73-.92-3.11-2.49-4.13-4.33H12.04s.03.03.04.04c1.62-.11%2C3.25.03%2C4.95.5Z'/%3E %3Cpath class='cls-3' d='M60.96%2C58.23c-1.73-3.55-1.19-7.37.04-10.81-1.32.93-3.77%2C2.42-6.49%2C2.83-.6.09-1.2.11-1.81.1-.22%2C1.37-.2%2C2.93.04%2C4.51%2C2.42%2C1.91%2C4.31%2C4.31%2C5.37%2C7.19.35.95.59%2C1.91.74%2C2.87%2C2.22%2C1.16%2C4.6%2C1.05%2C8.2.6.45-.26.91-.51%2C1.37-.76-3.41-1.41-6.07-3.66-7.47-6.52Z'/%3E %3Cpath class='cls-3' d='M48.35%2C52.17c.47-.9.82-1.74%2C1.05-2.36-6.45-1.89-12.73-8.52-14.82-15.93-.36-1.27-.6-2.6-.75-3.96-.11-.03-.22-.05-.32-.08-2.8-.7-6.54-1.62-10.17-1.9-1.69%2C1.37-3.65%2C2.93-5.92%2C4.72-2.67%2C2.11-4.72%2C3.71-6.31%2C4.88.42%2C5.47%2C3.97%2C12.02%2C8.7%2C16.02%2C1.68-1.01%2C3.39-1.84%2C5.06-2.45%2C7.25-2.65%2C16.45-2.23%2C23.49%2C1.08Z'/%3E %3Cpath class='cls-3' d='M86.79%2C57.07c-1.05%2C3.45-2.48%2C6.37-3.92%2C8.72-5.34%2C1.12-10.42.63-14.45-1.03-.46.25-.92.51-1.37.76-3.24%2C1.84-6.26%2C3.81-8.46%2C6.04-.67%2C3.05-2.02%2C5.89-3.57%2C8.2.13%2C2.16%2C1.01%2C4.34%2C2.4%2C6.38.08.02.16.03.25.05%2C4.45.9%2C6.67%2C1.35%2C8.69%2C3.02%2C1.98%2C1.65%2C3.57%2C4.17%2C4.26%2C6.68%2C3.97%2C1.44%2C8.1%2C1.92%2C11.59.93%2C1.06-.3%2C2.61-1.31%2C5.04-3.15-2.6-2.65-4.27-5.94-4.06-9.47.34-5.57%2C5.35-11.39%2C12.09-12.47%2C1.64-.26%2C3.22-.21%2C4.71.07v-9.67c-2.28-2.12-5.02-3.8-7.96-4.6-1.8-.49-3.53-.62-5.24-.47Z'/%3E %3Cpath class='cls-2' d='M6.45%2C59.71c4.52-.61%2C7.36-.99%2C8.69-3.02%2C2.21-3.37-.11-9.42-3.78-12.47-2.02-1.68-4.24-2.13-8.69-3.02-.97-.2-1.86-.37-2.68-.53v19.59c1.75.07%2C3.79-.19%2C6.45-.55Z'/%3E %3Cpath class='cls-2' d='M53.58%2C81.69c.49-.59.98-1.24%2C1.44-1.93%2C1.55-2.31%2C2.9-5.15%2C3.57-8.2.48-2.15.61-4.4.26-6.65-.15-.96-.39-1.92-.74-2.87-1.06-2.88-2.95-5.28-5.37-7.19-1.32-1.04-2.8-1.93-4.39-2.68-7.03-3.31-16.23-3.73-23.49-1.08-1.67.61-3.39%2C1.44-5.06%2C2.45-6.7%2C4.05-12.72%2C11.03-11.94%2C18.7.7%2C6.85%2C6.5%2C11.13%2C8.31%2C12.47%2C2.13%2C1.57%2C4.59%2C2.82%2C7.24%2C3.72%2C4.72%2C1.62%2C10.03%2C2.13%2C15.08%2C1.34%2C2.54-.39%2C5.01-1.11%2C7.31-2.18.33-.73.76-1.34%2C1.3-1.78.74-.6%2C1.7-.83%2C3.01-.81%2C1.26-.96%2C2.43-2.06%2C3.47-3.31ZM51.93%2C76.12c-1.56%2C8.22-15.98%2C10.41-23.71%2C10.1-4.19-.17-14.39-.57-17.24-7.7-2.24-5.58%2C1.37-11.91%2C1.72-12.51%2C5.48-9.33%2C20.02-11.66%2C29.74-5.29%2C4.43%2C2.9%2C10.62%2C9.41%2C9.48%2C15.4Z'/%3E %3Cpath class='cls-4' d='M42.45%2C60.72c-9.72-6.36-24.26-4.03-29.74%2C5.29-.35.6-3.96%2C6.93-1.72%2C12.51%2C2.86%2C7.13%2C13.05%2C7.53%2C17.24%2C7.7%2C7.73.3%2C22.15-1.88%2C23.71-10.1%2C1.14-5.99-5.06-12.5-9.48-15.4Z'/%3E %3Cpath class='cls-2' d='M33.83%2C29.92c.14%2C1.36.39%2C2.7.75%2C3.96%2C2.09%2C7.41%2C8.37%2C14.04%2C14.82%2C15.93%2C1.1.32%2C2.21.51%2C3.3.53.61.01%2C1.21%2C0%2C1.81-.1%2C2.72-.41%2C5.17-1.9%2C6.49-2.83.94-2.64%2C2.3-5.05%2C3.36-6.94.79-1.41%2C1.76-2.89%2C2.84-4.34-.35-5.68-5.01-10.92-7.97-14.24-2.02-2.27-4.75-5.33-7.76-7.66-3.21-2.5-6.74-4.17-10.04-3.13-2.11.67-3.83%2C2.35-5.11%2C4.61-2.13%2C3.77-3.03%2C9.17-2.5%2C14.19Z'/%3E %3Cpath class='cls-2' d='M74.41%2C28.82c-2.56%2C1.81-5.1%2C4.5-7.21%2C7.32-1.08%2C1.45-2.05%2C2.93-2.84%2C4.34-1.06%2C1.89-2.42%2C4.31-3.36%2C6.94-1.23%2C3.44-1.77%2C7.26-.04%2C10.81%2C1.39%2C2.86%2C4.05%2C5.11%2C7.47%2C6.52%2C4.03%2C1.66%2C9.11%2C2.15%2C14.45%2C1.03%2C1.45-2.36%2C2.88-5.28%2C3.92-8.72.22-.72.43-1.46.61-2.23.73-3.1%2C1.92-9.98-.38-18.13-.36-1.29-.7-2.48-1.04-3.56-1.68-1.51-3.11-3.18-4.15-4.92-.15.07-.3.15-.46.21-2.01.78-4.45.86-6.96.38ZM82.87%2C59.74c-4.34%2C4.49-11.03%2C4.16-15.11%2C2.27-1.15-.53-3.28-1.52-4.53-3.78-2.46-4.44.05-10.96%2C4.16-14.36%2C4.1-3.39%2C11.68-5.21%2C16.25-.76%2C4.48%2C4.37%2C3.46%2C12.26-.76%2C16.62Z'/%3E %3Cpath class='cls-4' d='M67.38%2C43.88c-4.11%2C3.39-6.61%2C9.92-4.16%2C14.36%2C1.25%2C2.26%2C3.38%2C3.24%2C4.53%2C3.78%2C4.08%2C1.89%2C10.77%2C2.22%2C15.11-2.27%2C4.21-4.36%2C5.23-12.25.76-16.62-4.56-4.45-12.14-2.63-16.25.76Z'/%3E %3Cpath class='cls-2' d='M70.62%2C95.9c-.69-2.51-2.27-5.03-4.26-6.68-2.02-1.68-4.24-2.13-8.69-3.02-.09-.02-.16-.03-.25-.05-3.26-.66-5.6-1.12-7.32-1.14-1.31-.02-2.27.22-3.01.81-.54.44-.97%2C1.05-1.3%2C1.78-.56%2C1.24-.83%2C2.82-.79%2C4.55.05%2C2.59.78%2C5.46%2C2.12%2C7.86h23.71c.29-1.25.19-2.67-.21-4.1Z'/%3E %3Cpath class='cls-2' d='M51.25%2C4.33c1.34.71%2C2.74.96%2C4.43.95%2C1.6-.01%2C3.45-.26%2C5.77-.57.85-.11%2C1.62-.22%2C2.35-.33%2C1.85-1.63%2C4.14-2.85%2C6.71-3.38.14-.31.24-.65.31-.99h-23.71c1.02%2C1.84%2C2.4%2C3.41%2C4.13%2C4.33Z'/%3E %3Cpath class='cls-3' d='M0%2C62.14v9.67c2.34.45%2C4.45%2C1.48%2C6.24%2C2.85.03-4.23-2.46-9-6.24-12.52Z'/%3E %3Cpath class='cls-2' d='M7.22%2C39.83c.88-.25%2C2.1-1%2C3.89-2.3%2C1.59-1.16%2C3.64-2.77%2C6.31-4.88%2C2.27-1.79%2C4.24-3.34%2C5.92-4.72%2C4.75-3.86%2C7.23-6.24%2C7.68-8.13.6-2.53.07-5.41-1.22-8.18-2.33-4.97-7.18-9.56-12.75-11.09C15.34.07%2C13.7-.07%2C12.08.04%2C8.2.3%2C4.4%2C2.03%2C0%2C4.29v35.77c2.52.42%2C5%2C.39%2C7.22-.23Z'/%3E %3Cpath class='cls-2' d='M87.62%2C11.27c1.48%2C4.22%2C1.28%2C9.2-1.33%2C13.01-.48.7-1.93%2C2.79-4.45%2C3.94%2C1.04%2C1.74%2C2.46%2C3.41%2C4.15%2C4.92%2C3.84%2C3.45%2C9.03%2C6.08%2C14.02%2C6.92V4.29c-.73.37-1.47.76-2.23%2C1.16-3.49%2C1.82-7.1%2C3.71-10.16%2C5.82Z'/%3E %3Cpath class='cls-2' d='M59.09%2C13.32c-.47%2C7.59%2C7.78%2C14.06%2C15.33%2C15.5%2C2.51.48%2C4.95.4%2C6.96-.38.16-.06.31-.14.46-.21%2C2.52-1.16%2C3.97-3.25%2C4.45-3.94%2C2.61-3.81%2C2.81-8.78%2C1.33-13.01-.35-1-.8-1.97-1.33-2.86-2.71-4.56-8.41-8.62-15.11-7.56-.22.04-.44.09-.66.14-2.57.54-4.86%2C1.76-6.71%2C3.38-2.75%2C2.42-4.52%2C5.73-4.72%2C8.95ZM69.67%2C5.76c4.83-1.45%2C11.61-.22%2C13.98%2C4.53%2C1.3%2C2.62%2C1.34%2C6.44-.76%2C9.07-1.82%2C2.29-4.53%2C2.77-6.04%2C3.02-6.33%2C1.04-15.3-2.01-15.87-7.18-.44-4%2C4.29-8.12%2C8.69-9.44Z'/%3E %3Cpath class='cls-4' d='M60.98%2C15.21c.56%2C5.16%2C9.54%2C8.21%2C15.87%2C7.18%2C1.52-.25%2C4.22-.73%2C6.04-3.02%2C2.09-2.63%2C2.06-6.45.76-9.07-2.37-4.75-9.15-5.98-13.98-4.53-4.4%2C1.32-9.13%2C5.45-8.69%2C9.44Z'/%3E %3Cpath class='cls-2' d='M95.29%2C71.74c-6.74%2C1.07-11.75%2C6.9-12.09%2C12.47-.22%2C3.53%2C1.45%2C6.81%2C4.06%2C9.47%2C3.37%2C3.43%2C8.29%2C5.79%2C12.75%2C6.24v-6.52c-6.24.61-14.38-2.38-14.92-7.29-.44-4%2C4.29-8.12%2C8.69-9.44%2C1.9-.57%2C4.11-.72%2C6.23-.41v-4.43c-1.49-.29-3.07-.34-4.71-.07Z'/%3E %3Cpath class='cls-4' d='M93.77%2C76.65c-4.4%2C1.32-9.13%2C5.45-8.69%2C9.44.54%2C4.91%2C8.67%2C7.9%2C14.92%2C7.29v-17.14c-2.12-.31-4.32-.16-6.23.41Z'/%3E %3Cpath class='cls-2' d='M5.49%2C99.32c2.82-1.1%2C4.4-3.42%2C4.91-4.16%2C3.23-4.71%2C2.77-11.22%2C0-15.87-1.01-1.69-2.43-3.32-4.16-4.63-1.79-1.36-3.9-2.4-6.24-2.85v4.43c3.26.48%2C6.32%2C2.06%2C7.75%2C4.94%2C1.3%2C2.62%2C1.34%2C6.44-.76%2C9.07-1.82%2C2.29-4.53%2C2.77-6.04%2C3.02-.31.05-.63.08-.95.12v6.52c1.98.2%2C3.87.03%2C5.49-.59Z'/%3E %3Cpath class='cls-4' d='M7%2C90.25c2.09-2.63%2C2.06-6.45.76-9.07-1.43-2.88-4.49-4.46-7.75-4.94v17.14c.32-.03.64-.06.95-.12%2C1.52-.25%2C4.22-.73%2C6.04-3.02Z'/%3E %3Cpath class='cls-2' d='M92.1%2C40.82c-3.94%2C3.17-2.2%2C15.13%2C4.16%2C18.51%2C1.16.61%2C2.36.87%2C3.75.93v-19.59c-4.14-.8-6.44-1.02-7.9.15Z'/%3E %3C/svg%3E");
	--trashSVG: url("data:image/svg+xml;charset=utf-8,%3C!-- Uploaded to: SVG Repo%2C www.svgrepo.com%2C Generator: SVG Repo Mixer Tools --%3E %3Csvg fill='%237a6b7e' viewBox='0 0 56 56' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 27.9999 51.9062 C 41.0546 51.9062 51.9063 41.0547 51.9063 28.0000 C 51.9063 14.9219 41.0312 4.0938 27.9765 4.0938 C 14.8983 4.0938 4.0937 14.9219 4.0937 28.0000 C 4.0937 41.0547 14.9218 51.9062 27.9999 51.9062 Z M 22.2109 41.9219 C 20.5468 41.9219 19.5858 41.0078 19.5155 39.3438 L 18.6483 20.2187 L 17.2421 20.2187 C 16.6093 20.2187 16.0702 19.6797 16.0702 19.0469 C 16.0702 18.3906 16.6093 17.875 17.2421 17.875 L 22.5624 17.875 L 22.5624 15.9766 C 22.5624 14.1484 23.7577 13.0000 25.4921 13.0000 L 30.3905 13.0000 C 32.1249 13.0000 33.3202 14.1484 33.3202 15.9766 L 33.3202 17.875 L 38.6405 17.875 C 39.2733 17.875 39.7890 18.3906 39.7890 19.0469 C 39.7890 19.6797 39.2733 20.2187 38.6405 20.2187 L 37.2812 20.2187 L 36.4140 39.3438 C 36.3202 41.0078 35.3593 41.9219 33.6952 41.9219 Z M 24.9296 17.875 L 30.9530 17.875 L 30.9530 16.4219 C 30.9530 15.7891 30.5077 15.3672 29.8514 15.3672 L 26.0077 15.3672 C 25.3749 15.3672 24.9296 15.7891 24.9296 16.4219 Z M 23.6405 39.3438 C 24.2265 39.3438 24.5780 38.9453 24.5546 38.3828 L 23.9921 22.6797 C 23.9452 22.1172 23.5936 21.7422 23.0546 21.7422 C 22.4687 21.7422 22.0936 22.1406 22.1171 22.6797 L 22.7499 38.4062 C 22.7733 38.9687 23.1249 39.3438 23.6405 39.3438 Z M 27.9530 39.3203 C 28.5390 39.3203 28.9140 38.9453 28.9140 38.3828 L 28.9140 22.6797 C 28.9140 22.1406 28.5390 21.7422 27.9530 21.7422 C 27.3671 21.7422 26.9921 22.1406 26.9921 22.6797 L 26.9921 38.3828 C 26.9921 38.9453 27.3905 39.3203 27.9530 39.3203 Z M 32.2890 39.3438 C 32.8046 39.3438 33.1562 38.9687 33.1796 38.4062 L 33.8124 22.6797 C 33.8358 22.1406 33.4374 21.7422 32.8514 21.7422 C 32.3358 21.7422 31.9609 22.1172 31.9374 22.6797 L 31.3749 38.3828 C 31.3514 38.9453 31.7030 39.3438 32.2890 39.3438 Z'/%3E%3C/svg%3E");
}

body {
	height: 100vh;
	overflow: hidden;
	background: linear-gradient(
			to bottom,
			#c36d68 0%,
			#c36d68 30%,
			transparent 30%,
			transparent 100%
		),
		var(--tilePattern) bottom / 18vmin 18vmin;
}

.workspace {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100vmin;
	height: 60vmin;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

.ingredient-table {
	grid-area: 1 / 1 / 3 / 7;
	background-color: var(--table-color);
	border-radius: 2vmin 0 0 0;
	padding: 2vmin;
}

.ingredients {
	display: inline-grid;
	grid-template-columns: repeat(6, 1fr);
	grid-column-gap: 2vmin;
	grid-row-gap: 2vmin;
	width: 71vmin;
	height: 26vmin;
	justify-items: center;
	align-items: center;
}

.container {
	height: 10vmin;
	width: 10vmin;
	background-color: #807b89;
	border: 1vmin solid #cacec6;
	box-shadow: inset 0 1vmin 0 #9b9fab, 0 1vmin 0 #9b9fab;
	box-sizing: border-box;
	cursor: pointer;
}

.lamb-pile {
	content: var(--lambSVG);
}

.beef-pile {
	content: var(--beefSVG);
}

.chicken-pile {
	content: var(--chickenSVG);
}

.salmon-pile {
	content: var(--salmonSVG);
}

.pepper-pile {
	content: var(--pepperSVG);
}

.onion-pile {
	content: var(--onionSVG);
}

.falafel-pile {
	content: var(--falafelSVG);
}

.tofu-pile {
	content: var(--tofuSVG);
}

.tomato-pile {
	content: var(--tomatoSVG);
}

.mushroom-pile {
	content: var(--mushroomSVG);
}

.zucchini-pile {
	content: var(--zucchiniSVG);
}

.eggplant-pile {
	content: var(--eggplantSVG);
}

.order-table {
	grid-area: 1 / 7 / 3 / 9;
	background-color: var(--table-color);
	border-radius: 0 2vmin 2vmin 0;
	padding: 20px 20px 0;
	box-shadow: 0 2vmin 0 #d6b9a5;
}

.utencils-table {
	position: relative;
	grid-area: 3 / 1 / 5 / 3;
	background-color: var(--table-color);
	border-radius: 0 0 0 2vmin;
	box-shadow: 0 2vmin 0 #d6b9a5;
}

.utencils-table::after {
	content: "";
	position: absolute;
	top: 32vmin;
	left: 2vmin;
	width: 23vmin;
	height: 8vmin;
	clip-path: polygon(5% 100%, 100% 100%, 100% 0, 0 0);
	background: #9d8c9a;
}

.utencils {
	display: inline-grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 1vmin;
	grid-row-gap: 2vmin;
	padding: 0 2vmin 2vmin;
	width: 25vmin;
	height: 30vmin;
	box-sizing: border-box;
	justify-items: center;
	align-items: center;
}

.skewers {
	grid-area: 1 / 1 / 4 / 2;
	width: 10vmin;
	height: 26vmin;
	position: relative;
}

.skewer {
	position: absolute;
	left: 2vmin;
	width: 1vmin;
	height: 33vmin;
	background: silver;
	transform-origin: top;
	pointer-events: none;
	z-index: 3;
}

.skewer::before {
	content: "";
	position: absolute;
	top: -1.65vmin;
	width: 0;
	height: 0;
	border-left: 0.5vmin solid transparent;
	border-right: 0.5vmin solid transparent;
	border-bottom: 1.7vmin solid silver;
}

.skewer::after {
	content: "";
	position: absolute;
	bottom: -2.9vmin;
	left: 50%;
	transform: translateX(-50%);
	width: 2vmin;
	height: 2vmin;
	background: transparent;
	border: 1vmin solid silver;
	border-radius: 50%;
	box-shadow: 0 0.2vmin 0.2vmin rgba(0, 0, 0, 0.3);
}

.salt {
	grid-area: 1 / 2 / 2 / 3;
}

.cumin {
	grid-area: 2 / 2 / 3 / 3;
}

.spice {
	grid-area: 3 / 2 / 4 / 3;
}

.plate {
	width: 7vmin;
	height: 7vmin;
	border-radius: 50%;
	background: radial-gradient(
		circle,
		#f9f9f9 50%,
		#ffffff 50%,
		#ffffff 55%,
		#f9f9f9 55%,
		#f9f9f9 90%,
		#efefef 90%,
		#efefef 100%
	);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2),
		inset 1px 1px 3px rgba(255, 255, 255, 0.8);
	font-size: 6vmin;
	cursor: pointer;
}

.grill {
	position: relative;
	grid-area: 3 / 3 / 5 / 8;
	background-color: #9aa4ae;
	padding: 2vmin;
	box-shadow: 0 2vmin 0 #827987;
}

.grill::after {
	content: "";
	position: absolute;
	top: 32vmin;
	right: 2vmin;
	width: 61vmin;
	height: 8vmin;
	clip-path: polygon(0 100%, 98% 100%, 100% 0, 0 0);
	background: #9d8c9a;
}

.coal {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: grey;
	border-radius: 1vmin;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	animation: heat 10s infinite;
}

@keyframes heat {
	0% {
		background-image: var(--coldSVG);
	}

	50% {
		background-image: var(--heatSVG);
	}

	100% {
		background-image: var(--coldSVG);
	}
}

.grill-skewer {
	position: absolute;
	width: 1vmin;
	height: 33vmin;
	background: silver;
	z-index: 1;
}

.grill-skewer::before {
	content: "";
	position: absolute;
	top: -1.65vmin;
	width: 0;
	height: 0;
	border-left: 0.5vmin solid transparent;
	border-right: 0.5vmin solid transparent;
	border-bottom: 1.7vmin solid silver;
}

.grill-skewer::after {
	content: "";
	position: absolute;
	bottom: -2.9vmin;
	left: 50%;
	transform: translateX(-50%);
	width: 2vmin;
	height: 2vmin;
	background: transparent;
	border: 1vmin solid silver;
	border-radius: 50%;
	box-shadow: 0 0.2vmin 0.2vmin rgba(0, 0, 0, 0.3);
}

.food-item {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0 0.2vmin 0.2vmin rgba(0, 0, 0, 0.3);
}

.grill-skewer .food-item::after {
	content: "";
	position: absolute;
	top: -1vmin;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
	width: 1.5vmin;
	height: 1.5vmin;
	background: rgba(200, 200, 200, 0.5);
	border-radius: 50%;
	animation: smoke 3s infinite;
	animation-delay: calc(var(--i) * 0.5s);
	--i: 0;
	z-index: 2;
}

@keyframes smoke {
	0% {
		transform: translateX(0) translateY(0) scale(1);
		opacity: 0.5;
	}

	100% {
		transform: translateX(5vmin) translateY(-10vmin) scale(1.5);
		opacity: 0;
	}
}

.lamb {
	width: 4vmin;
	height: 3vmin;
	border-radius: 1vmin;
	background: var(--lambFill);
}

.beef {
	width: 4vmin;
	height: 3vmin;
	border-radius: 1vmin;
	background: var(--beefFill);
}

.chicken {
	width: 4vmin;
	height: 3vmin;
	border-radius: 1vmin;
	background: var(--chickenFill);
}

.salmon {
	width: 4vmin;
	height: 3vmin;
	border-radius: 1vmin;
	background: var(--salmonFill);
}

.pepper {
	width: 4vmin;
	height: 2vmin;
	background: var(--pepperFill);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.onion {
	width: 4vmin;
	height: 2vmin;
	background: var(--onionFill);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.falafel {
	width: 4vmin;
	height: 4vmin;
	background: var(--falafelFill);
	border-radius: 50%;
}

.tofu {
	width: 3vmin;
	height: 3vmin;
	background: var(--tofuFill);
}

.tomato {
	width: 3vmin;
	height: 3vmin;
	background: var(--tomatoFill);
	border-radius: 50%;
}

.mushroom {
	width: 4vmin;
	height: 2vmin;
	background: var(--mushroomFill);
	border-radius: 2vmin 2vmin 0 0;
}

.zucchini {
	width: 4vmin;
	height: 2vmin;
	background: var(--zucchiniFill);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.eggplant {
	width: 4vmin;
	height: 2vmin;
	background: var(--eggplantFill);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.trash-area {
	grid-area: 3 / 8 / 5 / 9;
	display: flex;
	justify-content: center;
	padding-top: 5vmin;
}

.trashbox {
	position: relative;
	width: 8vmin;
	height: 12vmin;
	background: #604e6b;
	background: linear-gradient(
		0deg,
		#604e6b 0%,
		#604e6b 30%,
		#73637b 31%,
		#73637b 100%
	);
	border: 1vmin solid #b4949a;
	border-radius: 0.5vmin;
	cursor: pointer;
}

.trashbox::after {
	content: "";
	position: absolute;
	top: 12.9vmin;
	width: 8vmin;
	height: 8vmin;
	aspect-ratio: 3/2;
	clip-path: polygon(10% 100%, 90% 100%, 100% 0, 0 0);
	background: #9d8c9a;
	background-image: var(--trashSVG);
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
}