@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  background-image: url("img/car-bg.jpg");
  color: #fff;
  min-height: calc(100vh - 102px);
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center center;
}

header .content {
  margin: auto;
  font-size: 1.5rem;
  max-width: 100%;
}

.content h1 {
  color: #00c2ff;
  margin-bottom: 0;
  max-width: 100%;
}

.container {
  padding: 1rem;
  margin: 0 auto;
  max-width: 100%;
  width: 1000px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

nav .logo {
  font-size: 2.5rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav li {
}

nav li a {
  color: #fff;
  padding: 1rem;
  text-decoration: none;
}
.selected {
  font-weight: bold;
}
.highlight {
  background-color: #00c2ff;
  text-decoration: none;
  color: #fff;
  padding: 1rem;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 1rem;
}

footer ul{
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer strong{
  color: #00c2ff;
}

footer p{
  margin: 0;
}

@media screen and (max-width:800px){
  header .content{
    margin: 2rem auto 0;
    font-size: 1.4rem;
  }
  
  nav ul{
    flex-direction: column;
  }
  
  nav li:not(:last-child){
    margin-bottom: 1rem;
  }

  nav .highlight{
    display: none;
  }

  footer ul{
    flex-direction: column;
    justify-content: center;
  }

  footer li{
    margin: 1rem;
    text-align: center;
  }
  
}