/*=============== GOOGLE FONTS - Insert link for typography ===============*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
   /*========== Colors ==========*/
   /*Color mode HSL(hue, saturation, lightness)*/
   --first-color: hsl(20, 82%, 58%);
   --first-color-light: hsl(20, 96%, 90%);
   --white-color: hsl(0, 0%, 100%);
   --black-color: hsl(0, 0%, 0%);
   --body-color: hsl(220, 2%, 62%);
   --container-color-dark: hsl(220, 4%, 34%);

   /*========== Font and typography ==========*/
   /*.5rem = 8px | 1rem = 16px ...*/
   --body-font: "Montserrat", sans-serif;
   --normal-font-size: 1.25rem;
}
