body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  -webkit-animation: colorRot 5000ms linear infinite;
          animation: colorRot 5000ms linear infinite;
}
.loader {
  position: absolute;
  width: 100px;
  height: 100px;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  -webkit-animation: rotAnim 750ms ease-in-out infinite;
          animation: rotAnim 750ms ease-in-out infinite;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 25%;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 0 40px #7aa8ff, 0 0 10px #7aa8ff;
}
.loader::after {
  top: unset;
  left: unset;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes rotAnim {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes rotAnim {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@-webkit-keyframes colorRot {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes colorRot {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}