@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

.success,
.error {
  color: #fff;
  padding: 5px;
  margin: 5px 0 15px 0;
}

.success{
  background: green;
}

.error{
  background: red;
}