@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: rgb(140, 103, 177);
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn{
  background-color: rebeccapurple;
  color:#fff;
  border: none;
  font-size: 1rem;
  padding: 1rem 2rem;
  margin: 1rem;
  border-radius: 10px;
  cursor: pointer;
}