body, html, #app {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  touch-action: none;
}

#app {
  height: 100%;
  font-family: "Montserrat", serif;
}

#canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}


.buttons {
  position: fixed;
  width: 100%;
  bottom: 15px;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

button, a {
  color: black;
  font-family: "Montserrat", serif;
  font-size: 12px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  border: 1px solid grey;
  padding: 4px 8px;
}