/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(358, 54%, 48%);
  --first-color-alt: hsl(358, 54%, 46%);
  --first-color-light: hsl(358, 50%, 58%);
  --title-color: hsl(34, 8%, 16%);
  --text-color: hsl(34, 8%, 40%);
  --white-color: hsl(34, 64%, 98%);
  --gray-color: hsl(34, 8%, 85%);
  --body-color: hsl(34, 100%, 94%);
  --body-color-alt: hsl(34, 70%, 88%);
  --container-color: hsl(34, 32%, 98%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Lora", serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (width >= 1150px) {
  :root {
    --biggest-font-size: 3.5rem;
    --bigger-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
button {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--second-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  text-align: center;
  font-size: var(--bigger-font-size);
  margin-bottom: 1rem;
}

.section__title span {
  color: var(--first-color);
}

.section__subtitle {
  display: block;
  text-align: center;
  font: var(--font-semi-bold) var(--small-font-size) var(--second-font);
  color: var(--first-color);
  margin-bottom: 0.5rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow 0.4s;
}
.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--second-font);
}
.nav__toggle {
  width: 32px;
  height: 32px;
  background-color: var(--first-color);
  color: var(--white-color);
  border-radius: 0.5rem;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (width <= 1150px) {
  .nav__menu {
    position: fixed;
    top: -120%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(0, 0%, 0%, 0.15);
    padding-block: 4rem;
    border-radius: 0 0 1rem 1rem;
    transition: top 0.4s;
  }
}
.nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}
.nav__link:hover {
  color: var(--first-color);
}
.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  display: inline-flex;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}
/* Show menu */
.show-menu {
  top: 0;
}
/* Change header styles */
.scroll-header {
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.15);
}
/* Active link */

/*=============== HOME SECTION ===============*/
.home__container {
  padding-top: 1.5rem;
  row-gap: 3rem;
}
.home__data {
  position: relative;
  text-align: center;
}
.home__title {
  font-size: var(--biggest-font-size);
}
.home__title span {
  color: var(--first-color);
}
.home__description {
  margin-block: 1rem 2rem;
}
.home__data img,
.home__text {
  position: absolute;
}
.home__flower-1 {
  width: 20px;
  top: -1.5rem;
  left: 4rem;
}
.home__flower-2 {
  width: 20px;
  left: 1.25rem;
}
.home__leaf-1 {
  width: 30px;
  top: 0;
  right: 0;
}
.home__leaf-2 {
  width: 30px;
  left: 4rem;
  bottom: -2rem;
}
.home__text {
  left: 0;
  top: -1.75rem;
  font-size: 12rem;
  font-weight: var(--font-medium);
  color: var(--body-color-alt);
  z-index: -1;
}

.home__images {
  position: relative;
  justify-self: center;
}
.home__blob {
  width: 300px;
  height: 300px;
  background-color: var(--first-color);
  border-radius: 50%;
  justify-self: center;
}
.home__images img {
  position: absolute;
}
.home__img-1 {
  width: 230px;
  left: -1.5rem;
  bottom: 3rem;
}
.home__img-2 {
  width: 120px;
  top: 0.5rem;
  left: 2rem;
}
.home__img-3 {
  width: 90px;
  top: 5rem;
  right: 3rem;
}
.home__img-4 {
  width: 60px;
  top: 1.25rem;
  right: 4.5rem;
}
.home__img-5 {
  width: 50px;
  right: 1.5rem;
  bottom: 7rem;
}
.home__img-6 {
  width: 150px;
  right: 4rem;
  bottom: -0.75rem;
}
.home__flower-3 {
  width: 20px;
  top: -1rem;
  right: 1rem;
}
.home__flower-4 {
  width: 20px;
  left: 0;
  bottom: 0;
}
.home__leaf-3 {
  width: 25px;
  right: 1rem;
  bottom: 1.5rem;
}

/*=============== BUTTON ===============*/
.button {
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  transition:
    backrgound-color 0.4s,
    box-shadow 0.4s;
}
.button:hover {
  background-color: var(--first-color-alt);
  box-shadow: 0 8px 24px hsla(358, 54%, 24%, 0.3);
}

/*=============== ABOUT SECTION ===============*/
.about__container {
  row-gap: 3rem;
  padding-bottom: 3rem;
}
.about__data {
  position: relative;
  text-align: center;
}
.about__description {
  margin-bottom: 2rem;
}
.about__data img,
.about__text {
  position: absolute;
}
.about__flower-1 {
  width: 20px;
  top: 0.5rem;
  right: 2rem;
}
.about__flower-2 {
  width: 20px;
  left: 2rem;
  bottom: 2rem;
}
.about__leaf {
  width: 30px;
  right: 2rem;
  bottom: 4rem;
}
.about__text {
  bottom: -4rem;
  left: 0;
  right: 0;
  font-size: 10rem;
  font-weight: var(--font-medium);
  color: var(--body-color-alt);
  z-index: -1;
}
.about__images {
  position: relative;
  justify-self: center;
}
.about__blob{
  width: 200px;
  height: 320px;
  background-color: var(--first-color);
  border-radius: 1rem;
  margin-left: 4rem;
}
.about__img{
  position: absolute;
  max-width: initial;
  width: 230px;
  top: 0;
  bottom: 0;
  margin-bottom: auto;
  right: 2rem;
}
/*=============== MENU SECTION ===============*/

/* Swiper class */

/*=============== NEW SECTION ===============*/

/*=============== CONTACT SECTION ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL BAR ===============*/

/*=============== SCROLL UP ===============*/

/* Show Scroll Up */

/*=============== BREAKPOINTS ===============*/
/* For small devices <> */
@media screen and (width <= 320px) {
  .home__blob {
    width: 280px;
    height: 280px;
  }
  .about__text{
    font-size: 8rem;
  }
}
/* For medium devices <> */
@media screen and (width >= 540px) {
  .home__container,
  .about__container {
    grid-template-columns: 400px;
    justify-content: center;
  }
}
/* For large devices <> */
@media screen and (width >=1150px) {
  .container {
    margin-inline: auto;
  }
  .section {
    padding-block: 7rem 5rem;
  }
  .section__title {
    font-size: var(--biggest-font-size);
  }
  .section__subtitle {
    font-size: var(--h3-font-size);
  }
  .nav {
    height: calc(var(--header-height) + 2rem);
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }
  .home__container {
    grid-template-columns: 525px 580px;
    align-items: center;
    column-gap: 1rem;
    padding-top: 4rem;
  }
  .home__data {
    text-align: initial;
    margin-bottom: 4rem;
  }
  .home__description {
    margin: 1rem 3.5rem 3.5rem 0;
  }
  .home__flower-1 {
    width: 30px;
    top: -2.5rem;
    left: 1.5rem;
  }
  .home__flower-2 {
    width: 30px;
    left: 17rem;
    bottom: -3rem;
  }
  .home__leaf-1 {
    width: 40px;
    top: 0.5rem;
    right: 2.5rem;
  }
  .home__leaf-2 {
    width: 40px;
    top: initial;
    left: 2.5rem;
    bottom: -6rem;
  }
  .home__text {
    font-size: 17rem;
    top: -8rem;
  }
  .home__blob {
    width: 580px;
    height: 580px;
  }
  .home__img-1 {
    width: 460px;
    left: -5rem;
    bottom: 5rem;
  }
  .home__img-2 {
    width: 240px;
    top: 1rem;
    left: 4rem;
  }
  .home__img-3 {
    width: 180px;
    top: 10.5rem;
    right: 5.5rem;
  }
  .home__img-4 {
    width: 120px;
    top: 3rem;
    right: 8rem;
  }
  .home__img-5 {
    width: 100px;
    right: 2rem;
    bottom: 11rem;
  }
  .home__img-6 {
    width: 300px;
    right: 8rem;
    bottom: -4rem;
  }
  .home__flower-3 {
    width: 30px;
    right: 6.5rem;
  }
  .home__flower-4 {
    width: 30px;
    left: 1rem;
    bottom: 1.5rem;
  }
  .home__leaf-3 {
    width: 35px;
    bottom: 2.5rem;
  }
  .about__container{
    grid-template-columns: 350px 530px;
    column-gap: 13rem;
    align-items: center;
    padding-block: 2rem 5rem;
  }
  .about__data{
    order: 1;
    text-align: initial;
  }
  .about__data :is(.section__title, .section__subtitle){
    text-align: initial;
  }
  .about__description{
    margin-bottom: 3.5rem;
  }
  .about__flower-1{
    width: 30px;
    right: 9rem;
  }
  .about__flower-2{
    width: 30px;
    bottom: -5rem;
    left: 0;
  }
  .about__leaf{
    width: 40px;
    top: 0;
    bottom: 0;
    margin-block: auto;
  }
  .about__text{
    font-size: 17rem;
    white-space: nowrap;
    bottom: -9rem;
    left: -1.5rem;
  }
  .about__blob{
    width: 350px;
    height: 560px;
    margin-left: 0;
  }
  .about__img{
    width: 420px;
    right: -6rem;
  }
}
/* For 2K resolutions <> */
