/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(358, 54%, 48%);
  --first-color-alt: hsl(358, 54%, 46%);
  --first-color-light: hsl(358, 50%, 58%);
  --title-color: hsl(34, 8%, 16%);
  --text-color: hsl(34, 8%, 40%);
  --white-color: hsl(34, 64%, 98%);
  --gray-color: hsl(34, 8%, 85%);
  --body-color: hsl(34, 100%, 94%);
  --body-color-alt: hsl(34, 70%, 88%);
  --container-color: hsl(34, 32%, 98%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Lora", serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (width >= 1150px) {
  :root {
    --biggest-font-size: 3.5rem;
    --bigger-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
button {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--second-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  text-align: center;
  font-size: var(--bigger-font-size);
  margin-bottom: 1rem;
}

.section__title span {
  color: var(--first-color);
}

.section__subtitle {
  display: block;
  text-align: center;
  font: var(--font-semi-bold) var(--small-font-size) var(--second-font);
  color: var(--first-color);
  margin-bottom: 0.5rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow 0.4s;
}
.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--second-font);
}
.nav__toggle {
  width: 32px;
  height: 32px;
  background-color: var(--first-color);
  color: var(--white-color);
  border-radius: 0.5rem;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (width <= 1150px) {
  .nav__menu {
    position: fixed;
    top: -120%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(0, 0%, 0%, 0.15);
    padding-block: 4rem;
    border-radius: 0 0 1rem 1rem;
    transition: top 0.4s;
  }
}
.nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}
.nav__link:hover {
  color: var(--first-color);
}
.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  display: inline-flex;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}
/* Show menu */
.show-menu {
  top: 0;
}
/* Change header styles */
.scroll-header {
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.15);
}
/* Active link */
.active-link {
  color: var(--first-color);
}

/*=============== HOME SECTION ===============*/
.home__container {
  padding-top: 1.5rem;
  row-gap: 3rem;
}
.home__data {
  position: relative;
  text-align: center;
}
.home__title {
  font-size: var(--biggest-font-size);
}
.home__title span {
  color: var(--first-color);
}
.home__description {
  margin-block: 1rem 2rem;
}
.home__data img,
.home__text {
  position: absolute;
}
.home__flower-1 {
  width: 20px;
  top: -1.5rem;
  left: 4rem;
}
.home__flower-2 {
  width: 20px;
  left: 1.25rem;
}
.home__leaf-1 {
  width: 30px;
  top: 0;
  right: 0;
}
.home__leaf-2 {
  width: 30px;
  left: 4rem;
  bottom: -2rem;
}
.home__text {
  left: 0;
  top: -1.75rem;
  font-size: 12rem;
  font-weight: var(--font-medium);
  color: var(--body-color-alt);
  z-index: -1;
}

.home__images {
  position: relative;
  justify-self: center;
}
.home__blob {
  width: 300px;
  height: 300px;
  background-color: var(--first-color);
  border-radius: 50%;
  justify-self: center;
}
.home__images img {
  position: absolute;
}
.home__img-1 {
  width: 230px;
  left: -1.5rem;
  bottom: 3rem;
}
.home__img-2 {
  width: 120px;
  top: 0.5rem;
  left: 2rem;
}
.home__img-3 {
  width: 90px;
  top: 5rem;
  right: 3rem;
}
.home__img-4 {
  width: 60px;
  top: 1.25rem;
  right: 4.5rem;
}
.home__img-5 {
  width: 50px;
  right: 1.5rem;
  bottom: 7rem;
}
.home__img-6 {
  width: 150px;
  right: 4rem;
  bottom: -0.75rem;
}
.home__flower-3 {
  width: 20px;
  top: -1rem;
  right: 1rem;
}
.home__flower-4 {
  width: 20px;
  left: 0;
  bottom: 0;
}
.home__leaf-3 {
  width: 25px;
  right: 1rem;
  bottom: 1.5rem;
}

/*=============== BUTTON ===============*/
.button {
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  transition:
    backrgound-color 0.4s,
    box-shadow 0.4s;
}
.button:hover {
  background-color: var(--first-color-alt);
  box-shadow: 0 8px 24px hsla(358, 54%, 24%, 0.3);
}

/*=============== ABOUT SECTION ===============*/
.about__container {
  row-gap: 3rem;
  padding-bottom: 3rem;
}
.about__data {
  position: relative;
  text-align: center;
}
.about__description {
  margin-bottom: 2rem;
}
.about__data img,
.about__text {
  position: absolute;
}
.about__flower-1 {
  width: 20px;
  top: 0.5rem;
  right: 2rem;
}
.about__flower-2 {
  width: 20px;
  left: 2rem;
  bottom: 2rem;
}
.about__leaf {
  width: 30px;
  right: 2rem;
  bottom: 4rem;
}
.about__text {
  bottom: -4rem;
  left: 0;
  right: 0;
  font-size: 10rem;
  font-weight: var(--font-medium);
  color: var(--body-color-alt);
  z-index: -1;
}
.about__images {
  position: relative;
  justify-self: center;
}
.about__blob {
  width: 200px;
  height: 320px;
  background-color: var(--first-color);
  border-radius: 1rem;
  margin-left: 4rem;
}
.about__img {
  position: absolute;
  max-width: initial;
  width: 230px;
  top: 0;
  bottom: 0;
  margin-bottom: auto;
  right: 2rem;
}
/*=============== MENU SECTION ===============*/
.menu {
  background-color: var(--first-color);
}
.menu .section__title {
  color: var(--white-color);
  margin-bottom: 1.5rem;
}
.menu__container {
  position: relative;
  padding-bottom: 3rem;
}
.menu__text-1,
.menu__text-2 {
  position: absolute;
  font-size: 10rem;
  font-weight: var(--font-medium);
  color: var(--first-color-alt);
}
.menu__text-1 {
  top: -4rem;
  left: 0;
}
.menu__text-2 {
  right: 0;
  bottom: 4rem;
}
.menu__tabs,
.menu__content {
  position: relative;
  z-index: 10;
}
.menu__button {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  background: hsla(358, 69%, 58%, 0.4);
  color: var(--white-color);
  border: 2px solid var(--white-color);
  border-radius: 4rem;
  cursor: pointer;
  transition:
    background-color 0.4s,
    color 0.4s;
}
.menu__button img {
  width: 30px;
}
.menu__button:hover {
  background-color: var(--white-color);
  color: var(--first-color);
}
.menu__cards {
  display: grid;
  grid-template-columns: 238px;
  justify-content: center;
  gap: 1.5rem;
}
.menu__card {
  background-color: hsla(358, 54%, 95%, 0.2);
  padding: 1.5rem;
  border-radius: 1rem;
  transition: background-color 0.4s;
}
.menu__blob {
  width: 190px;
  height: 190px;
  background-color: hsla(358, 54%, 98%, 0.2);
  border-radius: 1rem;
  display: grid;
  place-items: center;
  transition: background-color 0.4s;
}
.menu__img {
  width: 120px;
}
.menu__name,
.menu__price,
.menu__stock {
  color: var(--white-color);
  transition: color 0.4s;
}
.menu__name {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-block: 1.25rem 0.75rem;
}
.menu__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__price {
  font-size: var(--h2-font-size);
}
.menu__stock {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
}
.menu__card:hover {
  background-color: var(--white-color);
}
.menu__card:hover .menu__blob {
  background-color: var(--gray-color);
}
.menu__card:hover .menu__name {
  color: var(--title-color);
}
.menu__card:hover .menu__price {
  color: var(--first-color);
}
.menu__card:hover .menu__stock {
  color: var(--text-color);
}
/* Swiper class */
.menu__tabs {
  overflow: initial;
}
.menu__tabs .swiper-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 3rem;
}
.menu__tabs .swiper-slide {
  width: initial;
  height: initial;
}
.menu__tabs .swiper-slide-thumb-active {
  background-color: var(--white-color);
  color: var(--first-color);
}
/*=============== NEW SECTION ===============*/
.new__container {
  row-gap: 5rem;
  padding-bottom: 6rem;
}
.new__data {
  position: relative;
  text-align: center;
}
.new__data img,
.new__text-1 {
  position: absolute;
}
.new__flower-1 {
  width: 20px;
  top: 3rem;
  left: 0;
}
.new__flower-2 {
  width: 20px;
  left: 0;
  right: 0;
  bottom: -2rem;
  margin-inline: auto;
}
.new__leaf-1 {
  width: 30px;
  top: 0.5rem;
  right: 0;
}
.new__leaf-2 {
  width: 25px;
  bottom: -4rem;
  left: 0.5rem;
}
.new__text-1 {
  bottom: -8rem;
  left: 0;
  right: 0;
  font-size: 10rem;
  font-weight: var(--font-medium);
  color: var(--body-color-alt);
  z-index: -1;
}
.new__images {
  position: relative;
  justify-self: center;
}
.new__blob {
  width: 200px;
  height: 320px;
  background-color: var(--first-color);
  border-radius: 1rem;
  margin-left: 4rem;
}
.new__images img,
.new__text-2 {
  position: absolute;
}
.new__img-1 {
  width: 270px;
  right: 0;
  bottom: 0;
}
.new__img-2 {
  width: 200px;
  top: 2rem;
  right: 0;
}
.new__img-3 {
  width: 200px;
  top: -2rem;
  right: 1.5rem;
}
.new__img-4 {
  width: 50px;
  top: 9rem;
  right: 0.5rem;
}
.new__img-5 {
  width: 50px;
  right: 2.5rem;
  bottom: 0.5rem;
}
.new__flower-3 {
  width: 20px;
  top: 3rem;
  right: -2rem;
}
.new__flower-4 {
  width: 20px;
  bottom: -2rem;
  left: 6rem;
}
.new__leaf-3 {
  width: 25px;
  top: 10rem;
  left: 0.75rem;
}
.new__text-2 {
  bottom: -3rem;
  left: 0;
  font-size: 4rem;
  font-weight: var(--font-medium);
  color: var(--body-color-alt);
  z-index: -1;
}
/*=============== CONTACT SECTION ===============*/
.contact {
  background-color: var(--first-color);
}
.contact .section__title {
  color: var(--white-color);
  margin-bottom: 2rem;
}
.contact__container {
  position: relative;
  row-gap: 5rem;
  padding-bottom: 3rem;
  color: var(--white-color);
}
.contact__text-1,
.contact__text-2 {
  position: absolute;
  font-size: 6rem;
  font-weight: var(--font-medium);
  color: var(--first-color-alt);
}
.contact__text-1 {
  top: -6rem;
  left: 0;
}
.contact__text-2 {
  right: 0;
  bottom: 3rem;
}
.contact__content {
  z-index: 10;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  gap: 2rem 3rem;
}
.contact__data {
  text-align: center;
}
.contact__title {
  color: var(--white-color);
  font-size: var(--small-font-size);
  margin-bottom: 0.25rem;
}

.contact__social {
  display: flex;
  justify-content: center;
  column-gap: 0.75rem;
}
.contact__social-link {
  color: var(--white-color);
  font-size: 1.5rem;
}
.contact__address {
  font-size: var(--small-font-size);
  font-style: initial;
}
.contact__newsletter {
  z-index: 10;
  row-gap: 1rem;
  text-align: center;
}
.contact__description {
  font-size: var(--small-font-size);
}
.contact__form {
  background-color: hsla(358, 54%, 98%, 0.2);
  padding: 0.75rem;
  border: 2px solid var(--white-color);
  border-radius: 4rem;
  display: flex;
  justify-content: space-between;
}
.contact__input {
  width: 100%;
  background: none;
  color: var(--white-color);
  font-size: var(--small-font-size);
  padding-left: 0.5rem;
}
.contact__input::placeholder {
  color: var(--white-color);
}
.contact__button {
  background-color: var(--white-color);
  color: var(--first-color);
  padding: 0.75rem 1rem;
  font-size: var(--small-font-size);
  border-radius: 4rem;
  cursor: pointer;
}
.contact__button:hover {
  background-color: var(--white-color);
}

/*=============== FOOTER ===============*/
.footer {
  padding-block: 2rem;
}
.footer__container {
  row-gap: 1rem;
  text-align: center;
}
.footer__logo {
  font: var(--font-semi-bold) var(--bigger-font-size) var(--second-font);
  color: var(--first-color);
  justify-self: center;
}
.footer__social {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
}
.footer__social-link {
  font-size: 1.5rem;
  color: var(--title-color);
  transition: color 0.4s;
}
.footer__social-link:hover {
  color: var(--first-color);
}
.footer__copy {
  margin-top: 3rem;
  font-size: var(--small-font-size);
}
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: hsl(34, 32%, 75%);
}
::-webkit-scrollbar-thumb {
  background-color: hsl(34, 32%, 65%);
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(34, 32%, 55%);
}
/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--body-color);
  box-shadow: 0 4px 16px hsla(0, 0%, 0%, 0.15);
  color: var(--title-color);
  display: inline-flex;
  padding: 6px;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  z-index: var(--z-tooltip);
  transition:
    bottom 0.4s,
    transform 0.4s;
}
.scrollup:hover {
  transform: translateY(-0.5rem);
}
/* Show Scroll Up */
.show-scroll {
  bottom: 3rem;
}
/*=============== BREAKPOINTS ===============*/
/* For small devices <> */
@media screen and (width <= 320px) {
  .home__blob {
    width: 280px;
    height: 280px;
  }
  .about__text,
  .new__text-1 {
    font-size: 8rem;
  }
  .contact__content {
    grid-template-columns: max-content;
  }
}
/* For medium devices <> */
@media screen and (width >= 540px) {
  .home__container,
  .about__container,
  .new__container,
  .contact__container {
    grid-template-columns: 400px;
    justify-content: center;
  }
}
/* For large devices <> */
@media screen and (width >=1150px) {
  .container {
    margin-inline: auto;
  }
  .section {
    padding-block: 7rem 5rem;
  }
  .section__title {
    font-size: var(--biggest-font-size);
  }
  .section__subtitle {
    font-size: var(--h3-font-size);
  }
  .nav {
    height: calc(var(--header-height) + 2rem);
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }
  .home__container {
    grid-template-columns: 525px 580px;
    align-items: center;
    column-gap: 1rem;
    padding-top: 4rem;
  }
  .home__data {
    text-align: initial;
    margin-bottom: 4rem;
  }
  .home__description {
    margin: 1rem 3.5rem 3.5rem 0;
  }
  .home__flower-1 {
    width: 30px;
    top: -2.5rem;
    left: 1.5rem;
  }
  .home__flower-2 {
    width: 30px;
    left: 17rem;
    bottom: -3rem;
  }
  .home__leaf-1 {
    width: 40px;
    top: 0.5rem;
    right: 2.5rem;
  }
  .home__leaf-2 {
    width: 40px;
    top: initial;
    left: 2.5rem;
    bottom: -6rem;
  }
  .home__text {
    font-size: 17rem;
    top: -8rem;
  }
  .home__blob {
    width: 580px;
    height: 580px;
  }
  .home__img-1 {
    width: 460px;
    left: -5rem;
    bottom: 5rem;
  }
  .home__img-2 {
    width: 240px;
    top: 1rem;
    left: 4rem;
  }
  .home__img-3 {
    width: 180px;
    top: 10.5rem;
    right: 5.5rem;
  }
  .home__img-4 {
    width: 120px;
    top: 3rem;
    right: 8rem;
  }
  .home__img-5 {
    width: 100px;
    right: 2rem;
    bottom: 11rem;
  }
  .home__img-6 {
    width: 300px;
    right: 8rem;
    bottom: -4rem;
  }
  .home__flower-3 {
    width: 30px;
    right: 6.5rem;
  }
  .home__flower-4 {
    width: 30px;
    left: 1rem;
    bottom: 1.5rem;
  }
  .home__leaf-3 {
    width: 35px;
    bottom: 2.5rem;
  }
  .about__container {
    grid-template-columns: 350px 530px;
    column-gap: 13rem;
    align-items: center;
    padding-block: 2rem 5rem;
  }
  .about__data {
    order: 1;
    text-align: initial;
  }
  .about__data :is(.section__title, .section__subtitle) {
    text-align: initial;
  }
  .about__description {
    margin-bottom: 3.5rem;
  }
  .about__flower-1 {
    width: 30px;
    right: 9rem;
  }
  .about__flower-2 {
    width: 30px;
    bottom: -5rem;
    left: 0;
  }
  .about__leaf {
    width: 40px;
    top: 0;
    bottom: 0;
    margin-block: auto;
  }
  .about__text {
    font-size: 17rem;
    white-space: nowrap;
    bottom: -9rem;
    left: -1.5rem;
  }
  .about__blob {
    width: 350px;
    height: 560px;
    margin-left: 0;
  }
  .about__img {
    width: 420px;
    right: -6rem;
  }
  .menu .section__title {
    margin-bottom: 2rem;
  }
  .menu__container {
    padding-bottom: 6rem;
  }
  .menu__text-1 {
    top: -8rem;
    font-size: 12rem;
  }
  .menu__text-2 {
    bottom: 0;
    font-size: 12rem;
  }
  .menu__tabs .swiper-wrapper {
    column-gap: 1.5rem;
    margin-bottom: 6rem;
  }
  .menu__button {
    padding: 0.5rem 1rem;
    font-size: var(--normal-font-size);
  }
  .menu__cards {
    grid-template-columns: repeat(3, 304px);
    column-gap: 4rem;
  }
  .menu__card {
    padding: 2rem 2rem 2.5rem;
  }
  .menu__blob {
    width: 240px;
    height: 240px;
  }
  .menu__img {
    width: 150px;
  }
  .menu__name {
    font-size: 1.75rem;
  }
  .new__container {
    grid-template-columns: 460px 350px;
    align-items: center;
    column-gap: 13rem;
    padding-block: 2rem 7rem;
  }
  .new__data,
  .new__data :is(.section__title, .section__subtitle) {
    text-align: initial;
  }
  .new__flower-1 {
    width: 30px;
    top: -5rem;
  }
  .new__flower-2 {
    width: 30px;
    left: initial;
    right: 8rem;
    bottom: -4rem;
  }
  .new__leaf-1 {
    width: 40px;
    top: -5.5rem;
    right: 4rem;
  }
  .new__leaf-2 {
    width: 35px;
    bottom: -7rem;
    left: 1rem;
  }
  .new__text-1 {
    font-size: 17rem;
    white-space: nowrap;
    bottom: -15rem;
    left: -2.5rem;
  }
  .new__blob {
    width: 350px;
    height: 560px;
    margin-left: 0;
  }
  .new__img-1 {
    max-width: initial;
    width: 500px;
    bottom: -1.5rem;
  }
  .new__img-2 {
    max-width: initial;
    width: 380px;
    top: 3.5rem;
  }
  .new__img-3 {
    width: 350px;
    top: -3.5rem;
    right: 3rem;
  }
  .new__img-4 {
    width: 90px;
    top: 15.5rem;
    right: 1rem;
  }
  .new__img-5 {
    width: 90px;
    right: 4rem;
  }
  .new__flower-3 {
    width: 30px;
    top: -3rem;
    right: 0.5rem;
  }
  .new__flower-4 {
    width: 30px;
    bottom: -5rem;
  }
  .new__leaf-3 {
    width: 35px;
    top: 21rem;
    left: -6rem;
  }
  .new__text-2 {
    font-size: 9rem;
    white-space: nowrap;
    left: -12rem;
    top: -4rem;
  }
  .contact .section__title {
    margin-bottom: 3.5rem;
  }
  .contact__text-1,
  .contact__text-2 {
    font-size: 10rem;
    top: -13rem;
  }
  .contact__content {
    grid-template-columns: repeat(4, max-content);
    column-gap: 6rem;
  }
  .contact__title {
    font-size: var(--normal-font-size);
    margin-bottom: 1rem;
  }
  .contact__social {
    column-gap: 1rem;
  }
  .contact__address,
  .contact__description {
    font-size: var(--normal-font-size);
  }
  .contact__form {
    width: 450px;
  }
  .contact__input {
    font-size: var(--normal-font-size);
    padding-left: 0.75rem;
  }
  .contact__button {
    padding: 1rem 1.5rem;
    font-size: var(--normal-font-size);
  }
  .footer {
    padding-top: 3rem;
  }
  .footer__container {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
  .footer__logo {
    font-size: var(--h2-font-size);
    justify-self: flex-start;
  }
  .footer__social {
    order: 1;
    justify-self: flex-end;
  }
  .footer__copy {
    margin: 0;
  }
  .scrollup {
    right: 3rem;
  }
}
/* For 2K resolutions <> */
@media screen and (width >= 2048px) {
  body {
    zoom: 120%;
  }
}
