* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--black: hsl(0 0% 0%);
	--white: hsl(0 0% 100%);
	--trans-dur: 0.3s;
	color-scheme: light dark;
}
body {
	background-color: light-dark(var(--white), var(--black));
	color: light-dark(var(--black), var(--white));
	font: 16px / 1.5 sans-serif;
	display: grid;
	place-items: center;
	height: 100vh;
	transition:
		background-color var(--trans-dur),
		color var(--trans-dur);
}
canvas {
	display: block;
	object-fit: contain;
	max-width: 100vw;
	max-height: 100vh;
}