*, *::before, *::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  background-color: #000;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  position: relative;
}
.container i {
  position: absolute;
  left: -30px;
  top: -30px;
  width: 200px;
  height: 200px;
  border-radius: 100px 100px 0 100px;
  transform-origin: 30px 30px;
  mix-blend-mode: plus-lighter;
  box-shadow: 25px 25px 5px var(--color) inset, 5px 5px 50px var(--color);
  -webkit-animation: i var(--duration) var(--delay) infinite linear;
          animation: i var(--duration) var(--delay) infinite linear;
}
@-webkit-keyframes i {
  to {
    rotate: 1turn;
  }
}
@keyframes i {
  to {
    rotate: 1turn;
  }
}
.container i:nth-child(odd) {
  animation-direction: reverse;
}
.container i:nth-child(1) {
  --color: hsl(0 100% 50% / 0.25);
  --delay: -5.74s;
  --duration: 6.498s;
}
.container i:nth-child(2) {
  --color: hsl(1 100% 50% / 0.25);
  --delay: -0.15s;
  --duration: 7.364s;
}
.container i:nth-child(3) {
  --color: hsl(2 100% 50% / 0.25);
  --delay: -2.17s;
  --duration: 8.516s;
}
.container i:nth-child(4) {
  --color: hsl(3 100% 50% / 0.25);
  --delay: -7.18s;
  --duration: 9.883s;
}
.container i:nth-child(5) {
  --color: hsl(4 100% 50% / 0.25);
  --delay: -7.05s;
  --duration: 10.669s;
}
.container i:nth-child(6) {
  --color: hsl(5 100% 50% / 0.25);
  --delay: -8.52s;
  --duration: 12.026s;
}
.container i:nth-child(7) {
  --color: hsl(6 100% 50% / 0.25);
  --delay: -5.53s;
  --duration: 13.519s;
}
.container i:nth-child(8) {
  --color: hsl(7 100% 50% / 0.25);
  --delay: -4.09s;
  --duration: 14.45s;
}
.container i:nth-child(9) {
  --color: hsl(8 100% 50% / 0.25);
  --delay: -1.15s;
  --duration: 15.377s;
}
.container i:nth-child(10) {
  --color: hsl(9 100% 50% / 0.25);
  --delay: -1.85s;
  --duration: 16.178s;
}
.container i:nth-child(11) {
  --color: hsl(10 100% 50% / 0.25);
  --delay: -4.58s;
  --duration: 17.319s;
}
.container i:nth-child(12) {
  --color: hsl(11 100% 50% / 0.25);
  --delay: -7.2s;
  --duration: 17.82s;
}
.container i:nth-child(13) {
  --color: hsl(12 100% 50% / 0.25);
  --delay: -3.25s;
  --duration: 19.186s;
}
.container i:nth-child(14) {
  --color: hsl(13 100% 50% / 0.25);
  --delay: -1.54s;
  --duration: 20.149s;
}
.container i:nth-child(15) {
  --color: hsl(14 100% 50% / 0.25);
  --delay: -6.6s;
  --duration: 21.437s;
}
.container i:nth-child(16) {
  --color: hsl(15 100% 50% / 0.25);
  --delay: -3.51s;
  --duration: 22.637s;
}
.container i:nth-child(17) {
  --color: hsl(16 100% 50% / 0.25);
  --delay: -3.36s;
  --duration: 23.861s;
}
.container i:nth-child(18) {
  --color: hsl(17 100% 50% / 0.25);
  --delay: -2.42s;
  --duration: 24.526s;
}
.container i:nth-child(19) {
  --color: hsl(18 100% 50% / 0.25);
  --delay: -2.35s;
  --duration: 25.784s;
}
.container i:nth-child(20) {
  --color: hsl(19 100% 50% / 0.25);
  --delay: -3.49s;
  --duration: 26.842s;
}
.container i:nth-child(21) {
  --color: hsl(20 100% 50% / 0.25);
  --delay: -6.75s;
  --duration: 27.691s;
}
.container i:nth-child(22) {
  --color: hsl(21 100% 50% / 0.25);
  --delay: -4.95s;
  --duration: 28.704s;
}
.container i:nth-child(23) {
  --color: hsl(22 100% 50% / 0.25);
  --delay: -6.8s;
  --duration: 29.4s;
}
.container i:nth-child(24) {
  --color: hsl(23 100% 50% / 0.25);
  --delay: -2.84s;
  --duration: 30.218s;
}
.container i:nth-child(25) {
  --color: hsl(24 100% 50% / 0.25);
  --delay: -5.83s;
  --duration: 30.778s;
}
.container i:nth-child(26) {
  --color: hsl(25 100% 50% / 0.25);
  --delay: -0.18s;
  --duration: 32.248s;
}
.container i:nth-child(27) {
  --color: hsl(26 100% 50% / 0.25);
  --delay: -9.03s;
  --duration: 33.527s;
}
.container i:nth-child(28) {
  --color: hsl(27 100% 50% / 0.25);
  --delay: -5.76s;
  --duration: 34.504s;
}
.container i:nth-child(29) {
  --color: hsl(28 100% 50% / 0.25);
  --delay: -5.14s;
  --duration: 35.452s;
}
.container i:nth-child(30) {
  --color: hsl(29 100% 50% / 0.25);
  --delay: -0.97s;
  --duration: 36.74s;
}
.container i:nth-child(31) {
  --color: hsl(30 100% 50% / 0.25);
  --delay: -0.49s;
  --duration: 37.434s;
}
.container i:nth-child(32) {
  --color: hsl(31 100% 50% / 0.25);
  --delay: -9.36s;
  --duration: 38.751s;
}
.container i:nth-child(33) {
  --color: hsl(32 100% 50% / 0.25);
  --delay: -2.58s;
  --duration: 39.289s;
}
.container i:nth-child(34) {
  --color: hsl(33 100% 50% / 0.25);
  --delay: -2.4s;
  --duration: 39.884s;
}
.container i:nth-child(35) {
  --color: hsl(34 100% 50% / 0.25);
  --delay: -1.59s;
  --duration: 40.716s;
}
.container i:nth-child(36) {
  --color: hsl(35 100% 50% / 0.25);
  --delay: -9.66s;
  --duration: 42.03s;
}