@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0;
}
header {
  background-image: url(img/bg.png);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

.container{
  width: 1000px;
  max-width: 100%;
  padding: 1rem;
  margin: 0 auto;
}

nav{
  padding: 0.5rem 0;
}

a{
  color:#fff;
  text-decoration: none;
}
.pre-nav{
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
  align-items: center;
}
.logo{
  color: #026e78;
  font-weight: bold;
  font-size: 2.5rem;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

nav li{
  flex: 1 auto;
}

nav li a{
  display: block;
  text-align: center;
  background-color: #2d99a4;
  padding: 1rem 2rem;
}

nav a.active{
  background-color: #fff;
  color: #026e78;
  font-weight: bold;
}

nav a.highlight{
  background-color: #026e78;
  color: #fff;
}

nav a:hover{
  opacity: 0.8;
}

.content{
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  font-size: 2rem;
  align-items: flex-start;
}

.content h1{
  background-color: #026e78;
  color:#fff;
  display: inline-block;
  padding: 1rem;
  font-weight: 200;
}

.white-link{
  background-color: #fff;
  color: #2d99a4;
  padding: 1rem;
}
.teal-link{
  color: #fff;
  background-color: #2d99a4;
  padding: 1rem;
  margin-top: 2rem;
}

@media screen and (max-width:800px){
  .pre-nav{
    flex-direction: column;
    justify-content: center;
  }

  .content{
    font-size: 1.5rem;
  }
}