/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600;700&family=Jost:wght@500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(40, 24%, 64%);
  --white-color: hsl(40, 31%, 89%);
  --black-color: hsl(40, 14%, 14%);
  --body-color: hsl(40, 33%, 86%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Jost", sans-serif;
  --second-font: "Cormorant Garamond", serif;
  --biggest-font-size: 3.5rem;
  --bigger-font-size: 2.75rem;
  --big-font-size: 1.25rem;
  --normal-font-size: 0.938rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 6rem;
    --bigger-font-size: 4.5rem;
    --big-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--black-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: background-color 0.4s, box-shadow 0.4s;
}
.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  font-family: var(--second-font);
  color: var(--black-color);
}
.nav__logo i {
  font-size: 1.5rem;
}
.nav__logo span {
  font-weight: var(--font-bold);
}
.nav__toggle,
.nav__close {
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;
}
/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: -120%;
    left: 0;
    background-color: var(--body-color);
    box-shadow: 0 4px 24px hsla(40, 24%, 4%, 0.1);
    width: 100%;
    padding-block: 5rem 4.5rem;
    transition: top 0.4s;
  }
}
.nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.nav__link {
  color: var(--black-color);
}
.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}

/* Add shadow header */
.shadow-header {
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(40, 24%, 4%, 0.1);
}
/*=============== HOME ===============*/
.home {
  position: relative;
}
.home__container {
  padding-top: 9.5rem;
  height: 100vh;
}
.home__data {
  position: relative;
  z-index: var(--z-tooltip);
}
.home__subtitle {
  font-size: var(--big-font-size);
  font-family: var(--second-font);
  margin-bottom: 0.5rem;
}
.home__title {
  font-size: var(--biggest-font-size);
  font-family: var(--second-font);
  line-height: 100%;
  margin-bottom: 1rem;
}
.home__title span {
  font-size: var(--bigger-font-size);
}
.home__button {
  position: relative;
  display: inline-flex;
  background-color: var(--body-color);
  border: 3px solid var(--black-color);
  padding: 0.75rem 2rem;
  border-radius: 4rem;
  color: var(--black-color);
}
.home__button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--body-color);
  border: 3px solid var(--black-color);
  border-radius: 4rem;
  left: 0;
  right: 0;
  bottom: -8px;
  justify-self: center;
  z-index: -1;
  transition: transform 0.4s;
}
.home__button:hover::after {
  transform: translate(2px, 2px);
}
.home__cloud-1,
.home__cloud-2 {
  position: absolute;
  width: 150px;
}
.home__cloud-1 {
  top: 6rem;
  right: 1rem;
  animation: cloud-1 8s linear infinite;
}
.home__cloud-2 {
  top: 25rem;
  left: 0.5rem;
  animation: cloud-2 8s linear infinite;
}
.home__images {
  overflow: hidden;
}
.home__images div {
  max-width: initial;
  width: 650px;
  height: 270px;
  background-size: 1000px 100%;
  position: absolute;
  left: 0;
}
.home__waves-1 {
  bottom: -1.5rem;
  animation: waves-1 4s linear infinite;
}
.home__waves-2 {
  bottom: -1rem;
  animation: waves-2 4s linear infinite;
}
.home__waves-3 {
  bottom: 3rem;
  animation: waves-1 4s linear infinite;
}
.home__ship {
  width: 300px;
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  transform-origin: center center;
  animation: ship 2s linear infinite;
}
/* Animated Clouds */
@keyframes cloud-1 {
  0% {
    margin-right: -1000px;
  }
  100% {
    margin-right: 100%;
  }
}
@keyframes cloud-2 {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -1000px;
  }
}
/* Animated waves */
@keyframes waves-1 {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0;
  }
}
@keyframes waves-2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
/* Animated ship */
@keyframes ship {
  0% {
    transform: translateY(0) rotate(0);
  }
  25% {
    transform: translateY(0) rotate(-8deg);
  }
  40% {
    transform: translateY(4px) rotate(-8deg);
  }
  85% {
    transform: translateY(1px) rotate(8deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 300px) {
  .container {
    margin-inline: 1rem;
  }
  .home__title {
    font-size: 3rem;
  }
  .home__title span {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 350px) and (max-height: 680px) {
  .home__container {
    height: 750px;
  }
  .home__images div {
    width: 100%;
  }
}
/* For medium devices */
@media screen and (min-width: 576px) {
  .home__images div {
    width: 100%;
  }
  .home__ship {
    width: 400px;
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
  .nav {
    height: calc(var(--header-height) + 2rem);
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4.5rem;
  }
  .home__container {
    /* height: 860px; Comment for full screen */
    padding-top: 11.5rem;
  }
  .home__title {
    margin-bottom: 3rem;
  }
  .home__button,
  .home__button:after {
    border-width: 4px;
  }
  .home__button::after {
    bottom: -12px;
  }
  .home__cloud-1,
  .home__cloud-2 {
    width: 250px;
  }
  .home__cloud-2 {
    top: 20rem;
  }
  .home__images div {
    height: 375px;
    background-size: 100vw 100%;
  }
  .home__waves-1 {
    bottom: -2.5rem;
  }
  .home__waves-2 {
    bottom: -2rem;
  }
  .home__waves-3 {
    bottom: 5rem;
  }
  .home__ship {
    width: 630px;
    left: 30rem;
  }
  /* Animated waves desktop */
  @keyframes waves-1 {
    0% {
      background-position-x: 100vw;
    }
    100% {
      background-position-x: 0;
    }
  }
  @keyframes waves-2 {
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: 100vw;
    }
  }
}

@media screen and (min-width: 1150px) and (min-height: 1000px) {
  .home__container {
    display: grid;
    height: 100vh;
  }
  .home__data {
    align-self: center;
  }
}
