body { margin: 0; overflow: hidden; background-color: #080808; }
        canvas { display: block; }
        .lil-gui.autoPlace {
            position: absolute;
            top: auto;
            bottom: 10px;
            right: 10px;
        }