@import url('https://unpkg.com/normalize.css') layer(normalize);

@layer normalize, base, demo, mobile;

@layer mobile {
  .grid div[data-hover] {
    transition-property: opacity, rotate, filter;
    transition-duration: 0s;
    rotate: calc(var(--grade, 0) * 90deg);
    filter: grayscale(0) brightness(1.5);
    opacity: 1;
  }
}

@layer demo {
  h1 {
    --font-level: 5;
    translate: 12px;
    margin: 0;
    margin-bottom: 1rem;
    color: color-mix(in hsl, canvasText, canvas 25%);
  }
  .grid {
    touch-action: none;
    display: grid;
    grid-template: repeat(var(--rows, 10), 1fr) / repeat(var(--cols, 10), 1fr);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    font-family: ui-monospace, SFMono-Regular, Menlo, monospace;
    cursor: none;

    div {
      touch-action: none;
      padding: 2px;
      opacity: calc(var(--opacity) * 0.5);
      aspect-ratio: 1;
      display: grid;
      place-items: center;
      transition-property: opacity, rotate, filter;
      transition-duration: 0.8s, 0.4s, 0.6s;
      transition-timing-function: ease-in, ease-out, ease-out;
      scale: 1.5;
      filter: grayscale(1);
      color: hsl(var(--hue) 80% 50%);

      @media(prefers-color-scheme: dark) {
        opacity: calc(var(--opacity) + 0.2);
      }
      @media(hover: hover) and (pointer: fine) {
        &:hover {
          transition-property: opacity, rotate, filter;
          transition-duration: 0s;
          rotate: calc(var(--grade, 0) * 90deg);
          filter: grayscale(0) brightness(1.5);
          opacity: 1;
        }
      }

    }
  }
  [data-theme='dark'] .grid div {
    opacity: calc(var(--opacity) + 0.2);
    @media(hover: hover) and (pointer: fine) {
      &:hover {
        opacity: 1;
      }
    }
  }
}

@layer base {
  :root {
    --font-size-min: 16;
    --font-size-max: 20;
    --font-ratio-min: 1.2;
    --font-ratio-max: 1.33;
    --font-width-min: 375;
    --font-width-max: 1500;
  }

  html {
    color-scheme: light dark;
  }

  [data-theme='light'] {
    color-scheme: light only;
  }

  [data-theme='dark'] {
    color-scheme: dark only;
  }

  :where(.fluid) {
    --fluid-min: calc(
      var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0))
    );
    --fluid-max: calc(
      var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0))
    );
    --fluid-preferred: calc(
      (var(--fluid-max) - var(--fluid-min)) /
        (var(--font-width-max) - var(--font-width-min))
    );
    --fluid-type: clamp(
      (var(--fluid-min) / 16) * 1rem,
      ((var(--fluid-min) / 16) * 1rem) -
        (((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) +
        (var(--fluid-preferred) * var(--variable-unit, 100vi)),
      (var(--fluid-max) / 16) * 1rem
    );
    font-size: var(--fluid-type);
  }

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  body {
    overflow-x: hidden;
    background: light-dark(#fff, #000);
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue',
      Helvetica, Arial, sans-serif, system-ui;
  }

  body::before {
    --size: 45px;
    --line: color-mix(in hsl, canvasText, transparent 80%);
    content: '';
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: linear-gradient(
          90deg,
          var(--line) 1px,
          transparent 1px var(--size)
        )
        calc(var(--size) * 0.36) 50% / var(--size) var(--size),
      linear-gradient(var(--line) 1px, transparent 1px var(--size)) 0%
        calc(var(--size) * 0.32) / var(--size) var(--size);
    -webkit-mask: linear-gradient(-20deg, transparent 50%, white);
            mask: linear-gradient(-20deg, transparent 50%, white);
    top: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -1;
  }

  .bear-link {
    color: canvasText;
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 48px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    opacity: 0.8;
  }

  :where(.x-link, .bear-link):is(:hover, :focus-visible) {
    opacity: 1;
  }

  .bear-link svg {
    width: 75%;
  }

  /* Utilities */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

div.tp-dfwv {
  width: 256px;
  position: fixed;
}