@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #7ea8f8, #e14e42);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.chart {
  margin: 10px;
}
