/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 330px){
   .card{
      margin-inline: 1rem;

      &__article{
         width: 100%;
      }
   }
}
