/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Montserrat:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(353, 93%, 50%);
  --first-color-alt: hsl(353, 93%, 46%);
  --first-color-dark: hsl(353, 50%, 15%);
  --title-color: hsl(353, 48%, 12%);
  --text-color: hsl(353, 16%, 32%);
  --text-color-light: hsl(353, 16%, 48%);
  --white-color: hsl(24, 86%, 90%);
  --body-color: hsl(24, 86%, 88%);
  --container-color: hsl(24, 86%, 92%);
  --shadow-small-img: drop-shadow(0 4px 16px hsla(353, 100%, 8%, 0.2));
  --shadow-big-img: drop-shadow(0 8px 24px hsla(353, 100%, 8%, 0.2));

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Carter One", system-ui;
  --biggest-font-size: 2.5rem;
  --bigger-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.25rem;
    --bigger-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

input,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
button {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-regular);
  font-family: var(--second-font);
  line-height: 120%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}
.section__title {
  text-align: center;
  font-size: var(--bigger-font-size);
  margin-bottom: 2rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow 0.4s;
}
.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-family: var(--second-font);
  color: var(--title-color);
}
.nav__logo img {
  width: 24px;
}
.nav__toggle,
.nav__close {
  display: flex;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: -120%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    padding-block: 4.5rem 3.5rem;
    box-shadow: 0 4px 16px hsla(353, 100%, 8%, 0.1);
    transition: top 0.4s;
  }
}
.nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.nav__link {
  position: relative;
  color: var(--title-color);
  font-family: var(--second-font);
}
.nav__link::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--first-color);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: width 0.4s;
}
.nav__link:hover::after {
  width: 60%;
}
.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}
/* Add shadow header */
.shadow-header {
  box-shadow: 0 4px 16px hsla(353, 100%, 8%, 0.1);
}
/* Active link */

/*=============== HOME ===============*/
.home__container {
  padding-block: 2rem 3rem;
  row-gap: 7rem;
}
.home__data {
  position: relative;
  text-align: center;
}
.home__title {
  font-size: var(--biggest-font-size);
}
.home__description {
  margin-block: 1rem 2rem;
}
.home__sticker-1,
.home__sticker-2 {
  width: 40px;
  position: absolute;
  opacity: 0.7;
}
.home__sticker-1 {
  right: 0.75rem;
  bottom: 2rem;
  rotate: 30deg;
}
.home__sticker-2 {
  left: 2.5rem;
  bottom: -4.5rem;
}
.home__images {
  position: relative;
  display: grid;
  justify-items: center;
  justify-self: center;
}
.home__ingredient {
  width: 60px;
  filter: var(--shadow-small-img);
  position: absolute;
  z-index: 2;
}
.home__board,
.home__pizza {
  filter: var(--shadow-big-img);
}
.home__pizza {
  width: 300px;
  z-index: 2;
}
.home__board {
  width: 300px;
  position: absolute;
  bottom: -0.5rem;
  left: -0.15rem;
}
.home__leaf-1 {
  top: -1rem;
}
.home__pepperoni {
  right: -0.5rem;
  top: 2rem;
}
.home__mushroom {
  right: -0.5rem;
  bottom: 2rem;
}
.home__olive {
  bottom: -1rem;
}
.home__leaf-2 {
  left: -0.5rem;
  bottom: 2rem;
}
.home__tomato {
  left: -0.5rem;
  top: 2rem;
}
/*=============== BUTTON ===============*/
.button {
  display: inline-flex;
  justify-content: center;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 1rem 1.5rem;
  font-weight: var(--font-semi-bold);
  border-radius: 4rem;
  box-shadow: 0 8px 24px hsla(353, 100%, 40%, 0.4);
  transition: background-color 0.4s;
}
.button:hover {
  background-color: var(--first-color-alt);
}
/*=============== ABOUT ===============*/
.about {
  background-color: var(--container-color);
}
.about__container {
  row-gap: 2rem;
  padding-bottom: 2rem;
}
.about__data {
  position: relative;
  text-align: center;
}
.about__data .section__title {
  margin-bottom: 1rem;
}
.about__description {
  margin-bottom: 2rem;
}
.about__sticker {
  width: 40px;
  position: absolute;
  right: 0;
  bottom: 2rem;
}
.about__img {
  width: 320px;
  justify-self: center;
  filter: var(--shadow-big-img);
}
/*=============== POPULAR ===============*/

/* Swiper class */

/*=============== RECIPE ===============*/

/*=============== PRODUCTS ===============*/

/*=============== CONTACT ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL BAR ===============*/

/*=============== SCROLL UP ===============*/

/* Show Scroll Up */

/*=============== BREAKPOINTS ===============*/
/* For small devices */

/* For medium devices */

/* For large devices */
