* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --hue: 223;
  --gray50: hsl(var(--hue) 10% 95%);
  --gray100: hsl(var(--hue) 10% 90%);
  --gray150: hsl(var(--hue) 10% 85%);
  --gray200: hsl(var(--hue) 10% 80%);
  --gray300: hsl(var(--hue) 10% 70%);
  --gray400: hsl(var(--hue) 10% 60%);
  --gray500: hsl(var(--hue) 10% 50%);
  --gray600: hsl(var(--hue) 10% 40%);
  --gray700: hsl(var(--hue) 10% 30%);
  --gray750: hsl(var(--hue) 10% 25%);
  --gray800: hsl(var(--hue) 10% 20%);
  --gray850: hsl(var(--hue) 10% 15%);
  --gray900: hsl(var(--hue) 10% 10%);
  --trans-dur: 0.3s;
  color-scheme: light dark;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}

body {
  background-color: light-dark(var(--gray100), var(--gray750));
  background-image: linear-gradient(41deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0));
  background-position: center;
  color: light-dark(var(--gray900), var(--gray100));
  font: 1em/1.5 sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  min-height: 13.5em;
  transition: background-color var(--trans-dur), color var(--trans-dur);
}

.board {
  border-radius: 50%;
  position: relative;
  width: 13.5em;
  height: 13.5em;
  transform: rotateX(30deg);
}
.board__ball, .board__hole, .board__sector {
  position: absolute;
  inset: 0;
}
.board__ball, .board__hole {
  width: 1.5em;
  height: 1.5em;
}
.board__ball {
  animation-timing-function: linear;
  transition: box-shadow var(--trans-dur);
}
.board__ball, .board__ball::before {
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.board__ball::before {
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  inset: 0;
}
.board__hole {
  background-color: light-dark(var(--gray500), var(--gray900));
  border-radius: 50%;
  box-shadow: 0 -0.0625em 0.125em light-dark(var(--gray50), var(--gray700)), 0 0.125em 0.125em light-dark(var(--gray50), var(--gray700)) inset, 0 0.625em 0.375em light-dark(var(--gray150), var(--gray800)) inset;
  margin: auto;
  transition: background-color var(--trans-dur), box-shadow var(--trans-dur);
}
.board__hole:nth-child(1) {
  bottom: 10.5em;
  left: 0em;
}
.board__hole:nth-child(2) {
  bottom: 4.2426406871em;
  left: 4.2426406871em;
}
.board__hole:nth-child(3) {
  bottom: 7.4246212025em;
  left: 7.4246212025em;
}
.board__hole:nth-child(4) {
  bottom: 0em;
  left: 6em;
}
.board__hole:nth-child(5) {
  bottom: 0em;
  left: 10.5em;
}
.board__hole:nth-child(6) {
  bottom: -4.2426406871em;
  left: 4.2426406871em;
}
.board__hole:nth-child(7) {
  bottom: -7.4246212025em;
  left: 7.4246212025em;
}
.board__hole:nth-child(8) {
  bottom: -6em;
  left: 0em;
}
.board__hole:nth-child(9) {
  bottom: -10.5em;
  left: 0em;
}
.board__hole:nth-child(10) {
  bottom: -4.2426406871em;
  left: -4.2426406871em;
}
.board__hole:nth-child(11) {
  bottom: -7.4246212025em;
  left: -7.4246212025em;
}
.board__hole:nth-child(12) {
  bottom: 0em;
  left: -6em;
}
.board__hole:nth-child(13) {
  bottom: 0em;
  left: -10.5em;
}
.board__hole:nth-child(14) {
  bottom: 4.2426406871em;
  left: -4.2426406871em;
}
.board__hole:nth-child(15) {
  bottom: 7.4246212025em;
  left: -7.4246212025em;
}
.board__hole:nth-child(16) {
  bottom: 6em;
  left: 0em;
}
.board__sector {
  margin: auto;
  overflow: hidden;
  width: 3.75em;
  height: 7.5em;
}
.board__sector:nth-child(2n+1) {
  top: -1.5em;
  width: 3em;
  height: 4.5em;
}
.board__sector:nth-child(2n+2) {
  top: -2.25em;
  width: 3.75em;
  height: 3.75em;
}
.board__sector:nth-child(4n), .board__sector:nth-child(n+9) {
  animation-duration: 1s;
  animation-timing-function: step-start;
  animation-iteration-count: infinite;
  top: -1.125em;
  width: 1.5em;
  height: 4.875em;
}
.board__sector:nth-child(4n+1) {
  clip-path: url(#ball-clip-diagonal1);
}
.board__sector:nth-child(4n+2) {
  clip-path: url(#ball-clip-x);
}
.board__sector:nth-child(4n+3) {
  clip-path: url(#ball-clip-diagonal2);
}
.board__sector:nth-child(4), .board__sector:nth-child(10) {
  animation-name: straight-clip-y-a;
  clip-path: url(#ball-clip-y-a);
}
.board__sector:nth-child(8), .board__sector:nth-child(9) {
  animation-name: straight-clip-y-b;
  clip-path: url(#ball-clip-y-b);
}
.board__sector:nth-child(1) {
  bottom: 5.8336309448em;
  left: 5.8336309448em;
}
.board__sector:nth-child(1) .board__ball {
  animation-name: diagonal-left;
}
.board__sector:nth-child(1) .board__ball, .board__sector:nth-child(1) .board__ball::before {
  animation-delay: -0.875s;
}
.board__sector:nth-child(1) .board__ball::before {
  animation-name: diagonal-down;
  background-color: #4d73e6;
  background-image: radial-gradient(25% 35% at 75% 45%, #bccaf5 20%, rgba(188, 202, 245, 0) 50%), radial-gradient(100% 130% at 0 60%, #1a40b3 25%, rgba(26, 64, 179, 0) 50%);
  box-shadow: 0 0 0.1875em light-dark(white, #7996ec) inset;
}
.board__sector:nth-child(2) {
  bottom: 0em;
  left: 8.25em;
}
.board__sector:nth-child(2) .board__ball {
  animation-name: straight-left;
}
.board__sector:nth-child(2) .board__ball, .board__sector:nth-child(2) .board__ball::before {
  animation-delay: -0.75s;
}
.board__sector:nth-child(2) .board__ball::before {
  animation-name: straight-no-y;
  background-color: #e6bf4d;
  background-image: radial-gradient(25% 35% at 75% 45%, #f5e7bc 20%, rgba(245, 231, 188, 0) 50%), radial-gradient(100% 130% at 0 60%, #b38c1a 25%, rgba(179, 140, 26, 0) 50%);
  box-shadow: 0 0 0.1875em light-dark(white, #eccf79) inset;
}
.board__sector:nth-child(3) {
  bottom: -5.8336309448em;
  left: 5.8336309448em;
}
.board__sector:nth-child(3) .board__ball {
  animation-name: diagonal-left;
}
.board__sector:nth-child(3) .board__ball, .board__sector:nth-child(3) .board__ball::before {
  animation-delay: -0.625s;
}
.board__sector:nth-child(3) .board__ball::before {
  animation-name: diagonal-up;
  background-color: #e64d4d;
  background-image: radial-gradient(25% 35% at 75% 45%, #f5bcbc 20%, rgba(245, 188, 188, 0) 50%), radial-gradient(100% 130% at 0 60%, #b31a1a 25%, rgba(179, 26, 26, 0) 50%);
  box-shadow: 0 0 0.1875em light-dark(white, #ec7979) inset;
}
.board__sector:nth-child(4) {
  bottom: -8.25em;
  left: 0em;
}
.board__sector:nth-child(4) .board__ball {
  animation-name: none;
}
.board__sector:nth-child(4) .board__ball, .board__sector:nth-child(4) .board__ball::before {
  animation-delay: -0.5s;
}
.board__sector:nth-child(4) .board__ball::before {
  animation-name: straight-up;
  background-color: #e64dbf;
  background-image: radial-gradient(25% 35% at 75% 45%, #f5bce7 20%, rgba(245, 188, 231, 0) 50%), radial-gradient(100% 130% at 0 60%, #b31a8c 25%, rgba(179, 26, 140, 0) 50%);
  box-shadow: 0 0 0.1875em light-dark(white, #ec79cf) inset;
}
.board__sector:nth-child(5) {
  bottom: -5.8336309448em;
  left: -5.8336309448em;
}
.board__sector:nth-child(5) .board__ball {
  animation-name: diagonal-right;
}
.board__sector:nth-child(5) .board__ball, .board__sector:nth-child(5) .board__ball::before {
  animation-delay: -0.375s;
}
.board__sector:nth-child(5) .board__ball::before {
  animation-name: diagonal-up;
  background-color: #e6994d;
  background-image: radial-gradient(25% 35% at 75% 45%, #f5d9bc 20%, rgba(245, 217, 188, 0) 50%), radial-gradient(100% 130% at 0 60%, #b3661a 25%, rgba(179, 102, 26, 0) 50%);
  box-shadow: 0 0 0.1875em light-dark(white, #ecb379) inset;
}
.board__sector:nth-child(6) {
  bottom: 0em;
  left: -8.25em;
}
.board__sector:nth-child(6) .board__ball {
  animation-name: straight-right;
}
.board__sector:nth-child(6) .board__ball, .board__sector:nth-child(6) .board__ball::before {
  animation-delay: -0.25s;
}
.board__sector:nth-child(6) .board__ball::before {
  animation-name: straight-no-y;
  background-color: #4de6e6;
  background-image: radial-gradient(25% 35% at 75% 45%, #bcf5f5 20%, rgba(188, 245, 245, 0) 50%), radial-gradient(100% 130% at 0 60%, #1ab3b3 25%, rgba(26, 179, 179, 0) 50%);
  box-shadow: 0 0 0.1875em light-dark(white, #79ecec) inset;
}
.board__sector:nth-child(7) {
  bottom: 5.8336309448em;
  left: -5.8336309448em;
}
.board__sector:nth-child(7) .board__ball {
  animation-name: diagonal-right;
}
.board__sector:nth-child(7) .board__ball, .board__sector:nth-child(7) .board__ball::before {
  animation-delay: -0.125s;
}
.board__sector:nth-child(7) .board__ball::before {
  animation-name: diagonal-down;
  background-color: #994de6;
  background-image: radial-gradient(25% 35% at 75% 45%, #d9bcf5 20%, rgba(217, 188, 245, 0) 50%), radial-gradient(100% 130% at 0 60%, #661ab3 25%, rgba(102, 26, 179, 0) 50%);
  box-shadow: 0 0 0.1875em light-dark(white, #b379ec) inset;
}
.board__sector:nth-child(8) {
  bottom: 8.25em;
  left: 0em;
}
.board__sector:nth-child(8) .board__ball {
  animation-name: none;
}
.board__sector:nth-child(8) .board__ball, .board__sector:nth-child(8) .board__ball::before {
  animation-delay: 0s;
}
.board__sector:nth-child(8) .board__ball::before {
  animation-name: straight-down;
  background-color: #4de64d;
  background-image: radial-gradient(25% 35% at 75% 45%, #bcf5bc 20%, rgba(188, 245, 188, 0) 50%), radial-gradient(100% 130% at 0 60%, #1ab31a 25%, rgba(26, 179, 26, 0) 50%);
  box-shadow: 0 0 0.1875em light-dark(white, #79ec79) inset;
}
.board__sector:nth-child(9) {
  bottom: -8.25em;
  left: 0em;
}
.board__sector:nth-child(9) .board__ball {
  animation-name: none;
}
.board__sector:nth-child(9) .board__ball, .board__sector:nth-child(9) .board__ball::before {
  animation-delay: -0.5s;
}
.board__sector:nth-child(9) .board__ball::before {
  animation-name: straight-up;
  background-color: #e64dbf;
  background-image: radial-gradient(25% 35% at 75% 45%, #f5bce7 20%, rgba(245, 188, 231, 0) 50%), radial-gradient(100% 130% at 0 60%, #b31a8c 25%, rgba(179, 26, 140, 0) 50%);
  box-shadow: 0 0 0.1875em light-dark(white, #ec79cf) inset;
}
.board__sector:nth-child(10) {
  bottom: 8.25em;
  left: 0em;
}
.board__sector:nth-child(10) .board__ball {
  animation-name: none;
}
.board__sector:nth-child(10) .board__ball, .board__sector:nth-child(10) .board__ball::before {
  animation-delay: 0s;
}
.board__sector:nth-child(10) .board__ball::before {
  animation-name: straight-down;
  background-color: #4de64d;
  background-image: radial-gradient(25% 35% at 75% 45%, #bcf5bc 20%, rgba(188, 245, 188, 0) 50%), radial-gradient(100% 130% at 0 60%, #1ab31a 25%, rgba(26, 179, 26, 0) 50%);
  box-shadow: 0 0 0.1875em light-dark(white, #79ec79) inset;
}

@keyframes diagonal-down {
  from {
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    transform: translateY(200%) scale(0.9, 1.05);
  }
  50% {
    animation-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
    transform: translateY(5%) scale(0.9, 1.05);
  }
  to {
    transform: translateY(300%) scale(0.9, 1.05);
  }
}
@keyframes diagonal-left {
  from, 8% {
    transform: translateX(100%);
  }
  92%, to {
    transform: translateX(0);
  }
}
@keyframes diagonal-right {
  from, 8% {
    transform: translateX(0);
  }
  92%, to {
    transform: translateX(100%);
  }
}
@keyframes diagonal-up {
  from {
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    transform: translateY(300%) scale(0.9, 1.05);
  }
  50% {
    animation-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
    transform: translateY(5%) scale(0.9, 1.05);
  }
  to {
    transform: translateY(200%) scale(0.9, 1.05);
  }
}
@keyframes straight-left {
  from, 8% {
    transform: translateX(150%);
  }
  92%, to {
    transform: translateX(0);
  }
}
@keyframes straight-right {
  from, 8% {
    transform: translateX(0);
  }
  92%, to {
    transform: translateX(150%);
  }
}
@keyframes straight-clip-y-a {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes straight-clip-y-b {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes straight-down {
  from {
    animation-timing-function: step-start;
    opacity: 0;
    transform: translateY(175%) scale(0.9, 1.05);
  }
  0.001% {
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    opacity: 1;
    transform: translateY(175%) scale(0.9, 1.05);
  }
  50% {
    animation-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
    transform: translateY(5%) scale(0.9, 1.05);
  }
  to {
    transform: translateY(325%) scale(0.9, 1.05);
  }
}
@keyframes straight-up {
  from {
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    transform: translateY(325%) scale(0.9, 1.05);
  }
  50% {
    animation-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
    transform: translateY(5%) scale(0.9, 1.05);
  }
  to {
    transform: translateY(175%) scale(0.9, 1.05);
  }
}
@keyframes straight-no-y {
  from, to {
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    transform: translateY(250%) scale(0.9, 1.05);
  }
  50% {
    animation-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
    transform: translateY(5%) scale(0.9, 1.05);
  }
}