/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --blue-color: hsl(222, 50%, 45%);
  --pink-color: hsl(311, 90%, 40%);
  --purple-color: hsl(290, 80%, 32%);
  --purple-color-light: hsl(290, 100%, 90%);
  --purple-color-dark: hsl(277, 98%, 17%);
  --white-color: hsl(290, 100%, 100%);
  --linear-gradient-1: linear-gradient(
    180deg,
    hsl(290, 65%, 56%) 0%,
    hsl(290, 80%, 29%) 100%
  );
  --linear-gradient-2: linear-gradient(
    90deg,
    hsl(290, 65%, 56%) 0%,
    hsl(290, 80%, 29%) 100%
  );
  --linear-gradient-3: linear-gradient(
    270deg,
    hsl(290, 65%, 56%) 0%,
    hsl(290, 80%, 29%) 100%
  );

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Syne", sans-serif;
  --biggest-font-size: 2.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
}

/*========== Responsive typography ==========*/
@media (width >= 1150px) {
  :root {
    --biggest-font-size: 4rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--white-color);
}

button {
  background: none;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
}

h1,
h2,
h3,
h4 {
  font-family: var(--second-font);
  font-weight: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 100;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo img {
  width: 56px;
}
.nav__buttons {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.nav__buttons button {
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (width <= 1150px) {
  .nav__menu {
    position: fixed;
    top: -120%;
    left: 0;
    width: 100%;
    background-color: var(--purple-color-dark);
    box-shadow: 0 8px 16px hsla(0, 0%, 0%, 0.2);
    padding-block: 5rem;
    transition: top 0.4s;
  }
}
.nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.nav__link {
  color: var(--white-color);
  font-family: var(--second-font);
  font-weight: 600;
  transition: color 0.4s;
}
.nav__link:hover {
  color: var(--purple-color-dark);
}
.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: 0;
}
/* Change header styles */
.scroll-header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.1);
  backdrop-filter: blur(16px);
  top: 0;
  left: 0;
  z-index: -1;
}
/*=============== HOME ===============*/
.home {
  background-color: var(--purple-color-dark);
  padding-block: 6.5rem;
}
.home__content {
  display: grid;
  row-gap: 1rem;
}
.home__title {
  font-size: var(--biggest-font-size);
}
.home__data {
  color: var(--purple-color-light);
}
.home__label {
  font: 700 var(--small-font-size) var(--second-font);
}
.home__price {
  font-size: var(--h2-font-size);
  columns: var(--white-color);
  margin-bottom: 1rem;
}
.home__variant {
  font-family: var(--second-font);
  font-weight: 600;
  color: var(--white-color);
}
.home__data {
  margin-block: 0.5rem;
}
.home__buttons {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}
.home__button-bag {
  background: var(--linear-gradient-1);
  color: var(--white-color);
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.2);
  padding: 1rem;
  border-radius: 4rem;
  font-family: var(--second-font);
  font-weight: 600;
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
  cursor: pointer;
}
.home__button-bag i {
  font-size: 1.5rem;
  font-weight: initial;
}
.home__button-heart {
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer;
}
.home__area {
  position: relative;
}
.home__blob-pink,
.home__blob-blue,
.home__logo,
.home__name {
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
}
.home__blob-pink {
  width: 300px;
  height: 300px;
  background-color: var(--pink-color);
  border-radius: 50%;
  top: 1rem;
  filter: blur(88px);
}
.home__blob-blue {
  width: 180px;
  height: 180px;
  background-color: var(--blue-color);
  border-radius: 50%;
  top: 7rem;
  filter: blur(32px);
}
.home__logo {
  width: 300px;
  top: 6.5rem;
  opacity: 0.2;
  z-index: 2;
}
.home__name {
  width: max-content;
  font-size: var(--biggest-font-size);
  top: 13rem;
  z-index: 2;
}
.home__preview {
  cursor: pointer;
}
.home__preview img {
  width: 60px;
  filter: drop-shadow(0 8px 16px hsla(0, 0%, 0%, 0.4));
}
.home__sneaker img {
  width: 200px;
  filter: drop-shadow(0 8px 16px hsla(0, 0%, 0%, 0.4));
}
.home__sizes {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: grid;
  align-self: center;
  row-gap: 1.5rem;
  z-index: 10;
}
.home__guide {
  writing-mode: vertical-rl;
}
.home__guide h3 {
  font-size: var(--normal-font-size);
}
.home__guide p {
  font: 600 var(--small-font-size) var(--second-font);
  color: var(--purple-color-light);
}
.home__options {
  display: grid;
  justify-content: center;
  row-gap: 0.75rem;
}
.home__radio input {
  display: none;
}
.home__check {
  width: 32px;
  height: 32px;
  border: 2px solid var(--purple-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  font: 600 var(--smaller-font-size) var(--second-font);
}
.home__radio input:checked + .home__check {
  background: var(--linear-gradient-1);
  border: none;
}
/* Swiper class */
.home__swiper {
  width: 300px;
  height: 300px;
  overflow: initial;
  z-index: 5;
}
.home__swiper .swiper-slide {
  display: grid;
  overflow: initial;
}
.home__swiper .swiper-slide img {
  margin-block: auto;
}
/* Swiper thumbs */
.home__thumbs .swiper-wrapper {
  display: grid;
  align-content: center;
  row-gap: 1.5rem;
}
.home__thumbs {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3rem;
  overflow: initial;
  z-index: 10;
}
.home__thumbs .swiper-slide:nth-child(2) {
  margin-left: 2rem;
}
/* Swiper navigation & pagination */
.home .swiper-navigation-icon {
  display: none;
}
.home :is(.swiper-button-prev, .swiper-button-next) {
  top: initial;
  left: initial;
  bottom: -3rem;
  margin: initial;
  width: 40px;
  height: 40px;
  border: 2px solid var(--purple-color);
  border-radius: 50%;
  color: var(--white-color);
  font-size: 1.5rem;
}
.home .swiper-button-prev {
  left: calc(50% - 3rem);
}
.home .swiper-button-prev::after {
  content: "PREV";
  font: 600 var(--small-font-size) var(--second-font);
  position: absolute;
  left: -3rem;
  color: var(--purple-color-light);
}
.home .swiper-button-prev:hover {
  background-image: var(--linear-gradient-3);
  border-color: transparent;
  background-clip: padding-box;
}
.home .swiper-button-next {
  right: calc(50% - 3rem);
}
.home .swiper-button-next::after {
  content: "NEXT";
  font: 600 var(--small-font-size) var(--second-font);
  position: absolute;
  right: -3rem;
  color: var(--purple-color-light);
}
.home .swiper-button-next:hover {
  background-image: var(--linear-gradient-2);
  border-color: transparent;
  background-clip: padding-box;
}
.home .swiper-pagination-vertical.swiper-pagination-bullets {
  top: initial;
  left: 0;
  right: 0;
  bottom: -6rem;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}
.home .swiper-pagination-bullet {
  width: 30px;
  height: 5px;
  border-radius: 0.5rem;
  background-color: var(--purple-color);
  opacity: 1;
  transition: background-color 0.4s;
}
.home .swiper-pagination-bullet-active {
  background-color: var(--purple-color-light);
}
/*=============== BREAKPOINTS ===============*/
/* For small devices <> */
@media (width <= 320px) {
  .home__sneaker img {
    width: 150px;
  }
}
/* For medium devices <> */
@media (width >= 768px) {
  .home {
    height: 100vh;
    display: grid;
    align-content: center;
  }
  .home__container {
    display: grid;
    grid-template-columns: 300px 400px;
    justify-content: center;
  }
}
/* For large devices <> */
@media (width >= 1150px) {
  .container {
    margin-inline: auto;
  }
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 4rem;
  }
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__buttons {
    column-gap: 1rem;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }
  .home {
    height: initial;
    padding-top: 11.5rem;
  }
  .home__container {
    grid-template-columns: 390px 730px;
  }
  .home__content {
    row-gap: 4.5rem;
    z-index: 5;
  }
  .home__data {
    padding-right: 4rem;
  }
  .home__buttons {
    margin-top: 4.5rem;
  }
  .home__swiper {
    width: 480px;
    height: 480px;
    margin-left: initial;
  }
  .home__sneaker img {
    width: 450px;
  }
  .home__thumbs {
    right: 7rem;
  }
  .home__thumbs .swiper-wrapper {
    align-content: flex-start;
    row-gap: 3rem;
  }
  .home__preview img {
    width: 120px;
  }
  .home__options {
    row-gap: 1.5rem;
  }
  .home__blob-pink,
  .home__blob-blue,
  .home__logo,
  .home__name {
    left: initial;
    right: initial;
    margin-inline: initial;
  }
  .home__logo {
    width: 600px;
    top: 11rem;
    left: -4rem;
  }
  .home__name {
    top: initial;
    right: 17rem;
    bottom: 10.5rem;
  }
  .home__blob-pink {
    width: 600px;
    height: 600px;
    top: -3rem;
    left: -8rem;
    filter: blur(175px);
  }
  .home__blob-blue {
    width: 350px;
    height: 350px;
    top: 5rem;
    right: 15rem;
    filter: blur(75px);
  }
  .home .swiper-button-prev {
    left: 7rem;
    bottom: 0.5rem;
  }
  .home .swiper-button-next {
    right: initial;
    left: 11rem;
    bottom: 0.5rem;
  }
  .home .swiper-pagination-vertical.swiper-pagination-bullets {
    justify-self: flex-end;
    bottom: 0.5rem;
  }
}
/* For taller devices <> */
@media (width >= 1536px) and (height >=864px) {
  .home {
    height: 100vh;
  }
}
/* For 2K resolutions <> */
@media (width >= 2048px) {
  .container {
    max-width: 1550px;
  }
  .home__container {
    grid-template-columns: 600px 730px;
  }
}
