* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hero {
  width: 100%;
  height: 100vh;
  background-image: url(img/bg1.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

.navbar {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

.logo {
  width: 60px;
  margin: 30px 0;
  cursor: pointer;
}

.user {
  display: flex;
  align-items: center;
}

.user img {
  width: 30px;
  cursor: pointer;
  margin-left: 50px;
}

button {
  padding: 8px 25px;
  background: transparent;
  outline: none;
  border: 2px solid #fff;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.container {
  width: 50%;
  height: 100vh;
  background: rgba(86, 86, 86, 0.3);
  backdrop-filter: blur(10px);
  position: absolute;
  left: 0;
  top: 0;
}

.info {
  width: 100%;
  padding-left: 10px;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.info h1 {
  font-size: 60px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.info p {
  color: #f0eef1;
  font-size: 11px;
  margin: 20px;
  line-height: 18px;
}

.info input {
  width: 50%;
  padding: 8px 10px;
  outline: none;
  border: 2px solid #fff;
  border-radius: 20px;
  background: transparent;
  color: #fff;
  font-size: 12px;
}

::placeholder {
  color: #fff;
}

.slider {
  display: flex;
  align-items: center;
  position: absolute;
  right: 30px;
  bottom: 50px;
}

.prev,
.next {
  width: 20px;
  cursor: pointer;
}

.preview {
  display: flex;
  align-items: center;
  margin: 0 60px;
}

.preview img {
  width: 60px;
  margin: 0 10px;
  opacity: 0.4;
}

.preview .active {
  display: block;
  border: 3px solid #fff;
  opacity: 1;
  width: 100px;
}
