* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gray50: hsl(223 10% 95%);
  --gray950: hsl(223 10% 5%);
  --trans-dur: 0.3s;
  --trans-timing: cubic-bezier(0.65, 0, 0.35, 1);
  color-scheme: light dark;
  font-size: clamp(48px, 2.85rem + 0.75vw, 60px);
}

body,
input {
  color: light-dark(var(--gray950), var(--gray50));
  font: 1em/1.5 "Archivo Black", sans-serif;
}

body {
  background-color: light-dark(var(--gray50), var(--gray950));
  display: grid;
  place-items: center;
  height: 100vh;
  transition: background-color var(--trans-dur), color var(--trans-dur);
}

.switch {
  display: grid;
  grid-template-columns: 1.5em 2em;
  grid-template-rows: repeat(2, 1.5em);
}
.switch, .switch__input {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.switch__input {
  box-shadow: 0 0 0 max(0.05em, 1px) light-dark(var(--gray950), var(--gray50)) inset;
  border-radius: 0.75em;
  display: block;
  grid-row: 1/3;
  width: 1.5em;
  height: 3em;
  -webkit-appearance: none;
  appearance: none;
  transition: background-color var(--trans-dur), box-shadow var(--trans-dur), color var(--trans-dur);
}
.switch__input::before {
  background-color: light-dark(var(--gray950), var(--gray50));
  border-radius: 50%;
  content: "";
  display: block;
  margin: 0.15em;
  width: 1.2em;
  height: 1.2em;
  transform: translateY(1.5em);
  transition: background-color var(--trans-dur), transform var(--trans-dur) var(--trans-timing);
}
.switch__input:checked::before {
  transform: translateY(0);
}
.switch__letters {
  display: block;
  font-size: 3.125em;
  letter-spacing: -1px;
  line-height: 0.415;
  justify-self: center;
  pointer-events: none;
  transform: scale(0.64);
  transform-origin: 50% 0;
  transition: transform var(--trans-dur) var(--trans-timing);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.switch__letters + .switch__letters {
  font-size: 2.5em;
  line-height: 0.667;
  align-self: end;
  transform: scale(1);
  transform-origin: 50% 100%;
}
.switch__sr {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}
.switch__input:checked + .switch__letters {
  transform: scale(1);
}
.switch__input:checked + .switch__letters + .switch__letters {
  transform: scale(0.67);
}