/*____________________________________________________________

# Auxiliary styles
# Container
	## Menu
	## Burger
	## Seedling
	## Sepal
	## Linden
	## Pine
	## Palm
	## Fir
	## Rose
	## Willow
	## Sunflower
	## Bell
	## Poplar

____________________________________________________________*/

/*____________________________________________________________
# Auxiliary styles
____________________________________________________________*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #f1eee2;
}

$itemBgPath : "https://rawcdn.githack.com/Kerthin/trees-templateSait/803681865fc0778a90cc3f4b0c21e872773a87a7/dist/image/trees";

._bg_black {
	background-color: #000;
}
._bg_red {
	background-color: #de162a;
}

/*____________________________________________________________
# Container
____________________________________________________________*/
.container {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #f1eee2;
	transition: 1s;

	@mixin treeChoseNameMix($treeName) {
		&._#{$treeName} {
			.#{$treeName} {
				display: block;
			}
		}
	}

	@include treeChoseNameMix(seedling);
	@include treeChoseNameMix(sepal);
	@include treeChoseNameMix(linden);
	@include treeChoseNameMix(pine);
	@include treeChoseNameMix(palm);
	@include treeChoseNameMix(fir);
	@include treeChoseNameMix(rose);
	@include treeChoseNameMix(willow);
	@include treeChoseNameMix(sunflower);
	@include treeChoseNameMix(bell);
	@include treeChoseNameMix(poplar);

	.seedling,
	.sepal,
	.linden,
	.pine,
	.palm,
	.fir,
	.rose,
	.willow,
	.sunflower,
	.bell,
	.poplar {
		display: none;
	}

	&.popup {
		transform: scale(.9);
	}
}

/*____________________________________________________________
## Menu
____________________________________________________________*/
.menu {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: -130%;
	background-color: #f1eee2;
	transition: 1s;
	z-index: 10;

	&.popup {
		top: 0;
		transition-delay: .2s;
	}

	.menu__item {
		float: left;
		width: 25%;
		height: 33.333333333%;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		cursor: pointer;
		transition: .3s;

		&:hover {
			transform: scale(.9);
		}

		&.active {
			background-color: #e0dabf;
		}

		@mixin menuItemBgMix($itemBg) {
			&._#{$itemBg} {
				background-image: url(#{$itemBgPath}/#{$itemBg}.png);
			}
		}
		@include menuItemBgMix(seedling);
		@include menuItemBgMix(sepal);
		@include menuItemBgMix(linden);
		@include menuItemBgMix(pine);
		@include menuItemBgMix(palm);
		@include menuItemBgMix(fir);
		@include menuItemBgMix(rose);
		@include menuItemBgMix(willow);
		@include menuItemBgMix(sunflower);
		@include menuItemBgMix(bell);
		@include menuItemBgMix(poplar);
	}
}

/*____________________________________________________________
## Burger
____________________________________________________________*/
.burger {
	position: absolute;
	right: 5px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	z-index: 11;

	.burger__input {
		display: none;
		outline: none;

		&.checked {
			+ .strokeWrap {
				._first,
				._third {
					--length: 22.627416998;
					--offset: -94.1149185097;
				}

				._second {
					--length: 0;
					--offset: -50;
				}
			}
		}
	}

	.strokeWrap__stroke {
		fill: none;
		stroke: #000;
		stroke-width: 3;
		stroke-linecap: round;
		stroke-linejoin: round;
		--length: 24;
		--offset: -38;
		stroke-dasharray: var(--length) var(--total-length);
		stroke-dashoffset: var(--offset);
		transition: all .8s cubic-bezier(.645, .045, .355, 1);

		&._first,
		&._third {
			--total-length: 126.64183044433594;
		}

		&._second {
			--total-length: 70;
		}
	}
}

/*____________________________________________________________
## Seedling
____________________________________________________________*/
.seedling {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 470px;
	height: 816px;
	overflow: hidden;

	.rod {
		position: relative;
		margin: 0 auto;
		width: 4px;
		height: 100%;
		background-color: #000;

		.basis {
			position: absolute;
			height: 324px;
			bottom: 54px;
			border: 2px #000;
			z-index: 2;
		}
		._bs_dash {
			border-style: dashed;
		}
		._bs_dot {
			border-style: dotted;
		}
		._bs_solid {
			border-style: solid;
		}

		.legs {
			position: absolute;
			bottom: -35px;
			left: -34px;
			width: 70px;
			height: 70px;
			border-radius: 50%;
			border: 4px solid #000;
		}

		.circle {
			position: absolute;
			border-radius: 50%;
		}
		._bCircle {
			left: -20.5px;
			width: 43px;
			height: 43px;
		}
		._xl {
			left: -26.5px;
			width: 55px;
			height: 55px;
		}
		._xl_margin {
			bottom: 446px;
		}

		._left {
			border-right: 0;
		}
		._right {
			border-left: 0;
		}

		@mixin sideItemMix($numberItem, $circleSize, $borderRadius) {
			._left_#{$numberItem} {
				width: #{$circleSize}px;
				left: -#{$circleSize}px;
				border-bottom-left-radius: #{$borderRadius}px 100%;
				border-top-left-radius: #{$borderRadius}px 100%;
			}
			._right_#{$numberItem} {
				width: #{$circleSize}px;
				right: -#{$circleSize}px;
				border-bottom-right-radius: #{$borderRadius}px 100%;
				border-top-right-radius: #{$borderRadius}px 100%;
			}
		}
		@include sideItemMix(1, 50, 105);
		@include sideItemMix(2, 60, 125);
		@include sideItemMix(3, 70, 145);
		@include sideItemMix(4, 80, 165);
		@include sideItemMix(5, 90, 185);
		@include sideItemMix(6, 100, 205);
		@include sideItemMix(7, 110, 225);
		@include sideItemMix(8, 120, 245);

		@mixin circleBrunchMix($sizeItem, $brunchName, $marginCircle, $circleSize, $bottomMargin) {
			._#{$sizeItem}_#{$brunchName} {
				left: #{$marginCircle}px;
				width: #{$circleSize}px;
				height: #{$circleSize}px;
				bottom: #{$bottomMargin}px;
			}
		}
		@include circleBrunchMix(xl, arc, -8.5, 48, 536);
		@include circleBrunchMix(lg, arc, 23, 40, 616);
		@include circleBrunchMix(xm, arc, 60, 34, 683);
		@include circleBrunchMix(md, arc, 104, 26, 735);
		@include circleBrunchMix(sm, arc, 153, 19, 770);
		@include circleBrunchMix(xs, arc, 209, 12, 787);
		@include circleBrunchMix(lg, rod, -14, 32, 592);
		@include circleBrunchMix(md, rod, -12.5, 27, 673);
		@include circleBrunchMix(sm, rod, -9, 22, 736);
		@include circleBrunchMix(xs, rod, -7, 18, '');

		@mixin basisCircleMarginMix($numberMargin, $bottomMargin) {
			._b_circle_margin_#{$numberMargin} {
				bottom: #{$bottomMargin}px;
			}
		}
		@include basisCircleMarginMix(1, 286.25);
		@include basisCircleMarginMix(2, 195.5);
		@include basisCircleMarginMix(3, 102.75);
	}
	.arc {
		position: absolute;
		left: -46px;
		top: 300px;
		width: 778px;
		height: 220px;
		border-bottom-left-radius: 400px 230px;
		border-bottom-right-radius: 400px 230px;
		border: 4px solid #000;
		border-top-color: transparent;
		border-bottom-color: transparent;
		border-right-color: transparent;
		transform: rotate(90deg);
	}
}

@media screen and (orientation: landscape) and (max-height: 846px) {
	.seedling {
		transform: translate(-50%, -50%) scale(.8);
	}
}
@media screen and (orientation: landscape) and (max-height: 682px) {
	.seedling {
		transform: translate(-50%, -50%) scale(.6);
	}
}
@media screen and (orientation: landscape) and (max-height: 520px) {
	.seedling {
		transform: translate(-50%, -50%) scale(.4);
	}
}
@media screen and (orientation: landscape) and (max-height: 356px) {
	.seedling {
		transform: translate(-50%, -50%) scale(.2);
	}
}

@media screen and (max-width: 500px) {
	.seedling {
		transform: translate(-50%, -50%) scale(.8);
	}
}
@media screen and (max-width: 375px) {
	.seedling {
		transform: translate(-50%, -50%) scale(.6);
	}
}
@media screen and (max-width: 320px) {
	.seedling {
		transform: translate(-50%, -50%) scale(.5);
	}
}

/*____________________________________________________________
## Sepal
____________________________________________________________*/
.sepal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 207px;
	height: 818px;

	.rod {
		position: relative;
		margin: 0 auto;
		width: 4px;
		height: 100%;
		background-color: #000;

		.arc {
			position: absolute;
			top: -160px;
			left: -170px;
			width: 340px;
			height: 340px;
			border: 4px solid #000;
			border-radius: 50%;
			border-left-color: transparent;
			border-top-color: transparent;
			border-bottom-color: transparent;
			transform: rotate(45deg);

			.arc__circle {
				position: absolute;
				top: 24px;
				right: 35px;
				width: 37px;
				height: 37px;
				border-radius: 50%;
				background-color: #de162a;
			}
		}

		.brunch {
			position: absolute;
			left: -54px;
			bottom: 182px;
			width: 108px;
			height: 114px;
			border: 4px solid #000;
			border-top-color: transparent;
			border-bottom-left-radius: 50%;
			border-bottom-right-radius: 50%;
		}

		.cup {
			position: absolute;
			border-radius: 50%;
			// left: -20.5px;
			width: 105px;
			height: 105px;
			background-color: #000;
			z-index: 1;

			&._center {
				left: 50%;
				transform: translateX(-50%);
			}

			&._left {
				right: 1px;
			}

			&._l1 {
				bottom: 586px;
			}
			&._l2 {
				bottom: 469px;
			}
			&._l3 {
				bottom: 352px;
			}
			&._l4 {
				bottom: 235px;
			}

			&._r1 {
				bottom: 526px;
			}
			&._r2 {
				bottom: 409px;
			}
			&._r3 {
				bottom: 292px;
			}

			.kernel {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 37px;
				height: 37px;
				border-radius: 50%;
				background-color: #de162a;
			}
		}
	}
}

@media screen and (orientation: landscape) and (max-height: 846px) {
	.sepal {
		transform: translate(-50%, -50%) scale(.8);
	}
}
@media screen and (orientation: landscape) and (max-height: 682px) {
	.sepal {
		transform: translate(-50%, -50%) scale(.6);
	}
}
@media screen and (orientation: landscape) and (max-height: 520px) {
	.sepal {
		transform: translate(-50%, -50%) scale(.4);
	}
}
@media screen and (orientation: landscape) and (max-height: 356px) {
	.sepal {
		transform: translate(-50%, -50%) scale(.2);
	}
}

@media screen and (max-width: 414px) {
	.sepal {
		transform: translate(-50%, -50%) scale(.8);
	}
}
@media screen and (max-width: 375px) {
	.sepal {
		transform: translate(-50%, -50%) scale(.6);
	}
}
@media screen and (max-width: 320px) {
	.sepal {
		transform: translate(-50%, -50%) scale(.5);
	}
}

/*____________________________________________________________
## Linden
____________________________________________________________*/
.linden {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 356px;
	height: 884px;

	.leftRod {
		position: absolute;
		bottom: 0;
		left: 160px;
		width: 4px;
		height: 380px;
		background-color: #000;

		.leftRod__leftBruch {
			position: absolute;
			top: -80px;
			right: 0;
			width: 56px;
			height: 80px;
			border: 4px solid #000;
			border-top: 0;
			border-right: 0;

			._cmlb {
				top: -46px;
				left: -25px;
			}
		}
	}
	.centerRod {
		position: absolute;
		bottom: 0;
		left: 175px;
		width: 4px;
		height: 797px;
		background-color: #000;

		.bottomArc {
			position: absolute;
			bottom: 437px;
			right: -85px;
			width: 240px;
			height: 70px;
			border: 4px solid #000;
			border-top: 0;
			border-bottom-left-radius: 70px;
			border-bottom-right-radius: 70px;

			.bottomArc__rightBranch {
				position: absolute;
				top: -95px;
				right: -4px;
				width: 4px;
				height: 95px;
				background-color: #000;

				._position_2 {
					top: -101px;
					left: -85px;
				}
			}

			._position_1 {
				bottom: 42px;
				left: -28px;
			}
		}

		.topArc {
			position: absolute;
			bottom: 488px;
			left: 4px;
			width: 145px;
			height: 4px;
			background-color: #000;

			.topArc__leftBranch {
				position: absolute;
				bottom: 0;
				left: -75px;
				width: 150px;
				height: 150px;
				border: 4px solid #000;
				border-radius: 50%;
				border-top-color: transparent;
				border-left-color: transparent;
				border-right-color: transparent;
				transform: rotate(45deg);
			}

			._position_3 {
				bottom: 0;
				right: -32px;
			}
			._position_4 {
				bottom: 75px;
				left: -125px;
			}
		}

		._position_5 {
			top: -87px;
			left: -60px;

			.basisBrunch {
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 4px;
				height: 50%;
				background-color: #000;
			}
		}
	}
	.rightRod {
		position: absolute;
		bottom: 0;
		left: 192px;
		width: 4px;
		height: 362px;
		background-color: #000;

		.rightRod__rightBruch {
			position: absolute;
			top: -169px;
			width: 32px;
			height: 169px;
			border: 4px solid #000;
			border-top: 0;
			border-left: 0;

			._cmrb {
				top: -46px;
				right: -25px;
			}
		}
	}

	.circle {
		position: absolute;
		width: 46px;
		height: 46px;
		border-radius: 50%;

		&._center {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.crown {
		position: absolute;
		border-radius: 100px;

		&._sm {
			width: 62px;
			height: 108px;
		}
		&._md {
			width: 101px;
			height: 178px;
		}
		&._lg {
			width: 124px;
			height: 218px;
		}

		&._md_horizontal {
			width: 178px;
			height: 101px;
		}
	}
}

@media screen and (orientation: landscape) and (max-height: 914px) {
	.linden {
		transform: translate(-50%, -50%) scale(.8);
	}
}
@media screen and (orientation: landscape) and (max-height: 737px) {
	.linden {
		transform: translate(-50%, -50%) scale(.6);
	}
}
@media screen and (orientation: landscape) and (max-height: 550px) {
	.linden {
		transform: translate(-50%, -50%) scale(.4);
	}
}
@media screen and (orientation: landscape) and (max-height: 406px) {
	.linden {
		transform: translate(-50%, -50%) scale(.2);
	}
}

@media screen and (max-width: 500px) {
	.linden {
		transform: translate(-50%, -50%) scale(.7);
	}
}
@media screen and (max-width: 375px) {
	.linden {
		transform: translate(-50%, -50%) scale(.6);
	}
}
@media screen and (max-width: 320px) {
	.linden {
		transform: translate(-50%, -50%) scale(.5);
	}
}

/*____________________________________________________________
## Pipe
____________________________________________________________*/
.pine {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 456px;
	height: 884px;

	.leftRod {
		position: absolute;
		bottom: 0;
		left: 262px;
		width: 19px;
		height: 410px;
		border: 4px solid #000;
		border-top-left-radius: 70px;
		border-bottom: 0;
		border-right: 0;

		.leftRod__rightBrunch {
			position: absolute;
			top: -41px;
			right: -101px;
			width: 101px;
			height: 41px;
			border: 4px solid #000;
			border-bottom-right-radius: 70px;
			border-top: 0;
			border-left: 0;

			._position_1 {
				top: -77px;
				left: 23px;
			}
		}
	}

	.centerRod {
		position: absolute;
		left: 277px;
		width: 4px;
		height: 100%;
		background-color: #000;

		@mixin treeBrunchMix($brunchName, $marginBottom, $marginRight, $width, $height, $leftRadius, $rightRadius, $borderLeft, $borderRight, $positionNumber, $positionTop, $positionLeft, $positionRight) {
			.centerRod__#{$brunchName}Brunch {
				position: absolute;
				bottom: #{$marginBottom}px;
				right: #{$marginRight};
				width: #{$width}px;
				height: #{$height}px;
				border: 4px solid #000;
				border-bottom-left-radius: #{$leftRadius}px;
				border-bottom-right-radius: #{$rightRadius}px;
				border-top: 0;
				border-left: #{borderLeft};
				border-right: #{borderRight};

				._position_#{$positionNumber} {
					top: #{$positionTop}px;
					left: #{$positionLeft}px;
					right: #{$positionRight}px;
				}
			}
		}

		@include treeBrunchMix(bottomLeft, 473, 0, 90, 47, 70, '', '', 0, 3, -61, -63, '');
		@include treeBrunchMix(bottomRight, 558, '', 95, 40, '', 70, 0, '', 4, -61, '', -63);
		@include treeBrunchMix(topLeft, 609, 0, 83, 47, 70, '', '', 0, 5, -50, -51, '');
		@include treeBrunchMix(topRight, 690, '', 88, 39, '', 70, 0, '', 6, -50, '', -51);

		._position_7 {
			bottom: 791px;
			left: -37px;
		}
	}

	.rightRod {
		position: absolute;
		bottom: 0;
		left: 262px;
		width: 40px;
		height: 327px;
		border: 4px solid #000;
		border-top-right-radius: 70px;
		border-bottom: 0;
		border-left: 0;

		.rightRod__leftBrunch {
			position: absolute;
			top: -47px;
			left: -84px;
			width: 84px;
			height: 47px;
			border: 4px solid #000;
			border-bottom-left-radius: 70px;
			border-top: 0;
			border-right: 0;

			._position_2 {
				top: -77px;
				right: 6px;
			}

			.crown__leftBrunch {
				position: absolute;
				top: 0;
				left: -104px;
				width: 104px;
				height: 4px;
			}
		}
	}

	.circle {
		position: absolute;
		top: -22px;
		width: 46px;
		height: 46px;
		border-radius: 50%;
	}

	.crown {
		position: absolute;
		border-radius: 0 0 50% 50% / 0 0 100% 100%;

		.basisBrunch {
			position: absolute;
			width: 4px;
			height: 50%;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			background-color: #000;
		}

		.centerBrunch {
			position: absolute;
			top: -53px;
			left: 50%;
			transform: translateX(-50%);
			width: 4px;
			height: 53px;
			background-color: #000;

			.centerBrunch__leftBrunch {
				position: absolute;
				top: 0;
				right: 0;
				width: 166px;
				height: 4px;
			}
		}

		@mixin crownSizeMix($sizeName, $sizeWidth, $sizeHeight, $kernelWidth) {
			&._#{$sizeName} {
				width: #{$sizeWidth}px;
				height: #{$sizeHeight}px;

				.kernel {
					width: #{$kernelWidth}px;
				}
			}
		}

		@include crownSizeMix(lg, 152, 77, 76);
		@include crownSizeMix(md, 122, 61, 61);
		@include crownSizeMix(sm, 98, 50, 49);
		@include crownSizeMix(xs, 78, 40, 39);

		.kernel {
			margin: 0 auto;
			height: 50%;
			border-radius: 0 0 50% 50% / 0 0 100% 100%;
		}
	}
}

@media screen and (orientation: landscape) and (max-height: 914px) {
	.pine {
		transform: translate(-50%, -50%) scale(.8);
	}
}
@media screen and (orientation: landscape) and (max-height: 737px) {
	.pine {
		transform: translate(-50%, -50%) scale(.6);
	}
}
@media screen and (orientation: landscape) and (max-height: 550px) {
	.pine {
		transform: translate(-50%, -50%) scale(.4);
	}
}
@media screen and (orientation: landscape) and (max-height: 406px) {
	.pine {
		transform: translate(-50%, -50%) scale(.2);
	}
}

@media screen and (max-width: 500px) {
	.pine {
		transform: translate(-50%, -50%) scale(.7);
	}
}
@media screen and (max-width: 375px) {
	.pine {
		transform: translate(-50%, -50%) scale(.6);
	}
}
@media screen and (max-width: 320px) {
	.pine {
		transform: translate(-50%, -50%) scale(.5);
	}
}

/*____________________________________________________________
## Palm
____________________________________________________________*/
.palm {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 610px;
	height: 893px;

	.rod {
		position: absolute;
		bottom: 0;
		width: 4px;
		background-color: #000;

		@mixin sizeRodMix($sizeName, $leftMargin, $height) {
			&._#{$sizeName} {
				left: #{$leftMargin}px;
				height: #{$height}px;
			}
		}
		@include sizeRodMix(sm, 498, 535);
		@include sizeRodMix(xl, 458, 848);
		@include sizeRodMix(xm, 404, 680);
		@include sizeRodMix(xs, 362, 436);
		@include sizeRodMix(md, 290, 592);
		@include sizeRodMix(lg, 240, 776);

		.crown {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			border-radius: 0 0 50% 50% / 0 0 100% 100%;
			background-color: #000;

			@mixin sizeCrownMix($sizeName, $width, $height) {
				&._#{$sizeName} {
					width: #{$width}px;
					height: #{$height}px;
				}
			}
			@include sizeCrownMix(xs, 194, 35);
			@include sizeCrownMix(sm, 218, 40);
			@include sizeCrownMix(md, 254, 45);
			@include sizeCrownMix(xm, 248, 44);
			@include sizeCrownMix(lg, 263, 46);
			@include sizeCrownMix(xl, 292, 52);
			@include sizeCrownMix(cup, 118, 59);

			.kernel {
				position: absolute;
				top: -46px;
				left: 50%;
				transform: translateX(-50%);
				width: 40px;
				height: 40px;
				border-radius: 50%;
			}

			.arc {
				position: absolute;
				top: -85px;
				height: 100px;
				border: 4px solid;
				
				&._lg {
					width: 59px;

					&._left {
						left: 0;
						border-bottom-left-radius: 100px;
						border-top: 0;
						border-right: 0;
					}
					&._right {
						right: 0;
						border-bottom-right-radius: 100px;
						border-top: 0;
						border-left: 0;
					}
				}

				&._sm {
					width: 24px;

					&._left {
						left: 35px;
						border-bottom-left-radius: 100px;
						border-top: 0;
						border-right: 0;
					}
					&._right {
						right: 35px;
						border-bottom-right-radius: 100px;
						border-top: 0;
						border-left: 0;
					}
				}

				&._lg,
				&._sm {
					&._left {
						.arc__circle {
							left: -15px;
						}
					}
					&._right {
						.arc__circle {
							right: -15px;
						}
					}
				}

				.arc__circle {
					position: absolute;
					width: 25px;
					height: 25px;
					border-radius: 50%;
				}
			}
		}

		.leftBrunch {
			position: absolute;
			bottom: 286px;
			right: 4px;
			width: 170px;
			height: 4px;
			background-color: #000;

			.wave {
				position: absolute;
				bottom: 0;
				width: 50px;
				height: 29px;
				border: 4px solid #000;

				&._left {
					left: -50px;
					border-top-left-radius: 20px;
					border-bottom-left-radius: 20px;
					border-right: 0;
				}
				&._right {
					right: -50px;
					border-top-right-radius: 20px;
					border-bottom-right-radius: 20px;
					border-left: 0;
				}
				&._top {
					top: -29px;
				}

				.wave__topBrunch {
					position: absolute;
					bottom: 21px;
					right: 0;
					width: 4px;
					height: 131px;
					background-color: #000;
				}
			}
		}
	}
}

@media screen and (orientation: landscape) and (max-height: 924px) {
	.palm {
		transform: translate(-50%, -50%) scale(.8);
	}
}
@media screen and (orientation: landscape) and (max-height: 747px) {
	.palm {
		transform: translate(-50%, -50%) scale(.6);
	}
}
@media screen and (orientation: landscape) and (max-height: 560px) {
	.palm {
		transform: translate(-50%, -50%) scale(.4);
	}
}
@media screen and (orientation: landscape) and (max-height: 416px) {
	.palm {
		transform: translate(-50%, -50%) scale(.2);
	}
}

@media screen and (max-width: 640px) {
	.palm {
		transform: translate(-50%, -50%) scale(.8);
	}
}
@media screen and (max-width: 518px) {
	.palm {
		transform: translate(-50%, -50%) scale(.6);
	}
}
@media screen and (max-width: 375px) {
	.palm {
		transform: translate(-50%, -50%) scale(.5);
	}
}
@media screen and (max-width: 320px) {
	.palm {
		transform: translate(-50%, -50%) scale(.4);
	}
}

/*____________________________________________________________
## Fir
____________________________________________________________*/
.fir {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 554px;
	height: 850px;

	.centerRod {
		position: absolute;
		left: 290px;
		width: 4px;
		height: 804px;
		background-color: #000;

		.sideRods {
			position: absolute;
			top: 52px;
			left: 50%;
			transform: translateX(-50%);
			width: 368px;
			height: 663px;
			border: 4px solid #000;
			border-bottom-right-radius: 280px;
			border-top: 0;
		}

		.centerRod__basis {
			position: absolute;
			top: 662px;
			left: 50%;
			transform: translateX(-50%);
			width: 72px;
			height: 72px;
			border-radius: 50%;
		}

		.angleLeftRod {
			position: absolute;
			top: 690px;
			right: 0;
			width: 110px;
			height: 90px;
			border: 4px solid #000;
			border-top: 0;
			border-bottom-left-radius: 20px;
			border-bottom-right-radius: 70px;

			.angleLeftRod__leftBtunch {
				position: absolute;
				top: -74px;
				left: -4px;
				width: 4px;
				height: 74px;
				background-color: #000;
			}
		}

		.angleRightRod {
			position: absolute;
			top: 690px;
			width: 100px;
			height: 40px;
			border: 4px solid #000;
			border-top: 0;
			border-bottom-left-radius: 70px;
			border-bottom-right-radius: 20px;

			.angleLeftRod__rightBtunch {
				position: absolute;
				top: -620px;
				right: -4px;
				width: 4px;
				height: 620px;
				background-color: #000;
			}
		}

		.kernel {
			position: absolute;
			width: 35px;
			height: 35px;
			border-radius: 50%;

			&._centered {
				left: 50%;
				transform: translateX(-50%);
			}

			&._bottom {
				bottom: -19px;
			}

			&._bottomR {
				bottom: -19px;
				left: -19px;
			}
		}

		.roots {
			position: absolute;
			bottom: -280px;
			left: 50%;
			transform: translateX(-50%);
			width: 280px;
			height: 280px;
			border: 4px solid #000;
			border-radius: 50%;
			border-top-color: #000;
			border-bottom-color: transparent;
			border-left-color: transparent;
			border-right-color: transparent;
		}
	}

	.sideRods__crownsWrap {
		position: absolute;
		height: 554px;
		width: 222px;

		&._centerCW {
			top: 10px;
			left: 50%;
			transform: translateX(-50%);
		}

		&._leftCW {
			left: -2px;
			transform: translateX(-50%);
		}

		&._rightCW {
			top: 5px;
			right: -2px;
			transform: translateX(50%);
		}
	}

	.crown {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 0 0 50% 50% / 0 0 100% 100%;
		background-color: #000;

		&._margin_rightCW {
			left: 0%;
			transform: translate(0%);
		}

		@mixin crownsNumberMix($crownNumber, $marginTop, $width, $height) {
			&._#{$crownNumber} {
				top: #{$marginTop}px;
				width: #{$width}px;
				height: #{$height}px;
			}
		}
		@include crownsNumberMix(1, 18, 34, 8);
		@include crownsNumberMix(2, 66, 61, 11);
		@include crownsNumberMix(3, 116, 71, 13);
		@include crownsNumberMix(4, 165, 84, 15);
		@include crownsNumberMix(5, 214, 100, 18);
		@include crownsNumberMix(6, 256, 116, 21);
		@include crownsNumberMix(7, 304, 136, 25);
		@include crownsNumberMix(8, 357, 160, 28);
		@include crownsNumberMix(9, 426, 190, 34);
		@include crownsNumberMix(10, 514, 222, 40);

		&._1 {
			&._margin_rightB {
				top: calc(18px + 50px);
			}
		}
		&._2 {
			&._margin_rightB {
				top: calc(66px + 50px);
			}
		}
		&._3 {
			&._margin_rightB {
				top: calc(116px + 50px);
			}
		}
		&._9 {
			&._margin_rightCW {
				left: 1px;
			}
		}
		&._10 {
			&._margin_rightCW {
				left: -55px;
			}
		}
	}

	.constellation {
		position: absolute;
		top: -50px;
		right: -20px;
		width: 126px;
		height: 95px;

		.line {
			position: relative;
			margin-top: 45.5px;
			width: 126px;
			height: 4px;
			background-color: #000;

			.star {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				border-radius: 50%;

				&._small {
					width: 18px;
					height: 18px;
				}
				&._big {
					left: 25px;
					width: 37px;
					height: 37px;
				}
			}
		}

		.moon {
			position: absolute;
			top: 0;
			right: 44px;
			width: 95px; 
			height: 95px; 
			border-radius: 50%;
			box-shadow: 20px 20px 0 0 #000;
			transform: rotate(-45deg);
		}
	}
}

@media screen and (orientation: landscape) and (max-height: 930px) {
	.fir {
		transform: translate(-50%, -50%) scale(.8);
	}
}
@media screen and (orientation: landscape) and (max-height: 748px) {
	.fir {
		transform: translate(-50%, -50%) scale(.6);
	}
}
@media screen and (orientation: landscape) and (max-height: 570px) {
	.fir {
		transform: translate(-50%, -50%) scale(.4);
	}
}
@media screen and (orientation: landscape) and (max-height: 390px) {
	.fir {
		transform: translate(-50%, -50%) scale(.2);
	}
}

@media screen and (max-width: 600px) {
	.fir {
		transform: translate(-50%, -50%) scale(.8);
	}
}
@media screen and (max-width: 480px) {
	.fir {
		transform: translate(-50%, -50%) scale(.6);
	}
}
@media screen and (max-width: 375px) {
	.fir {
		transform: translate(-50%, -50%) scale(.5);
	}
}
@media screen and (max-width: 320px) {
	.fir {
		transform: translate(-50%, -50%) scale(.4);
	}
}

/*____________________________________________________________
## Rose
____________________________________________________________*/
.rose {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 165px;
	height: 812px;

	.rod {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 4px;
		height: 100%;
		background-color: #000;

		.pollen {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 92px;
			height: 92px;
			border-radius: 50%;
			background-color: #de162a;
			z-index: 2;
		}

		.bud {
			position: absolute;
			top: 46px;
			left: 50%;
			transform: translateX(-50%);
			width: 165px;
			height: 82px;
			border-radius: 0 0 50% 50% / 0 0 100% 100%;
			background-color: #000;
		}

		.pad {
			position: absolute;
			width: 18px;
			height: 98px;
			background-color: #000;

			&._left {
				right: 0;
				border-bottom-left-radius: 40px 100%;
				border-top-left-radius: 40px 100%;
			}

			&._right {
				border-bottom-right-radius: 40px 100%;
				border-top-right-radius: 40px 100%;
			}

			@mixin padsNumberMix($padNumber, $marginTop) {
				&._position_#{$padNumber} {
					top: #{$marginTop}px;
				}
			}
			@include padsNumberMix(1, 126);
			@include padsNumberMix(2, 224);
			@include padsNumberMix(3, 322);
			@include padsNumberMix(4, 420);
			@include padsNumberMix(5, 518);

			.pad__brunch {
				position: absolute;
				width: 35px;
				height: 52px;
				border: 4px solid #000;
				border-top: 0;

				&._left {
					left: -35px;
					border-right: 0;
					border-bottom-left-radius: 40px;

					.brunchCircle {
						left: -13px;
					}
				}

				&._right {
					right: -35px;
					border-left: 0;

					.brunchCircle {
						right: -13px;
					}
				}

				.brunchCircle {
					position: absolute;
					width: 22px;
					height: 22px;
					border-radius: 50%;
					background-color: #de162a;
				}
			}
		}
	}
}

@media screen and (orientation: landscape) and (max-height: 846px) {
	.rose {
		transform: translate(-50%, -50%) scale(.8);
	}
}
@media screen and (orientation: landscape) and (max-height: 682px) {
	.rose {
		transform: translate(-50%, -50%) scale(.6);
	}
}
@media screen and (orientation: landscape) and (max-height: 520px) {
	.rose {
		transform: translate(-50%, -50%) scale(.4);
	}
}
@media screen and (orientation: landscape) and (max-height: 356px) {
	.rose {
		transform: translate(-50%, -50%) scale(.2);
	}
}

@media screen and (max-width: 460px) {
	.rose {
		transform: translate(-50%, -50%) scale(.8);
	}
}
@media screen and (max-width: 375px) {
	.rose {
		transform: translate(-50%, -50%) scale(.6);
	}
}
@media screen and (max-width: 320px) {
	.rose {
		transform: translate(-50%, -50%) scale(.5);
	}
}

/*____________________________________________________________
## Willow
____________________________________________________________*/
.willow {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 366px;
	height: 842px;

	.rod {
		position: absolute;
		bottom: 0;
		left: 198px;
		width: 4px;
		height: 420px;
		background-color: #000;

		.rod__leftBrunch {
			position: absolute;
			bottom: 238px;
			right: 0;
			width: 132px;
			height: 4px;
			background-color: #000;
		}

		.rod__rightBrunch {
			position: absolute;
			bottom: 110px;
			width: 96px;
			height: 4px;
			background-color: #000;
		}

		.trunk {
			position: absolute;
			width: 4px;
			height: 424px;
			background-color: #000;

			&._top {
				top: -100%;
			}

			&._left {
				bottom: 0;
				left: 0;
			}

			&._right {
				bottom: 0;
				right: 0;
			}

			.trunk__tail {
				position: absolute;
				width: 22px;
				height: 4px;
				background-color: #000;

				&._left {
					right: 0;
				}
			}

			.trunk__crownsWrap {
				position: absolute;
				width: 72px;
				height: 316px;

				&._left {
					top: 45px;
					right: 0;

					.crown {
						right: 0;
						border-radius: 0 0 50% 50% / 0 0 100% 100%;
					}
				}

				&._right {
					top: 33px;

					.crown {
						border-radius: 50% 50% 0 0 / 100% 100% 0 0;

						@mixin marginNumberMix($number, $marginTop) {
							&._#{$number} {
								top: #{$marginTop}px;
							}
						}
						@include marginNumberMix(3, 46);
						@include marginNumberMix(4, 73);
						@include marginNumberMix(5, 102);
						@include marginNumberMix(6, 132);
						@include marginNumberMix(7, 169);
						@include marginNumberMix(8, 207);
						@include marginNumberMix(9, 249);
						@include marginNumberMix(10, 285);
					}
				}


				.crown {
					position: absolute;
					background-color: #000;

					@mixin crownsSizeMix($number, $marginTop, $width, $height) {
						&._#{$number} {
							top: #{$marginTop}px;
							width: #{$width}px;
							height: #{$height}px;
						}
					}
					@include crownsSizeMix(1, '', 40, 12);
					@include crownsSizeMix(2, 23, 44, 12);
					@include crownsSizeMix(3, 48, 47, 14);
					@include crownsSizeMix(4, 75, 50, 14);
					@include crownsSizeMix(5, 105, 54, 15);
					@include crownsSizeMix(6, 137, 57, 17);
					@include crownsSizeMix(7, 174, 61, 17);
					@include crownsSizeMix(8, 214, 64, 19);
					@include crownsSizeMix(9, 256, 68, 19);
					@include crownsSizeMix(10, 294, 72, 21);

				}
			}

			.trunk__basis {
				position: absolute;
				bottom: -12px;
				left: 50%;
				transform: translateX(-50%);
				width: 28px;
				height: 28px;
				border-radius: 50%;
				background-color: #de162a;
			}
		}
	}
}

@media screen and (orientation: landscape) and (max-height: 876px) {
	.willow {
		transform: translate(-50%, -50%) scale(.8);
	}
}
@media screen and (orientation: landscape) and (max-height: 712px) {
	.willow {
		transform: translate(-50%, -50%) scale(.6);
	}
}
@media screen and (orientation: landscape) and (max-height: 550px) {
	.willow {
		transform: translate(-50%, -50%) scale(.4);
	}
}
@media screen and (orientation: landscape) and (max-height: 386px) {
	.willow {
		transform: translate(-50%, -50%) scale(.2);
	}
}

@media screen and (max-width: 500px) {
	.willow {
		transform: translate(-50%, -50%) scale(.8);
	}
}
@media screen and (max-width: 375px) {
	.willow {
		transform: translate(-50%, -50%) scale(.6);
	}
}
@media screen and (max-width: 320px) {
	.willow {
		transform: translate(-50%, -50%) scale(.5);
	}
}

/*____________________________________________________________
## Sunflower
____________________________________________________________*/
.sunflower {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 326px;
	height: 642px;

	.rod {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 4px;
		height: 100%;
		background-color: #000;

		.halo {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 210px;
			height: 210px;
			border-radius: 50%;
			background-color: #000;

			.head {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 118px;
				height: 118px;
				border-radius: 50%;
				background-color: #de162a;
			}
		}

		.brunch {
			position: absolute;
			top: 300px;
			width: 183px;
			height: 4px;
			background-color: #000;

			&._left {
				left: -116px;
			}

			&._right {
				left: -63px;
			}

			@mixin marginNumberMix($number, $marginTop) {
				&._position_#{$number} {
					top: #{$marginTop}px;
				}
			}
			@include marginNumberMix(1, 270);
			@include marginNumberMix(2, 358);
			@include marginNumberMix(3, 446);

			.sheet {
				position: absolute;
				bottom: 0;
				width: 90px; 
				height: 67px;
				background: #000;
				border-radius: 50% 100px 0 80px;

				&._left {
					left: -45px;
					border-radius: 50% 100px 0 80px;
				}

				&._right {
					right: -45px;
					border-radius: 100px 50% 80px 0;
				}
			}
		}
	}
}

@media screen and (orientation: landscape) and (max-height: 672px) {
	.sunflower {
		transform: translate(-50%, -50%) scale(.8);
	}
}
@media screen and (orientation: landscape) and (max-height: 534px) {
	.sunflower {
		transform: translate(-50%, -50%) scale(.6);
	}
}
@media screen and (orientation: landscape) and (max-height: 415px) {
	.sunflower {
		transform: translate(-50%, -50%) scale(.4);
	}
}
@media screen and (orientation: landscape) and (max-height: 287px) {
	.sunflower {
		transform: translate(-50%, -50%) scale(.2);
	}
}

@media screen and (max-width: 500px) {
	.sunflower {
		transform: translate(-50%, -50%) scale(.8);
	}
}
@media screen and (max-width: 375px) {
	.sunflower {
		transform: translate(-50%, -50%) scale(.6);
	}
}
@media screen and (max-width: 320px) {
	.sunflower {
		transform: translate(-50%, -50%) scale(.5);
	}
}

/*____________________________________________________________
## Bell
____________________________________________________________*/
.bell {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 218px;
	height: 866px;

	.crown {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 134px;
		height: 24px;
		border-radius: 0 0 50% 50% / 0 0 100% 100%;
		background-color: #000;

		@mixin marginNumberMix($number, $marginTop) {
			&._position_#{$number} {
				top: #{$marginTop}px;
			}
		}
		@include marginNumberMix(1, 138);
		@include marginNumberMix(2, 208);
		@include marginNumberMix(3, 278);
		@include marginNumberMix(4, 348);
		@include marginNumberMix(5, 418);
		@include marginNumberMix(6, 488);
		@include marginNumberMix(7, 558);
		@include marginNumberMix(8, 628);
		@include marginNumberMix(9, 698);

		.crown__rod {
			position: absolute;
			top: -30px;
			left: 50%;
			transform: translateX(-50%);
			width: 4px;
			height: 30px;
			background-color: #000;

			.arc {
				position: absolute;
				top: -40px;
				width: 98px;
				height: 44px;
				border: 4px solid #000;
				border-top: 0;

				&._left {
					right: 0;
					border-bottom-left-radius: 50px;
					border-right: 0;

					.tongue {
						left: -16px;
					}
				}
				&._right {
					border-bottom-right-radius: 50px;
					border-left: 0;

					.tongue {
						right: -16px;
					}
				}

				.arc__rightBrunch {
					width: 94px;
					height: 4px;
					background-color: #000;

					.tongue {
						left: 74px;
					}
				}

				.arc__circleBrunch {
					position: absolute;
					top: -124px;
					width: 98px;
					height: 124px;
					border: 4px solid #000;
					border-top-right-radius: 100px;
					border-bottom: 0;
					border-left: 0;

					.tongue {
						left: -16px;
					}
				}

				.tongue {
					position: absolute;
					top: -15px;
					width: 28px;
					height: 28px;
					border-radius: 50%;
				}
			}
		}

		.crown__leg {
			position: absolute;
			bottom: -144px;
			left: 50%;
			transform: translateX(-50%);
			width: 4px;
			height: 144px;
			background-color: #000;
		}
	}
}

@media screen and (orientation: landscape) and (max-height: 900px) {
	.bell {
		transform: translate(-50%, -50%) scale(.8);
	}
}
@media screen and (orientation: landscape) and (max-height: 722px) {
	.bell {
		transform: translate(-50%, -50%) scale(.6);
	}
}
@media screen and (orientation: landscape) and (max-height: 550px) {
	.bell {
		transform: translate(-50%, -50%) scale(.4);
	}
}
@media screen and (orientation: landscape) and (max-height: 376px) {
	.bell {
		transform: translate(-50%, -50%) scale(.2);
	}
}

@media screen and (max-width: 500px) {
	.bell {
		transform: translate(-50%, -50%) scale(.8);
	}
}
@media screen and (max-width: 375px) {
	.bell {
		transform: translate(-50%, -50%) scale(.6);
	}
}
@media screen and (max-width: 320px) {
	.bell {
		transform: translate(-50%, -50%) scale(.5);
	}
}

/*____________________________________________________________
## Poplar
____________________________________________________________*/
.poplar {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 289px;
	height: 851px;

	.rod {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 4px;
		height: 100%;
		background-color: #000;

		.circle {
			position: absolute;
			width: 28px;
			height: 28px;
			border-radius: 50%;
			background-color: #000;

			&._center {
				left: 50%;
				transform: translateX(-50%);
			}
			&._center_v {
				top: 50%;
				transform: translateY(-50%);
			}
			&._bottom {
				bottom: 118px;
			}
			&._left {
				left: -12px;
			}
			&._right {
				right: -12px;
			}
		}

		.rod__arc {
			position: absolute;
			left: -61px;
			width: 125px;
			height: 125px;
			border-radius: 50%;
			border: 4px solid #000;
			transform: rotate(45deg);

			&._top {
				top: 10px;
				border-bottom-color: transparent;
				border-right-color: transparent;
			}

			&._bottom {
				bottom: 128px;
				border-top-color: transparent;
				border-left-color: transparent;
			}
		}

		.rod__basis {
			position: absolute;
			top: 326px;
			left: 50%;
			transform: translateX(-50%);
			width: 90px;
			height: 90px;
			border-radius: 50%;
			background-color: #de162a;

			.brunch {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 41px;
				height: 4px;
				background-color: #000;

				&._left {
					left: -41px;
				}
				&._right {
					right: -41px;
				}

				.brunch__trunk {
					position: absolute;
					width: 4px;
					height: 62px;
					background-color: #000;

					&._top {
						bottom: 0;
					}
					&._right {
						right: 0
					}
				}
			}
		}
	}
	.crownsWrap {
		position: absolute;
		width: 121px;
		height: 239px;

		&._top {
			top: 72px;
		}
		&._bottom {
			bottom: 181px;
		}
		&._left {
			.crown {
				right: 0;
			}
		}
		&._right {
			right: 0;
		}

		.crown {
			position: absolute;
			border-radius: 0 0 50% 50% / 0 0 100% 100%;
			background-color: #000;

			@mixin sizeNumberMix($number, $width, $height) {
				&._size_#{$number} {
					width: #{$width}px;
					height: #{$height}px;
				}
			}
			@include sizeNumberMix(1, 74, 13);
			@include sizeNumberMix(2, 80, 14);
			@include sizeNumberMix(3, 87, 16);
			@include sizeNumberMix(4, 94, 17);
			@include sizeNumberMix(5, 100, 18);
			@include sizeNumberMix(6, 107, 19);
			@include sizeNumberMix(7, 114, 20);
			@include sizeNumberMix(8, 121, 22);

			@mixin marginNumberMix($number, $marginTop) {
				&._position_#{$number} {
					top: #{$marginTop}px;
				}
			}
			@include marginNumberMix(2, 31);
			@include marginNumberMix(3, 62);
			@include marginNumberMix(4, 93);
			@include marginNumberMix(5, 124);
			@include marginNumberMix(6, 155);
			@include marginNumberMix(7, 186);
			@include marginNumberMix(8, 217);
		}
	}
}

@media screen and (orientation: landscape) and (max-height: 881px) {
	.poplar {
		transform: translate(-50%, -50%) scale(.8);
	}
}
@media screen and (orientation: landscape) and (max-height: 710px) {
	.poplar {
		transform: translate(-50%, -50%) scale(.6);
	}
}
@media screen and (orientation: landscape) and (max-height: 540px) {
	.poplar {
		transform: translate(-50%, -50%) scale(.4);
	}
}
@media screen and (orientation: landscape) and (max-height: 370px) {
	.poplar {
		transform: translate(-50%, -50%) scale(.2);
	}
}

@media screen and (max-width: 500px) {
	.poplar {
		transform: translate(-50%, -50%) scale(.8);
	}
}
@media screen and (max-width: 375px) {
	.poplar {
		transform: translate(-50%, -50%) scale(.6);
	}
}
@media screen and (max-width: 320px) {
	.poplar {
		transform: translate(-50%, -50%) scale(.5);
	}
}

/*____________________________________________________________
# Social links
____________________________________________________________*/
.social {
	position: fixed;
	bottom: 0;
	left: 30px;
}
.socialList {
	list-style: none;
	
	&:after {
		content: '';
		display: block;
		margin: 0 auto;
		width: 1px;
		height: 40px;
		background: #749064;
	}
}
.socialList__item {
	margin-bottom: 10px;
	width: 20px;
	height: 20px;
	transition: transform .2s;
	
	&:hover {
		transform: translateY(-3px);
		
		.socialList__icon {
			stroke: #7dcbd8;
		}
	}
}

.socialList__icon {
	fill: none;
	stroke: #749064;
}