* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --hue: 223;
  --sat: 10%;
  --gray50: hsl(var(--hue), var(--sat), 95%);
  --gray950: hsl(var(--hue), var(--sat), 5%);
  --trans-dur: 0.3s;
  color-scheme: light dark;
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
}

body {
  background-color: light-dark(var(--gray50), var(--gray950));
  color: light-dark(var(--gray950), var(--gray50));
  display: grid;
  place-items: center;
  font: 1em/1.5 sans-serif;
  height: 100vh;
  transition: background-color var(--trans-dur), color var(--trans-dur);
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  justify-content: center;
  padding: 1.5em;
}

.pl {
  display: block;
  width: 4em;
  height: auto;
}
.pl circle {
  transition: stroke var(--trans-dur);
}