.header
	.publication &nbspGalactic Geographic
	.date November 17, 2074
	#imache.slider
	.mask
	#imache2.slider
	a(href="https://unsplash.com/photos/wK_DZlAJJ_Q").maintitle The Beauty of the Night 
#section1.article-body
	#sb-img1.sb-image.right
	#text1.textwords.left
		h1 Exhausted After the Hunt
		br
		p The mother wolf sleeps alone on a smooth rock. 
		span Captured in 
		a(href="https://unsplash.com/photos/wK_DZlAJJ_Q") Orlu, France by Grégoire Bertaud
		span , this placid scene contrasts the vile activities of the day.
#section2.article-body
	#sb-img2.sb-image.left
	#text2.textwords.right.textwords-alt
		h1 No Home Like Eternal Darkness
		br
		p A teeming school of bioluminescent jellyfish float along the currents. 
		span Captured in 
		a(href="https://unsplash.com/photos/jRlX5meHgvM") China by Teddy H.
		span , these grocery-bag beings float wherever the water takes them.
#section3.article-body
	#sb-img3.sb-image.right
	#text3.textwords.left
		h1 Prime Time
		br
		p With the endless nights above the arctic circle, all of the time is hunting time for this keen arctic fox.
		span Captured in 
		a(href="https://unsplash.com/photos/tHh5asdZd1g") Thórsmörk, Iceland by Jonatan Pie
		span .
.footer
	p Copyright: Galactic Geographic, 2018. All Rights Reserved.
	p Please don't sue me, NatGeo.