/*=============== SIDEBAR ===============*/
.sidebar{
   position: fixed;
   top: 0;
   left: -120%;
   bottom: 0;
   width: 232px;
   background-color: hsla(0, 0%, 0%, .2);
   backdrop-filter: blur(16px);
   z-index: 100;
   padding: 1rem 1rem 1.5rem;
   margin: 1rem;
   border-radius: 1rem;
   transition: left .4s;
   
   &__logo{
      display: flex;
      align-items: center;
      column-gap: .75rem;
      color: var(--white-color);
      padding: 0 0 1rem .5rem;
      font-weight: 500;
      border-bottom: 1px solid hsla(0, 0%, 100%, .3);

      & i{
         font-size: 1.5rem;
      }
   }
   &__content{
      display: grid;
      row-gap: .5rem;
      padding-top: 1.5rem;
   }
   &__link{
      display: flex;
      align-items: center;
      column-gap: .75rem;
      color: var(--white-color);
      padding: .5rem;
      border-radius: .5rem;
      transition: background-color .4s;

      & i{
         font-size: 1.25rem;
      }
      & span{
         font-weight: 500;
      }
      &:hover{
         background-color: hsla(0, 0%, 0%, .2);
      }
   }
}

/* Show sidebar */
.show-sidebar{
   left: 0;
}

/*=============== DROPDOWN ===============*/
.drop{
   &__button{
      width: 100%;
      flex-direction: row;
      border: none;
      outline: none;
      background: none;
      font: 500 var(--normal-font-size) var(--body-font);
      cursor: pointer;
   }
   &__arrow{
      margin-left: auto;
      transition: transform .4s;
   }
   &__list{
      display: grid;
      row-gap: .25rem;
      height: 0;
      overflow: hidden;
      transition: height .4s;
   }
   &__item{
      position: relative;
      display: block;
      color: var(--white-color);
      padding: .5rem .5rem .5rem 2.25rem;
      border-radius: .5rem;
      transition: background-color .4s;

      &::after{
         content: '';
         width: 6px;
         height: 6px;
         background-color: var(--white-color);
         position: absolute;
         left: 1rem;
         top: 0;
         bottom: 0;
         margin: auto 0;
         border-radius: 50%;
      }
      &:hover{
         background-color: hsla(0, 0%, 0%, .2);
      }
   }
}

/* Rotate drop icon */
.show-drop .drop__arrow{
   transform: rotate(-180deg);
}
