/*=============== GOOGLE FONTS - Insert link for typography ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(350, 70%, 65%);
  --first-color-alt: hsl(350, 70%, 62%);
  --second-color: hsl(350, 40%, 20%);
  --title-color: hsl(350, 28%, 15%);
  --text-color: hsl(350, 25%, 28%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(350, 95%, 90%);
  --container-color: hsl(350, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Pacifico", cursive;
  --biggest-font-size: 3rem;
  --bigger-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media (width >= 1150px) {
  :root {
    --biggest-font-size: 5rem;
    --bigger-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
button {
  background: none;
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
  font-family: var(--second-font);
  line-height: 120%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}
.section__title {
  text-align: center;
  font-size: var(--bigger-font-size);
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow 0.4s;
}
.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.nav__logo img {
  width: 1.5rem;
}
.nav__logo span {
  font-family: var(--second-font);
  font-size: var(--h3-font-size);
  color: var(--title-color);
}
.nav__toggle {
  color: var(--title-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/* Navigation for mobile devices <> */
@media (width <= 1150px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -120%;
    background-color: var(--body-color);
    width: 80%;
    height: 100%;
    box-shadow: -2px 0 16px hsla(350, 70%, 20%, 0.1);
    padding: 7rem 0 2rem 2rem;
    z-index: var(--z-fixed);
    transition: right 0.4s;
  }
}
.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.nav__link{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}
.nav__link:hover{
  color: var(--first-color);
}
.nav__close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--title-color);
  font-size: 1.5rem;
  cursor: pointer;
}
.nav__img{
  position: absolute;
  width: 100px;
  right: 1.5rem;
  bottom: 1.5rem;
}
/* Show menu */
.show-menu{
  right: 0;
}
/* Change header styles */

/* Active link */

/*=============== HOME SECTION ===============*/

/* Swiper class */

/*=============== BUTTON ===============*/

/*=============== ABOUT SECTION ===============*/

/*=============== PRODUCTS SECTION ===============*/

/* Swiper class */

/*=============== NEW SECTION ===============*/

/* Swiper class */

/*=============== CONTACT SECTION ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL BAR ===============*/

/*=============== SCROLL UP ===============*/

/* Show Scroll Up */

/*=============== BREAKPOINTS ===============*/
/* For small devices <> */

/* For medium devices <> */

/* For large devices <> */
@media (width >= 1150px) {
  .container{
    margin-inline: auto;
  }
  .section{
    padding-block: 7rem 2rem;
  }
  .nav{
    height: calc(var(--header-height) + 2rem);
  }
  .nav__toggle,
  .nav__close,
  .nav__img{
    display: none;
  }
  .nav__list{
    font-display: row;
    column-gap: 4rem;
  }
}
/* For 2K resolutions <> */
