/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(45, 100%, 50%);
  --first-color-alt: hsl(45, 100%, 48%);
  --first-color-light: hsl(45, 100%, 88%);
  --gradient-color: linear-gradient(
    180deg,
    hsl(45, 100%, 65%) 0%,
    hsl(45, 100%, 45%) 100%
  );
  --title-color: hsl(45, 4%, 8%);
  --text-color: hsl(45, 4%, 40%);
  --text-color-light: hsl(45, 4%, 60%);
  --white-color: hsl(45, 80%, 98%);
  --dark-color: hsl(45, 4%, 8%);
  --body-color: hsl(45, 100%, 96%);
  --container-color: hsl(45, 100%, 99%);
  --shadow-first-color: hsla(45, 100%, 50%, 0.3);
  --shadow-small: 0 4px 8px hsla(45, 50%, 8%, 0.1);
  --shadow-big: 0 2px 16px hsla(45, 50%, 8%, 0.1);
  --shadow-img-small: drop-shadow(0 4px 8px hsla(45, 50%, 8%, 0.2));
  --shadow-img-big: drop-shadow(0 16px 4px hsla(45, 50%, 8%, 0.3));

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 2.25rem;
  --bigger-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4rem;
    --bigger-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color 0.4s;
}

input,
button {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/

/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--bigger-font-size);
  margin-bottom: 2rem;
}

.section__subtitle {
  font-size: var(--normal-font-size);
  color: var(--first-color);
  margin-bottom: 0.25rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: background-color 0.4s, box-shadow 0.4s;
}
.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}
.nav__logo i {
  font-size: 1.5rem;
  color: var(--title-color);
  transition: color 0.4s;
}
.nav__logo span {
  font-weight: var(--font-bold);
  color: var(--first-color);
}
.nav__toggle {
  display: flex;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
  transition: transform 0.4s;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: 5rem;
    left: -200%;
    right: 0;
    margin: 0 auto;
    width: 75%;
    box-shadow: var(--shadow-big);
    background-color: var(--body-color);
    padding: 3.5rem;
    border-radius: 3rem;
    border: 3px solid var(--first-color);
    transition: left 0.4s, background-color 0.4s, box-shadow 0.4s;
  }
}
.nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}
.nav__link:hover {
  color: var(--first-color);
}
.nav__theme {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}
/* Show menu */
.show-menu {
  left: 0;
}
.show-menu + .nav__toggle {
  transform: rotate(90deg);
}
/* Add shadow header */

/* Active link */

/*=============== HOME ===============*/

/*=============== BUTTON ===============*/

/*=============== SERVICE ===============*/

/*=============== MENU ===============*/

/*=============== REVIEWS ===============*/

/* Swiper class */

/*=============== APP ===============*/

/*=============== MAP ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL BAR ===============*/

/*=============== SCROLL UP ===============*/

/* Show Scroll Up */

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 360px) {
  .container {
    margin-inline: 1rem;
  }
}
@media screen and (min-width: 540px) {
  .nav__menu {
    width: 50%;
  }
}
/* For medium devices */

/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
  .nav {
    height: calc(var(--header-height) + 2rem);
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }
  .nav__theme {
    position: initial;
    font-size: 1.5rem;
  }
  .nav__menu {
    width: initial;
    display: flex;
    column-gap: 4rem;
    align-items: center;
  }
}
/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
