@import url(https://fonts.bunny.net/css?family=jura:300,500);
@layer base, demo;

@layer demo {

  .linked-list {
    --dot-size: 8px;
    --dot-color: dodgerblue;
    --join-line-color: dodgerblue;
    
    position: relative;
    display: grid;
    align-items: start; 
    grid-template-columns: 1fr .15fr 1fr;
    grid-template-areas: 'items links options';
    width: min(100%, 800px);

    &:first-child{
      grid-area: items;  
    }
    &:last-child{
      grid-area: options;  
    }
  }
  
    .list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: grid;
      gap: .5rem;
      & > li{
        position: relative;
        border: 1px solid var(--clr-lines);
        display: flex;
        align-items: center;  
        & > label{
          flex: 1;
          padding: .5rem;
          cursor: pointer;
        }
      }
      &.left li:has(:checked)::after{
        content: '';
        position: absolute;
        top:50%;
        left: 100%;
        translate: -50% -50%;
        width: var(--dot-size,5px);
        aspect-ratio: 1;
        background-color: var(--dot-color);
        border-radius: 50%;
      }
      &.right li:has(:checked)::after{
        content: '';
        position: absolute;
        top:50%;
        left:0;
        translate: -50% -50%;
        width: var(--dot-size,5px);
        aspect-ratio: 1;
        background-color: var(--dot-color);
        border-radius: 50%;
      }
    }
 
  
  [id="links"] {
    grid-area: links;
    height: 100%;
    pointer-events: none;
  }
  
  path {
    stroke: var(--join-line-color);
    stroke-width: 1;
    fill: none;
  }


}
  
  
  /* general styling not relevant for this demo */
@layer base {
	* {
		box-sizing: border-box;
	}
	:root {
		color-scheme: light dark;
		--bg-dark: rgb(16, 24, 40);
		--bg-light: rgb(248, 244, 238);
		--txt-light: rgb(10, 10, 10);
		--txt-dark: rgb(245, 245, 245););
		--line-light: rgba(0 0 0 / .25);
		--line-dark: rgba(255 255 255 / .25);
    
    --clr-bg: light-dark(var(--bg-light), var(--bg-dark));
    --clr-txt: light-dark(var(--txt-light), var(--txt-dark));
    --clr-lines: light-dark(var(--line-light), var(--line-dark));
	}
 
	body {
		background-color: var(--clr-bg);
		color: var(--clr-txt);
		min-height: 100svh;
		margin: 0;
		padding: 2rem;
		font-family: "Jura", sans-serif;
		font-size: 1rem;
		line-height: 1.5;
    display: grid;
    place-content: center;
    gap: 2rem;
		& > * {
			/*outline: 1px dashed red;*/
		}
	}
	h1 {
		margin: 0;
		font-size: 1.2rem;
	}

	.msg-supports {
		font-size: 0.8rem;
		/*
    @supports (animation-timeline: scroll()) {
			display: none;
		}
    @supports (order:sibling-index()) {
			display: none;
		}
    @supports (x: attr(x type(*))) {
			display: none;
		}
    */
	}
}