/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (min-width: 1150px){
   .container{
      margin-inline: auto;
   }

   .header{
      top: 2.5rem;
   }

   .nav{
      height: calc(var(--header-height) + 1.5rem);
      padding: .75rem 1rem;

      &__logo{
         width: 56px;
         height: 56px;

         & i{
            font-size: 2rem;
         }
      }
      &__list{
         flex-direction: row;
         column-gap: 3rem;
      }
      &__email{
         font-size: var(--normal-font-size);
      }
      &__toggle{
         display: none;
      }
   }
}
