@import url('https://unpkg.com/normalize.css') layer(normalize);

@layer normalize, base, demo, cubes, reveal;

@layer reveal {
  [data-reveal='true'] {
    .cuboid div::after {
      opacity: 0.5;
    }
    .cuboid div {
      background: light-dark(
        hsl(280 calc(10% + (var(--proximity, 0) * 280%)) 70% / 0.5),
        hsl(10 calc(10% + (var(--proximity, 0) * 280%)) 30% / 0.5)
      );
    }

    .card > div:not([class]) > div {
      transform: translateZ(200px);
    }
    .corners {
      opacity: 1;
    }
    .card > div:not([class])::after {
      opacity: 1;
      transform: translateZ(-170px);
    }
    .readout,
    .corners .c svg {
      opacity: 1;
    }
  }

  .card > div:not([class])::after {
    content: attr(data-proximity);
    position: absolute;
    opacity: 0;
    inset: 0;
    display: grid;
    place-items: center;
    font-size: .875rem;
    font-family: monospace;
    transform: translateZ(0px);
    color: color-mix(in hsl, currentColor, #0000 calc((1 - var(--proximity, 0)) * 80%));
    background: hsl(calc(140 - (var(--proximity, 0) * 140)) 60% 50% / var(--proximity, 0));
    transition: opacity 0.26s ease-out, transform 0.26s ease-out;
  }
  
  .corners {
    background: repeating-linear-gradient(45deg,
      hsl(210 0% 60% / 0.5) 0 1px,
      hsl(210 0% 60% / 0.1) 1px 10px
    );
    outline: 2px dashed hsl(210 0% 70% / 0.5);
    opacity: 0;
    transition: opacity 0.26s ease-out;
  }
  .card > div:not([class]) > div {
    transition: transform 0.26s ease-out;
  }

  .cuboid div {
    transition: background 0.26s ease-out;
  }

  .corners .c svg {
    width: 24px;
    aspect-ratio: 1;
    color: currentColor;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    opacity: 0;
    transition: opacity 0.26s ease-out;
  }


  .cuboid div::after {
    content: '';
    position: absolute;
    inset: 0;
    border: 2px dashed hsl(20 0% 50%);
    opacity: 0;
    transition: opacity 0.26s ease-out;
  }
}

@layer cubes {
  .cuboid {
    width: 100%;
    /*height: calc(200% - (var(--proximity, 0) * 200%));*/
    height: 200%;
    /*scale: calc(1 - var(--proximity, 0)) 1;*/
    position: absolute;
    bottom: 50%;
    transform-origin: 50% 100%;
    transform: rotateX(-90deg) translateY(50%)
      scaleY(calc(1 - (var(--proximity, 0) * 0.9)));
    container-type: size;

    transform-style: preserve-3d;

    div {
      background: light-dark(
        hsl(280 calc(10% + (var(--proximity, 0) * 280%)) 70%),
        hsl(10 calc(10% + (var(--proximity, 0) * 280%)) 30%)
      );
    }

    div:nth-of-type(1) {
      position: absolute;
      width: 100%;
      height: 50cqb;
      top: 0;
      transform: translateY(-50%) rotateX(-90deg);
    }
    div:nth-of-type(2) {
      position: absolute;
      width: 50cqb;
      height: 100%;
      aspect-ratio: 1;
      top: 0;
      left: 0;
      transform-origin: 0 50%;
      transform: rotateY(-90deg) translateX(-50%);
      filter: brightness(0.25);
    }
    div:nth-of-type(3) {
      position: absolute;
      width: 100%;
      height: 100%;
      aspect-ratio: 1;
      top: 0;
      left: 0;
      transform-origin: 0 50%;
      transform: translate3d(0, 0, 25cqb);
      filter: brightness(0.5);
    }
  }

  .arrow {
    display: inline-block;
    position: fixed;
    font-size: 0.875rem;
    opacity: 1;
    font-family: 'Gloria Hallelujah', cursive;
    transition: opacity 0.26s ease-out;
    rotate: 10deg;
    width: 60px;
    z-index: 99999;
    top: 50%;
    left: 50%;
    translate: -200% -350%;
    transition: opacity 0.26s ease-out;
    pointer-events: none;;

    span {
      display: inline-block;
      rotate: -24deg;
      width: 160%;
      translate: -20% 110%;
    }
    svg {
      scale: 1 -1;
      translate: 60% 60%;
      rotate: -5deg;
      left: 0%;
      width: 80%;
    }
  }
}

@layer demo {
  .card {
    position: relative;
    width: calc(var(--width) * 1px);
    height: calc(var(--height) * 1px);
    transform: rotateX(calc(var(--x1, 0) * 1deg))
      rotateY(calc(var(--y1, 0) * 1deg)) rotateX(calc(var(--x2, 0) * 1deg)); /* isometric-ish */
    transform-style: preserve-3d;

    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    gap: 4px;

    div:not([class]) {
      /*background: hsl(calc(0 + (var(--proximity, 0) * 120)) 100% 50%);*/
      background: #0000;
      display: grid;
      place-items: center;
      /*overflow: hidden;*/
      position: relative;
      transform-style: preserve-3d;

      & > div {
        width: 100%;
        height: 100%;
      }
    }
  }

  /* markers to “carry” the corners through the transform */
  .corners {
    position: absolute;
    inset: 0;
  }
  .corners .c {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
  }
  .corners .tl {
    left: 0;
    top: 0;
  }
  .corners .tr {
    right: 0;
    top: 0;
  }
  .corners .bl {
    left: 0;
    bottom: 0;
  }
  .corners .br {
    right: 0;
    bottom: 0;
  }

  .readout {
    position: absolute;
    top: calc(100% + 2rem);
    left: 50%;
    translate: -50% 0;
    rotate: -90deg x;
    opacity: 0;
    transition: opacity 0.26s ease-out;
    font: 600 14px/1.2 ui-monospace, SFMono-Regular, Menlo, monospace;
  }
}

@layer base {
  :root {
    --font-size-min: 16;
    --font-size-max: 20;
    --font-ratio-min: 1.2;
    --font-ratio-max: 1.33;
    --font-width-min: 375;
    --font-width-max: 1500;
  }

  html {
    color-scheme: light dark;
  }

  [data-theme='light'] {
    color-scheme: light only;
  }

  [data-theme='dark'] {
    color-scheme: dark only;
  }

  :where(.fluid) {
    --fluid-min: calc(
      var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0))
    );
    --fluid-max: calc(
      var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0))
    );
    --fluid-preferred: calc(
      (var(--fluid-max) - var(--fluid-min)) /
        (var(--font-width-max) - var(--font-width-min))
    );
    --fluid-type: clamp(
      (var(--fluid-min) / 16) * 1rem,
      ((var(--fluid-min) / 16) * 1rem) -
        (((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) +
        (var(--fluid-preferred) * var(--variable-unit, 100vi)),
      (var(--fluid-max) / 16) * 1rem
    );
    font-size: var(--fluid-type);
  }

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  body {
    background: light-dark(#fff, #000);
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue',
      Helvetica, Arial, sans-serif, system-ui;
  }

  body::before {
    --size: 45px;
    --line: color-mix(in hsl, canvasText, transparent 80%);
    content: '';
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: linear-gradient(
          90deg,
          var(--line) 1px,
          transparent 1px var(--size)
        )
        calc(var(--size) * 0.36) 50% / var(--size) var(--size),
      linear-gradient(var(--line) 1px, transparent 1px var(--size)) 0%
        calc(var(--size) * 0.32) / var(--size) var(--size);
    -webkit-mask: linear-gradient(-20deg, transparent 50%, white);
            mask: linear-gradient(-20deg, transparent 50%, white);
    top: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -1;
  }

  .bear-link {
    color: canvasText;
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 48px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    opacity: 0.8;
  }

  :where(.x-link, .bear-link):is(:hover, :focus-visible) {
    opacity: 1;
  }

  .bear-link svg {
    width: 75%;
  }

  /* Utilities */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

div.tp-dfwv {
  width: 280px;
  position: fixed;
}