/*=============== GOOGLE FONTS - Insert link for typography ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(30, 32%, 56%);
  --first-color-alt: hsl(30, 32%, 46%);
  --white-color: hsl(0, 0%, 98%);
  --dark-color: hsl(0, 0%, 10%);
  --text-color: hsl(0, 0%, 20%);
  --body-color: hsl(0, 0%, 8%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Lora", serif;
  --second-font: "Dancing Script", cursive;
  --biggest-font-size: 2.5rem;
  --bigger-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media (width >= 1150px) {
  :root {
    --biggest-font-size: 4rem;
    --bigger-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--white-color);
}

input,
button {
  background: none;
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}
.section__title {
  text-align: center;
  font-size: var(--bigger-font-size);
  margin-bottom: 1rem;
}

.section__subtitle {
  display: block;
  text-align: center;
  font: var(--font-bold) var(--bigger-font-size) var(--second-font);
  color: var(--first-color);
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow 0.4s;
}
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  color: var(--first-color);
  font: var(--font-bold) var(--h2-font-size) var(--second-font);
}
.nav__toggle {
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/* Navigation for mobile devices <> */
@media (width <= 1150px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -120%;
    background-color: var(--body-color);
    width: 80%;
    height: 100%;
    box-shadow: -2px 0 16px hsla(0, 0%, 0%, 0.3);
    padding: 7rem 0 2rem 3rem;
    z-index: var(--z-fixed);
    transition: right 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.nav__link {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}
.nav__link:hover {
  color: var(--first-color);
}
.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer;
}
/* Show menu */
.show-menu {
  right: 0;
}
/* Change header styles */
.scroll-header {
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.3);
}
/* Active link */

/*=============== HOME SECTION ===============*/
.home__container {
  row-gap: 5rem;
  padding-top: 4.5rem;
}
.home__data {
  text-align: center;
}
.home__title {
  font-size: var(--bigger-font-size);
  margin-bottom: 2rem;
}
.home__images {
  position: relative;
  justify-self: center;
}
.home__images img {
  position: absolute;
}
.home__images .home__fryingpan {
  position: relative;
  width: 280px;
  z-index: 10;
}
.home__rosemary-2 {
  width: 100px;
  right: -1rem;
  bottom: 4rem;
}
.home__spoon {
  width: 80px;
  top: 1rem;
  right: -1.5rem;
}
.home__onion {
  width: 60px;
  top: -1rem;
  left: 0;
}
.home__rosemary-1 {
  width: 60px;
  left: -2rem;
  bottom: 3rem;
}
.home__tomato {
  width: 60px;
  left: 0.5rem;
  bottom: 1.5rem;
}
.home__pepper {
  width: 100px;
  right: 6rem;
  bottom: 1rem;
}
.home__salt-1 {
  width: 150px;
  top: -1.5rem;
  right: 1rem;
}
.home__salt-2 {
  width: 150px;
  left: -3rem;
  bottom: 3.5rem;
}
/*=============== BUTTON ===============*/
.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: transparent;
  color: var(--white-color);
  border: 2px solid var(--white-color);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  transition:
    background-color 0.4s,
    border-color 0.4s,
    color 0.4s;
}
.button i {
  font-size: 1.5rem;
  font-weight: initial;
}
.button:hover {
  border-color: var(--first-color);
  background-color: var(--first-color);
  color: var(--dark-color);
}
/*=============== ABOUT SECTION ===============*/

/*=============== MENU SECTION ===============*/

/*=============== EVENTS SECTION ===============*/

/*=============== INGREDIENTS SECTION ===============*/

/*=============== CONTACT SECTION ===============*/

/*=============== RESERVATION SECTION ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL BAR ===============*/

/*=============== SCROLL UP ===============*/

/* Show Scroll Up */

/*=============== BREAKPOINTS ===============*/
/* For medium devices <> */

/* For large devices <> */

/* For 2K resolutions <> */
