* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hero {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f0c08;
}
.clipped-left {
  -webkit-clip-path: url(#clipped-left);
  clip-path: url(#clipped-left);
}
.clipped-right {
  -webkit-clip-path: url(#clipped-right);
  clip-path: url(#clipped-right);
}

#image1 {
  background-image: url(../img/a.jpg);
}
#image2 {
  background-image: url(../img/b.jpg);
}
#image3 {
  background-image: url(../img/c.jpg);
}

.hero .elastic-slider {
  cursor: grab;
  width: 900px;
  height: 600px;
}

.hero .elastic-slider div {
  background-size: cover;
  background-position: center;
}
