#ui
  .crystal
    .crystal_panel.top.front
    .crystal_panel.top.back
    .crystal_panel.top.left
    .crystal_panel.top.right
    .crystal_panel.bottom.front
    .crystal_panel.bottom.back
    .crystal_panel.bottom.left
    .crystal_panel.bottom.right