/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
   /*========== Colors ==========*/
   /*Color mode HSL(hue, saturation, lightness)*/
   --first-color: hsl(220, 90%, 52%);
   --black-color: hsl(220, 16%, 12%);
   --white-color: hsl(0, 0%, 100%);
   --body-color: hsl(220, 48%, 99%);

   /*========== Font and typography ==========*/
   /*.5rem = 8px | 1rem = 16px ...*/
   --body-font: "Syne", sans-serif;

   --h1-font-size: 1.5rem;
   --normal-font-size: .938rem;
}

/*========== Responsive typography ==========*/
:root{
   @media (width >= 1150px){
      --h1-font-size: 2.25rem;
      --normal-font-size: 1rem;
   }
}
