@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
* {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  background-color: #ececec;
  background: linear-gradient(45deg, #bdbdfa, #efe2dc) no-repeat center/auto;
  font-family: "Aboreto", system-ui;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.image-wrapper {
  position: relative;
  width: 360px;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 5px 5px 20px #0005;
  --mask-gradient: transparent, rgb(255, 255, 255) 20% 80%, transparent;
}
.image-wrapper .image-bg {
  position: absolute;
  inset: 0;
  background: no-repeat center/cover;
  filter: blur(10px) brightness(0.8) contrast(0.7);
}
.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  mask: linear-gradient(0deg, var(--mask-gradient));
}
.image-wrapper img.vertical {
  mask: linear-gradient(90deg, var(--mask-gradient));
}

.image-list {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.image-list .thumbnail {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  background: #fffa no-repeat center/contain;
  transition: all 0.2s;
  box-shadow: 2px 2px 10px #0005;
  cursor: pointer;
}
.image-list .thumbnail:hover {
  box-shadow: 5px 5px 15px #000a;
}