@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap");
:root {
  --main-color: #5352ed;
  --light-color: #f7f7f7;
  --grey-color: #9f9f9f;
  --dark-color: #18161e;
}

* {
  margin: 0;
  padding: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--light-color);
  background-color: var(--dark-color);
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
img {
  min-width: 100%;
  vertical-align: middle;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2em;
}
/* 01. HEADER */
header {
  line-height: 90px;
}
header :where(nav, .menu, .menu ul) {
  display: flex;
  align-items: center;
}
.logo a {
  font-size: 1.5em;
  font-weight: 600;
  margin-right: 2.5em;
}
/* HEADER: RESPONSIVE MENU */
nav {
  justify-content: space-between;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  background-color: var(--dark-color);
  z-index: 100;
  transform: translateX(-100%);
  visibility: hidden;
  transition: transform 0.3s, visibility 0.3s;
}
.showmenu .menu {
  transform: translateX(0);
  visibility: visible;
}
.menu ul {
  flex-direction: column;
  line-height: normal;
  width: 100%;
  gap: 1em;
  font-size: 1.75em;
}
.menu .close {
  position: absolute;
  top: 0;
  right: 0;
  line-height: normal;
  padding: 0.75em;
  font-size: 1.5em;
  display: flex;
}
.menu a {
  transition: color 0.3s;
}
.menu a:hover,
a.menu-trigger:hover {
  color: var(--main-color);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-color);
  opacity: 0;
  z-index: 99;
  visibility: hidden;
}
.showmenu .overlay {
  opacity: 0.75;
  visibility: visible;
}
/* HEADER: GENERAL BUTTON */
.button a {
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  min-width: 110px;
  padding: 0 2em;
  line-height: 42px;
  border: 2px solid transparent;
  border-radius: 25px;
  margin: 0 1em 1em 0;
  transition: border-radius 0.3s, color 0.3s;
}
.button a.light {
  background-color: var(--main-color);
  border-bottom-left-radius: 0;
  box-shadow: rgb(83, 82, 237) 0px 12px 40px -12px;
}
.button a.light:hover {
  border-top-right-radius: 0;
}
.button a.dark {
  border-top-right-radius: 0;
  border: 2px solid var(--main-color);
}
.button a.dark:hover {
  color: var(--main-color);
  border-bottom-left-radius: 0;
  box-shadow: rgb(83, 82, 237) 0px 12px 40px -12px;
}
.button a.menu-trigger {
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
  padding: 0 16px;
  min-width: auto;
  border: 0;
}

/* 02. HERO */
main > div{
  padding-bottom: 8em;
}
.grid{
  display: flex;
  padding-top: 50px;
}
.hero{
  border-bottom: 1px solid #3f3b4a;
}
.hero .grid{
  flex-direction: column-reverse;
}
.grid .half{
  flex: 1 0 50%;
}
.grid__text{
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 7em 0 0 2em;
  height: 100%;
}
:where(.grid, .grid__text) h2{
  font-size: 3em;
  font-weight: 800;
}
.grid p {
  color: var(--grey-color);
}
.start-meeting{
  display: flex;
  margin-top: 3em;
  align-self: center;
  text-align: right;
}
.start-meeting .button{
  position: relative;
  margin-left: 1.5em;
}
.start-meeting .button::before{
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: 50px;
  height: 50px;
  margin-left: -14px;
  border-radius: 50%;
  background-color: var(--main-color);
  transform: scale(1.75);
  opacity: .15;
}
.start-meeting .button a{
  min-width: auto;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0 0 0 1em;
  padding: 0.25em;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(135deg);
  z-index: 1;
}
.start-meeting .button a i{
  transform: rotate(-135deg);
}
.hero .hero__image{
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  margin: auto;
}
.hero .hero__image .col{
  flex: 0 0 calc(33.3333% - 1em);
  position: relative;
  z-index: -1;
}
.hero .hero__image .col .pic{
  position: relative;
  min-height: 250px;
  background-color: var(--main-color);
  border-radius: 70px;
  margin-bottom: 1em;
  overflow: hidden;
}
.hero .hero__image img{
  position: absolute;
  left: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
}
.hero .hero__image .left{
  top: -50px;
}
.hero .hero__image .middle{
  top: -250px;
  margin-bottom: -250px;
}
.hero .hero__image .right{
  top: 50px;
}
.hero .hero__image .left .pic:first-child{
  height: 350px;
  background-color: #feca57;
}
.hero .hero__image .left .pic:last-child{
  background-color: #0abde3;
}
.hero .hero__image .middle .pic:nth-child(1){
  background-color: var(--main-color);
  height: 400px;
}
.hero .hero__image .middle .pic:nth-child(2){
  background-color: #c8d6e5;
  height: 300px;
}
.hero .hero__image .middle .pic:nth-child(3){
  background-color: #222f3e;
}
.hero .hero__image .right .pic:first-child{
  height: 350px;
  background-color: #ee5253;
}
.hero .hero__image .right .pic:last-child{
  background-color: #54a0ff;
  height: 300px;

}
/* 03. FEATURES */
/* 04. BRANDS */
/* 05. ENGAGE */
/* 06. CTA */
/* 07. FOOTER */
/* 08. ANIMATE */

@media screen and (min-width: 992px) {
  header {
    line-height: 150px;
  }
  nav {
    justify-content: unset;
  }
  .menu {
    position: relative;
    background-color: transparent;
    transform: none;
    visibility: visible;
  }
  .menu ul {
    font-size: inherit;
    flex-direction: row;
    line-height: inherit;
    gap: 2.5em;
  }
  .button .menu-trigger,
  .menu .close {
    display: none;
  }
  .hero .grid{
    flex-direction: row;
    padding-top: 0;
  }
  .hero .grid .half:last-child{
    padding-top: 130px;
  }
}
