@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
:root {
  --primary-color: #480ca8;
  --primary-color-hue: 259; /* Hue of #480ca8 */
  --primary-color-saturation: 79%; /* Saturation of #480ca8 */
  --primary-color-lightness: 34%; /* Lightness of #480ca8 */
  --primary-color-variant: #4cc9f0;
  --secondary-color: #f72585; /* Base color */
  --secondary-color-hue: 326; /* Hue of #f72585 */
  --secondary-color-saturation: 89%; /* Saturation of #f72585 */
  --secondary-color-lightness: 58%; /* Lightness of #f72585 */
  --white-color: #ffffff;
  --light-color: rgba(#fff, 0.7);
  --black-color: #0c031b;
  --dark-color: rgba(var(--black-color), 0.7);
  --success-color: #54eb72;
  --container-lg: 82%;
  --container-md: 90%;
}

* {
  box-sizing: border-box;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  color: var(--dark-color);
  background: rgba((var(--primary-color-variant), 0.1));
  user-select: none;
}

img {
  display: block;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}
section {
  margin-top: 6rem;
}
section > h2 {
  text-align: center;
}
section > p {
  text-align: center;
  width: 42%;
  margin: 0.6rem auto 2.5rem;
}

.container {
  width: var(--container-lg);
  margin: 0 auto;
}

.btn,
.btn-primary {
  display: inline-block;
  width: fit-content;
  padding: 0.75rem 1rem;
  border-radius: 0.4rem;
  background: var(--secondary-color);
  color: var(--white-color);
  cursor: pointer;
  transition: all 400ms ease;
}
.btn:hover,
.btn-primary:hover {
  background: hsl(
    var(--secondary-color-hue),
    var(--secondary-color-saturation),
    calc(var(--secondary-color-lightness) + 8%)
  );
  box-shadow: 0 1rem 1.6rem rgba(0, 0, 0, 0.15);
}
.btn-primary {
  background: var(--primary-color);
}
.btn-primary:hover {
  background: hsl(
    var(--primary-color-hue),
    var(--primary-color-saturation),
    calc(var(--primary-color-lightness) + 8%)
  );
}
/* ======================= NAV ======================== */
nav {
  width: 100vw;
  height: 5rem;
  position: fixed;
  z-index: 10;
  display: grid;
  place-items: center;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

nav .container {
  display: flex;
  justify-content: center;
}

nav .container ul {
  display: flex;
}
/*  only for medium and small devices */
nav .container button{
  display: none;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ======================= */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-md);
  }
  section > p {
    width: 55%;
  }
}
/* ================ MEDIA QUERIES (SMALL DEVICES) ======================= */
@media screen and (max-width: 600px) {
  section > p {
    width: var(--container-md);
  }
}
