/*=============== LAYOUT ===============*/
.image-bg{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
   z-index: -1;
}

.main{
   padding-top: 5rem;
   margin-inline: 1.5rem;
   color: var(--white-color);
}
