path {
  animation: bounce 0.8s infinite;
  transform-origin: bottom;
}

.example2 path {
  animation: bob 0.8s infinite;
  transform-origin: bottom;
}

.example3 path {
  animation: wiggle 0.8s infinite;
  transform-origin: bottom;
}

#tree1 {
  animation-delay: 0.15s;
}

#tree2 {
  animation-delay: 0.3s;
}

#tree3 {
  animation-delay: 0.45s;
}

#tree4 {
  animation-delay: 0.6s;
}

@keyframes bob {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-10%);
  }
  30% {
    transform: translateY(1%);
  }
  40% {
    transform: translateY(1);
  }
}
@keyframes bounce {
  0% {
    transform: scaleY(1);
  }
  10% {
    transform: scaleY(1.2);
  }
  30% {
    transform: scaleY(0.9);
  }
  40% {
    transform: scaleY(1);
  }
}
@keyframes wiggle {
  0% {
    transform: skew(0deg);
  }
  7% {
    transform: skew(6deg);
  }
  17% {
    transform: skew(-4.5deg);
  }
  27% {
    transform: skew(3.3deg);
  }
  37% {
    transform: skew(-2deg);
  }
  41% {
    transform: skew(0deg);
  }
}
body {
  text-align: center;
  background: #f0f0eb;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  align-items: center;
  justify-content: center;
}

#messages {
  font-family: sans-serif;
  display: flex;
  width: 400px;
  overflow: hidden;
  position: relative;
  height: 1.5em;
  margin-top: -20px;
  color: #275243;
  font-size: 20px;
}
#messages p {
  white-space: nowrap;
  margin: 0;
  line-height: 1.5;
  min-width: 400px;
  text-align: center;
  position: absolute;
  right: 200%;
  transition: right 1s ease-in-out;
}
#messages p:last-child {
  right: -200%;
}
#messages p:nth-last-child(2) {
  right: 0;
}