.toggle-wrapper
	.toggle.normal
		input#normal(type="checkbox")
		label.toggle-item(for="normal")
	.name Normal

.toggle-wrapper
	.toggle.transparent
		input#transparent(type="checkbox")
		label.toggle-item(for="transparent")
	.name Transparent

.toggle-wrapper
	.toggle.checkcross
		input#checkcross(type="checkbox")
		label.toggle-item(for="checkcross")
			.check
	.name Yes & No

.toggle-wrapper
	.toggle
		input#gravity(type="checkbox")
		label.toggle-item(for="gravity")
	.name Gravity

.toggle-wrapper
	.toggle.pancake-stack
		input#pancake(type="checkbox")
		label.toggle-item(for="pancake")
			.pancakes
				.pancake
				.pancake
				.pancake
				.butter
	.name Pancake Stacks
			
.toggle-wrapper
	.toggle.dog-rollover
		input#doggo(type="checkbox")
		label.toggle-item(for="doggo")
			.dog
				.ear
				.ear.right
				.face
					.eyes
					.mouth
	.name Doggo Wants a Treat
					
.toggle-wrapper
	.toggle.basketball-hoop
		input#hoop(type="checkbox")
		label.toggle-item(for="hoop")
			.ball__wrapper
				.ball
			.hoop
	.name Kobe Bryant Tribute

.toggle-wrapper
	.toggle.beer-pong
		input#beer-pong(type="checkbox")
		label.toggle-item(for="beer-pong")
		.cup
			.lid
	.name Beer Pong



	